/*---------------------------------------------------------------------
  Title
-----------------------------------------------------------------------*/
.landing-style-1 {
	.main-left {
		margin-bottom: 60px !important;
	}
	.title-box {
		margin-top: -5px;
		h2 {
			margin-bottom: 15px;
		}
		.title-design {
			font-weight: normal;
			color: $primary;
			display: inline-block;
			position: relative;
			text-transform: uppercase;
		}
		span.title-design.sub-title {
			color: $white;
			&:before {
				background: $white;
				content: "";
			}
		}
		.subtitle {
			position: relative;
		}
	}
	.prox-contact {
		.title-box.text-center {
			margin-bottom: 30px;
		}
	}
	.title-box.text-left {
		p {
			margin-bottom: 0px;
		}
		margin-bottom: 30px;
	}
	.title-box-space {
		margin-bottom: 30px;
	}
	.title-box.text-white {
		h2 {
			color: $white;
		}
	}
	.title-box.text-center {
		margin-bottom: 45px;
	}
	.title-box.title-shadow {
		margin-bottom: 15px;
	}
	header.main-header.header-software {
		.container-fluid {
			padding: 0px 130px;
		}
	}
	.top-bar-software {
		padding: 0 130px;
	}
}
.title-box.text-left.title-box-space {
	margin-bottom: 30px;
}
/*---------------------------------------------------------------------
                          Services
-----------------------------------------------------------------------*/
.landing-style-1 {
	.prox-services {
		&:hover.prox-services {
			&:after {
				position: absolute;
				content: '';
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 0px;
				top: 0%;
				transition: all 900ms ease;
				-moz-transition: all 900ms ease;
				-webkit-transition: all 900ms ease;
				-ms-transition: all 900ms ease;
				-o-transition: all 900ms ease;
				background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, $white 100%);
				background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, $white 100%);
				background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, $white 100%);
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(100, $white));
				background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, $white 100%);
			}
		}
		margin-bottom: 30px;
		padding: 30px;
		background: $white;
		position: relative;
		overflow: hidden;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		@include shadow-mixin(0px 10px 40px 0px rgba(0, 0, 0, 0.05));
		&:before {
			position: absolute;
			bottom: 0;
			content: "";
			width: 0;
			background: $primary;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			z-index: 2;
		}
		&:hover {
			&:before {
				width: 100%;
				height: 4px;
				left: 0;
			}
			img.hover-img {
				z-index: 0;
				opacity: 1;
				top: 0;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
		}
		.services-detail {
			z-index: 3;
			position: relative;
		}
		i {
			font-size: 40px;
			color: $primary;
			z-index: 1;
			margin-bottom: 15px;
			line-height: 50px;
			display: inherit;
		}
		img {
			width: 48px;
			margin-bottom: 15px;
		}
		img.hover-img {
			position: absolute;
			top: 0;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
				opacity: 0;
			left: 0;
			right: 0;
			width: 100%;
		}
	}
	.prox-services.text-center {
		img {
			width: auto;
		}
		padding: 30px 15px;
	}
}
/*---------------------------------------------------------------------
Custom Tab
-----------------------------------------------------------------------*/
.landing-style-1 {
	.custom-tab {
		.tab-pane.fade.active.show {
			display: block;
		}
		.tab-pane.fade {
			display: none;
		}
		.nav.nav-pills {
			display: block;
			width: 100%;
			@include shadow-mixin(0px 22px 40px 0px rgba(0, 0, 0, 0.05));
			background: transparent;
			overflow: hidden;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
			li {
				display: inline-block;
				width: 25%;
				float: left;
			}
		}
		.nav.nav-pills[aria-orientation="vertical"] {
			li.nav-item {
				width: 100%;
				vertical-align: middle;
				float: left;
				border: 1px solid $white;
				width: 100%;
				vertical-align: middle;
				float: left;
				&:last-child {
					margin-bottom: 0;
				}
			}
			box-shadow: none;
			border-radius: 0;
			.nav-link {
				padding: 15px;
				border-radius: 0;
				text-align: center;
				h5 {
					font-size: 18px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:hover {
					h5 {
						color: $white;
					}
					@include shadow-mixin(0px 22px 40px 0px rgba(0, 0, 0, 0.05));
					background: $primary;
					&:before {
						display: none;
					}
				}
			}
			.nav-link.active {
				h5 {
					color: $white;
				}
				@include shadow-mixin(0px 22px 40px 0px rgba(0, 0, 0, 0.05));
				background: $primary;
				&:before {
					display: none;
				}
			}
		}
		.nav-pills {
			.nav-link {
				.tab-title {
					display: inline-block;
				}
			}
		}
		.show_content {
			width: 100%;
		}
	}
	.prox-award {
		.award-img {
			padding: 30px;
			border-radius: 5px;
			border: 1px solid $gray-light;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			background: $white;
		}
		&:hover {
			.award-img {
				@include shadow-mixin(4.871px 34.659px 30px 0px rgba(0, 0, 0, 0.06));
			}
		}
	}
}
/*---------------------------------------------------------------------
Button effect
-----------------------------------------------------------------------*/
.landing-style-1 {
	.custom-tab {
		.nav-pills {
			.nav-link {
				position: relative;
				&:before {
					width: 0;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					height: 4px;
					background: $primary;
					content: "";
					position: absolute;
					right: 0;
					bottom: 0px;
				}
				&:hover {
					&:before {
						content: "";
						display: inline-block;
						width: 100%;
						height: 4px;
						background: $primary;
						content: "";
						position: absolute;
						left: 0;
						bottom: 0px;
						@if $enable-rounded == true {
							@include radius-mixin($border-radius);
						}
					}
				}
			}
			.nav-link.active {
				&:before {
					content: "";
					display: inline-block;
					width: 100%;
					height: 4px;
					background: $primary;
					content: "";
					position: absolute;
					left: 0;
					bottom: 0px;
					@if $enable-rounded == true {
						@include radius-mixin($border-radius);
					}
				}
				background: transparent;
			}
		}
	}
}
/*---------------------------------------------------------------------
 Timer
-----------------------------------------------------------------------*/
.landing-style-1 {
	.iq-timer {
		.timer-details {
			p {
				margin-bottom: 0;
				color: $white;
			}
		}
		i {
			margin-right: 0px;
			color: $primary;
			font-size: 40px;
			line-height: 2.2em;
		}
		display: flex;
		margin-bottom: 30px;
		position: relative;
		z-index: 2;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.timer-details {
		display: table-cell;
		i {
			color: $white;
			position: relative;
			top: -8px;
			font-size: 16px;
		}
		.timer {
			font-size: 45px;
			line-height: 50px;
			color: $white;
			font-weight: bold;
		}
		h6 {
			color: $title-text;
		}
	}
	.iq-timer.style2.text-center {
		text-align: center;
		display: block;
	}
	.iq-timer.style2.text-left {
		text-align: left;
		float: left;
	}
	.iq-timer.style2.text-right {
		text-align: right;
		float: right;
	}
	.iq-timer.style2 {
		img {
			width: auto;
		}
		.iq-img {
			line-height: 90px;
			display: block;
			text-align: center;
			height: 90px;
			width: 90px;
			border-radius: 90px;
			@include shadow-mixin(0px 10px 40px 0px rgba(0, 0, 0, 0.05));
			margin: 0 auto 30px;
		}
		.iq-icon {
			line-height: 90px;
			display: block;
			text-align: center;
			height: 90px;
			width: 90px;
			border-radius: 90px;
			@include shadow-mixin(0px 10px 40px 0px rgba(0, 0, 0, 0.05));
		}
		.timer {
			font-size: 30px;
			font-weight: bold;
		}
	}
	.iq-timer.text-center.style2 {
		.timer-details {
			display: block;
			text-align: center;
			margin: 0 auto;
		}
		.iq-icon {
			margin: 0 auto 30px;
		}
	}
	.iq-timer.text-left.style2 {
		.iq-img {
			margin: 0 0 30px;
		}
		.iq-icon {
			margin: 0 0 30px;
		}
	}
	.iq-timer.text-right.style2 {
		.iq-img {
			margin: 0 0 30px;
		}
		.iq-icon {
			margin: 0 0 30px;
		}
	}
	.dark-timer {
		color: $title-text !important;
	}
	.about-box-img {
		left: 0;
		width: 50%;
		top: 0;
		position: absolute;
	}
	.about-right-box-img {
		right: -18px;
		width: 50%;
		top: 0px;
		position: absolute;
	}
}
.iq-timer.style2 {
	.timer_postfix {
		font-size: 30px;
		font-weight: bold;
	}
}
/*---------------------------------------------------------------------
 prox Process
-----------------------------------------------------------------------*/
.landing-style-1 {
	.prox-process.prox-circle {
		padding: 0;
		margin-bottom: 30px;
		position: relative;
		width: 100%;
		.circle-effect {
			border: 2px dashed $primary;
			width: 140px;
			height: 140px;
			@include radius-mixin(90px);
			padding: 10px;
			margin: 0 auto 30px;
			text-align: center;
			img {
				display: inline-block;
				width: 120px;
				height: 120px;
				line-height: 120px;
				@include radius-mixin(90px);
				background-image: -moz-linear-gradient(90deg, rgba(241, 243, 254,1) 0%, rgba(255, 255, 255,1) 100%);
				background-image: -webkit-linear-gradient(90deg, rgba(241, 243, 254,1) 0%, rgba(255, 255, 255,1) 100%);
				background-image: -ms-linear-gradient(90deg, rgba(241, 243, 254,1) 0%, rgba(255, 255, 255,1) 100%);
				@include shadow-mixin(0 0 0 14px rgba(239, 241, 254, 0.3));
			}
		}
	}
	.prox-process.prox-circle.right {
		&:before {
			background-image: url(~@/assets/images/landing-page/landing-6/26.png);
			content: "";
			display: inline-block;
			position: absolute;
			top: 30px;
			right: -145px;
			background-repeat: no-repeat;
			width: 240px;
			height: 200px;
		}
	}
	.iq-list {
		list-style: none;
		padding: 0;
		li {
			i {
				position: absolute;
				top: 2px;
			}
			margin-bottom: 10px;
			position: relative;
			span {
				display: table-cell;
				padding-left: 30px;
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.iq-list.column-2 {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		i {
			color: $primary;
			left: 0;
		}
		li {
			padding-left: 30px;
		}
	}
}
header.main-header.header-software {
	left: 0;
	right: 0;
	z-index: 99;
	position: absolute;
}
/* Banner 2 */
.landing-style-1 {
	.iq-banner-software {
		position: relative;
		overflow: hidden;
		padding-bottom: 60px;		
		width: 100%;
		height: 100%;
		opacity: 1;
		top: 0px;
		left: 0px;
		visibility: inherit;
		z-index: 20;
		.container-fluid {
			padding: 0px 130px;
		}
		.banner-text {
			z-index: 9;
			position: relative;
			margin-top: 8%;
			margin-bottom: 5%;
			h1 {
				font-size: 52px;
				line-height: 62px;
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 40px;
				span {
					display: block;
				}
			}
			.iq-image {
				img {
					max-width: 120%;
				}
			}
		}
		.banner-objects {
			.banner-objects-01 {
				position: absolute;
				top: 0;
				left: 0;
				right: auto;
				img {
					height: 850px;
					object-fit: cover;
				}
			}
			.banner-objects-02 {
				position: absolute;
				right: 0;
				top: 0;
				img {
					width: 1050px;
					z-index: -1;
					position: relative;
				}
			}
		}
	}
	.iq-over-dark-90 {
		background: $gray-light !important;
	}
	.prox-custom-bg {
		background-color: transparent;
		background-image: linear-gradient(180deg, $gray-light 0%, $white 100%);
	}
}
.landing-event {
	.iq-speaker1 {
		border-radius: 5px !important;
	}
}

/*------------responsive-------------*/
@media (max-width:1199px) {
        .landing-style-1 {
            .iq-banner-software {
                .banner-text {
                    margin-top: 15%;
                }
			}
				.top-bar-software {
					padding: 0 90px;
			}
	header.main-header.header-software {
		.container-fluid {
			padding: 0 90px;
		}
		.container-lg {
			padding: 0 90px;
		}
		.container-md {
			padding: 0 90px;
		}
		.container-sm {
			padding: 0 90px;
		}
		.container-xl {
			padding: 0 90px;
		}
	}
        }
    }
    @media (max-width:992px) {
        .landing-creative {
        .iq-investor {
            &:after {
                display: none !important;
            }
        }
    }
    .landing-style-1 {
		.top-bar-software {
			padding: 0 50px;
			.social-icone{
				text-align: right;
			}
		}
		header.main-header.header-software {
			.container-fluid {
				padding: 0 50px;
			}
			.container-lg {
				padding: 0 50px;
			}
			.container-md {
				padding: 0 50px;
			}
			.container-sm {
				padding: 0 50px;
			}
			.container-xl {
				padding: 0 50px;
			}
		}
        .prox-services {
            margin-bottom: 30px !important;
        }
        .iq-timer.style2.text-center {
            margin-bottom: 30px !important;
        }
        .about-right-box-img {
            position: relative;
            width: 100%;
            margin-bottom: 100px;
        }
        .iq-banner-software {
            .container-fluid {
                padding: 0px 50px;
            }
            .banner-text {
                h1 {
                    font-size: 42px;
                    line-height: 52px;
                }
                .iq-image {
                    img {
                        max-width: 100%;
                        padding: 0 100px;
                    }
                }
            }
        }
        .iq-res-top {
            padding-top: 0px;
        }
        .prox-process.prox-circle.right {
            &:before {
                display: none;
            }
        }
    }
}
@media (max-width:767px) {
    .landing-style-1 {
		.top-bar-software {
			padding: 0 15px;
		}
        .iq-banner-software {
            .banner-text {
                margin-top: 35%;
                h1 {
                    font-size: 42px;
                    line-height: 52px;
                    font-size: 36px;
                    line-height: 46px;
                }
                .iq-image {
                    img {
                        padding: 0 50px;
                        margin-top: 50px;
                    }
                }
            }
		}
		header.main-header.header-software {
			.container-fluid {
				padding: 0 15px;
			}
			.container-lg {
				padding: 0 15px;
			}
			.container-md {
				padding: 0 15px;
			}
			.container-sm {
				padding: 0 15px;
			}
			.container-xl {
				padding: 0 15px;
			}
		}
		.iq-banner-software {
			.container-fluid {
				padding: 0 15px;
			}
			.container-lg {
				padding: 0 15px;
			}
			.container-md {
				padding: 0 15px;
			}
			.container-sm {
				padding: 0 15px;
			}
			.container-xl {
				padding: 0 15px;
			}
		}
    }

}
@media (max-width:479px) {
    .landing-style-1 {
        .iq-banner-software {
            .banner-text {
                h1 {
                    font-size: 30px;
                    line-height: 40px;
                }
                .iq-image {
                    img {
                        padding: 0px 0px;
                    }
                }
            }
        }
    }
}