

/*---------------------------------------------------------------------
 Testimonial style 3
-----------------------------------------------------------------------*/
.landing-saas {
	.fancy-icon {
		margin-bottom: 45px;
		.media {
			img {
				position: relative;
				width: 70px;
				height: 70px;
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 80px;
					font-size: 30px;
					height: 80px;
					line-height: 80px;
					background: $body-bg;
					text-align: center;
					margin-right: 15px;
					@include radius-mixin(90px);
				}
			}
			.media-body {
				padding-left: 130px;
			}
			.fancy-img {
				img {
					width: 100px;
					height: 100px;
					max-width: initial;
				}
				i {
					font-size: 40px;
					line-height: 80px;
					color: $purple;
				}
				width: 80px;
				height: 80px;
				line-height: 80px;
				content: "";
				text-align: center;
				@include radius-mixin(90px);
				position: absolute;
			}
		}
	}
}

/*---------------------------------------------------------------------
 Pricing-plan
-----------------------------------------------------------------------*/
.landing-saas {
	.iq-best-pricing.active {
		@include transform-mixin( scale(1.1));	
		@include shadow-mixin(0 20px 95px 0 rgba(0, 0, 0, .1)0 20px 95px 0 rgba(0, 0, 0, .1));
		position: relative;
		z-index: 99;
		border-bottom: 2px solid $purple;
		.price-title {
			.month-circle {
				.month-price {
					h2 {
						font-weight: bold;
					}
				}
			}
		}
	}
	.iq-best-pricing {
		@include transform-mixin( scale(1.1));
		@include shadow-mixin(0 20px 95px 0 rgba(0, 0, 0, .1));	
		padding: 50px 25px;
		border-bottom: 2px solid $purple;
		background: $white;
		margin: 0 15px 30px 15px;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		text-align: left;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius-normal);
		}
		.price-title {
			.month-circle {
				.month-price {
					margin-bottom: 0px;
					.sub-title {
						margin-bottom: 15px;
					}
					h2 {
						display: inline;
						font-weight: bold;
					}
					.duration {
						margin-top: 10px;
					}
				}
			}
			.title {
				margin-bottom: 15px;
			}
		}
		.pricing-list {
			margin-top: 40px;
			padding: 0px;
			li {
				list-style-type: none;
				margin-bottom: 8px;
				display: inline-flex;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
		.price-footer {
			margin-top: 45px;
		}
	}
	.iq-best-pricing.active.dark-blue {
		border-color: $purple;
	}
}

.landing-saas {
	.iq-banner {
		position: relative;
		overflow: hidden;
		&:after {
			content: "";
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 84px;
			background: url('~@/assets/images/landing-page/landing-10/banner-shap.png') no-repeat 0 0;
			background-size: cover;
			display: inline-block;
			position: absolute;
		}
		.banner-text {
			z-index: 9;
			position: relative;
			margin-top: 8%;
			h1 {
				font-size: 60px;
				line-height: normal;
			}
		}
		.banner-img {
			width: 110%;
		}
	}
}


/*  landing responsive----*/
@media (max-width:1280px) {
	.landing-saas {
	.owl-carousel {
		.owl-nav {
			.owl-next {
				right: -10px;
			}
			.owl-prev {
				left: -10px;
			}
		}
	}
}

	
}
@media (max-width:1199px) {
	.landing-saas {
	.iq-landing-software {
		.banner-text {
			h1 {
				font-size: 38px;
				line-height: 56px;
			}
		}
	}
	.owl-carousel {
		.owl-nav {
			.owl-next {
				right: 0;
				top: -45px;
			}
			.owl-prev {
				left: 0;
				top: -45px;
			}
		}
	}
	.bg-img-jump.left {
		img {
			display: none;
		}
	}
	.bg-img-jump.right {
		img {
			display: none;
		}
	}
}
	
}
@media (max-width:992px) {
	.landing-creative {
	.iq-investor {
		&:after {
			display: none !important;
		}
	}
}
.landing-saas {
	.iq-best-pricing{
			 margin: 0 15px 60px 15px;
		}
	.prox-services {
		margin-bottom: 30px !important;
	}
	.iq-timer.style2.text-center {
		margin-bottom: 30px !important;
	}
	.about-right-box-img {
		position: relative;
		width: 100%;
		margin-bottom: 100px;
	}
	.iq-landing-software {
		.container-fluid {
			padding: 0px 50px;
		}
		.banner-text {
			h1 {
				font-size: 42px;
				line-height: 52px;
			}
			.iq-image {
				img {
					max-width: 100%;
					padding: 0 100px;
				}
			}
			text-align: center;
		}
	}
	.iq-res-top {
		padding-top: 0px;
	}
	.prox-process.prox-circle.right {
		&:before {
			display: none;
		}
	}
	.iq-rpt-zero {
		padding-top: 0px !important;
	}
	.color-palette.purple-hover {
		&:after {
			display: none;
		}
	}
	.color-palette.org-hover {
		&:after {
			display: none;
		}
	}
	.iq-objects.style-two {
		.iq-objects-03 {
			img {
				display: none;
			}
		}
	}
	.mobile-effect {
		img {
			display: none;
		}
	}
	.bg-img-jump.left {
		img {
			display: none;
		}
	}
	.bg-img-jump.right {
		img {
			display: none;
		}
	}
	.popup-images.align-left {
		.img-one {
			img {
				position: relative;
				left: 0%;
				max-width: 100% !important;
			}
		}
	}
}

	
}
@media (max-width:768px) {
	.landing-saas {
		.iq-banner {
			.banner-img {
				padding-top: 50px;
			}
		}
	}
}
@media (max-width:767px) {
	.landing-saas {
		
	.iq-landing-software {
		.banner-text {
			h1 {
				font-size: 36px;
				line-height: 46px;
			}
			.iq-image {
				img {
					padding: 0 50px;
					margin-top: 50px;
				}
			}
			margin-top: 16%;
		}
		.container-fluid {
			padding: 0px 15px;
		}
	}
	.test-shadow {
		.testimonial-style.owl-carousel {
			.iq-testimonial {
				margin: 15px 20px 60px 20px;
			}
		}
	}
	.iq-banner {
			
		.banner-text {
			h1 {
				font-size: 34px;
			}
		}
		&:after {
			display: none;
		}
		
	}
	section {
		padding: 80px 0;
	}
	.iq-rpt-zero {
		padding-top: 0px !important;
	}
}

	
}
@media (max-width:479px) {
	.landing-saas {
		
	.iq-landing-software {
		.banner-text {
			h1 {
				font-size: 30px;
				line-height: 40px;
			}
			.iq-image {
				img {
					padding: 0px 0px;
				}
			}
			margin-top: 27%;
		}
	}
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			padding: 45px 15px;
		}
	}
}
 



}