.landing-style-1-top {
	.top-bar-software {
		.social-icone {
			ul {
				li {
					i {
						color: $dark;
						width: 45px;
						height: 45px;
						line-height: 45px;
					}
				}
			}
		}
		z-index: 99;
		background: transparent;
		.number-info {
			li {
				a {
					color: $dark;
				}
			}
		}
	}
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 99;
}

/*---------------------------------------------------------------------
  Title
-----------------------------------------------------------------------*/
.landing-style-1 {
	.main-left {
		margin-bottom: 60px !important;
	}
	.title-box {
		margin-top: -5px;
		h2 {
			margin-bottom: 15px;
		}
		.title-design {
			font-weight: normal;
			color: $primary !important;
			display: inline-block;
			position: relative;
			text-transform: uppercase;
		}
		span.title-design.sub-title {
			color: $white;
			&:before {
				background: $white;
				content: "";
			}
		}
		.subtitle {
			position: relative;
		}
	}
	.prox-contact {
		.title-box.text-center {
			margin-bottom: 30px;
		}
	}
	.title-box.text-left {
		p {
			margin-bottom: 0px;
		}
		margin-bottom: 30px;
	}
	.title-box-space {
		margin-bottom: 30px;
	}
	.title-box.text-left.title-box-space {
		margin-bottom: 30px;
	}
	.title-box.text-white {
		h2 {
			color: $white;
		}
	}
	.title-box.text-center {
		margin-bottom: 60px;
	}
	p {
		color: $body-text-dark;
	}
}

/*---------------------------------------------------------------------
 Data-Scientist -Servicebox
-----------------------------------------------------------------------*/
.landing-style-1 {
	.servicebox-datascience {
		position: relative;
		overflow: hidden;
		padding: 30px;
		background: $white;
		z-index: 0;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		@include shadow-mixin(0px 0px 30px 0px rgba(0, 0, 0, 0.09));
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
		border-bottom-right-radius: 30px;
		margin-bottom: 30px;
		&:hover {
			background: $primary;
			color: $white;
			.data-title {
				color: $white;
			}
			a.link-btn {
				color: $white;
			}
			&:before {
				height: 250px;
				content: "";
				width: 250px;
				position: absolute;
				background-color: rgba(254, 254, 254, 0.2);
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				z-index: -1;
				left: -85px;
				top: -85px;
			}
		}
		.data-title {
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			margin-bottom: 30px;
		}
	}
	.iq-data-about {
		.wpb_single_image {
			img {
				max-width: 110%;
				left: -20%;
				position: relative;
				top: -121px;
			}
		}
		.iq-objects.style-one.left {
			top: -16%;
			left: -228px;
		}
	}
}

/*About Section*/
.landing-style-1 {
	.iq-about-edu {
		margin: 0px;
		padding: 0px;
		li {
			margin-bottom: 15px;
			list-style-type: none;
			display: flex;
			a {
				text-decoration: none;
				color: $title-text;
				position: relative;
				-ms-word-wrap: break-word;
				word-wrap: break-word;
				display: inline-flex;
				i {
					position: absolute;
					left: 0;
					line-height: 34px;
					font-size: 18px;
					color: $primary;
				}
				.header {
					width: 90px;
					display: inline-block;
					color: $primary;
				}
				.content {
					padding-left: 30px;
					flex: 1;
					word-wrap: anywhere;
					word-break: break-word;
				}
			}
		}
	}
	.iq-higher-edu {
		img {
			max-width: 150% !important;
			top: -20%;
			position: absolute;
			left: -62%;
			max-width: 150% !important;
			top: -20%;
			position: absolute;
			left: -62%;
		}
	}
	.video-edu {
		.consult-video {
			a {
				width: 50px;
				height: 50px;
				line-height: 50px;
				@include radius-mixin(50%);
			}
		}
		.landing-style-1 {
			.video-btn {
				.btn-waves {
					display: none;
				}
				
			}
		}
		.main-video {
			left: 20%;
		}
		background: $primary-dark;
		padding: 30px 0px;
		.white-border {
			border-right: 1px solid $white;
		}
	}
}

/*---------------------------------------------------------------------
 CLient
-----------------------------------------------------------------------*/
.landing-style-1 {
	.owl-carousel {
		.owl-item {
			.clients-box.hover-effct {
				img {
					width: auto;
					margin: 0 auto;
					opacity: .4;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					&:hover {
						@include opacity-mixin(1);
					}
				}
			}
		}
	}
	.client-prox {
		.owl-carousel {
			.owl-item {
				.clients-box.hover-effct {
					img {
						margin: inherit;
					}
				}
			}
		}
		.col-sm-12 {
			padding: 0;
		}
	}
	.client-prox-border {
		.col-sm-12 {
			padding: 0;
		}
		border-top: 1px solid $border-color;
	}
	.prox-client {
		background: $white;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
		padding: 60px 30px;
		margin-bottom: 30px;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		.client-icon {
			margin-bottom: 30px;
		}
		&:hover {
			margin-top: -10px;
			@include shadow-mixin(0px 35px 30px 0px rgba(0, 0, 0, 0.06));
		}
		.client-icon.iq-image {
			img {
				height: 55px;
				width: 55px;
			}
		}
	}
}

/*---------------------------------------------------------------------
 Meet the Team
-----------------------------------------------------------------------*/
.landing-style-1 {
	.iq-team {
		position: relative;
		overflow: hidden;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
		position: relative;
		overflow: hidden;
		.iq-team-info {
			.title {
				&:hover {
					color: $primary-dark;
				}
			}
			padding: 15px;
			background: $gray-light;
			z-index: 2;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			overflow: hidden;
			position: relative;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
		.landing-style-1 {
			.iq-team-info {
				.title {
					&:hover {
						color: $primary;
					}
				}
				padding: 15px;
				background: $gray-light;
				z-index: 2;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				overflow: hidden;
				position: relative;
				@if $enable-rounded == true {
					@include radius-mixin($border-radius);
				}

			}
		}
		.share {
			background: none;
			position: absolute;
			right: -65px;
			top: 10px;
			width: 40px;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			list-style: none;
			ul {
				li {
					margin-bottom: 1px;
					display: inline-block;
					a {
						width: 40px;
						height: 40px;
						line-height: 40px;
						background: $white;
						text-align: center;
						display: inline-block;
						i {
							color: $title-text;
							line-height: 30px;
						}
						&:hover {
							background: $primary;
						}
					}
					&:hover {
						a {
							i {
								color: $white;
							}
						}
					}
				}
			}
		}
		&:hover {
			.share {
				right: 26px;
			}
			.iq-team-img {
				&:before {
					@include opacity-mixin(1);
				}
			}
			.consult-effect {
				&:before {
					@include opacity-mixin(1);
					content: "";
					z-index: 1;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					bottom: 10px;
				}
			}
			.iq-share {
				right: 10px;
			}
		}
		.iq-team-img {
			position: relative;
			z-index: -1;
			img {
				width: 100%;
			}
		}
		.consult-effect {
			&:before {
				content: "";
				bottom: 18px;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				@include opacity-mixin(1);
				z-index: 1;
				height: 90px;
				width: 100%;
				position: absolute;
				bottom: 32px;
				left: 0;
				@include transform-mixin( skewY(-5deg));
				background: $primary;
			}
		}
		.iq-share {
			right: -46px;
			position: absolute;
			top: 10px;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
		}
	}
	.iq-share {
		&:hover {
			.slideouticons {
				.iconswrapper {
					visibility: visible;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;
					ul {
						li {
							@include opacity-mixin(1);
							@if $enable-transitions == true {
								@include transition-mixin(all 0.3s ease-in-out);
							}
							z-index: 4;
							&:nth-of-type(1) {
								-webkit-transition-delay: 0;
								transition-delay: 0;
								z-index: 4;
							}
							&:nth-of-type(2) {
								@if $enable-transitions == true {
									@include transition-mixin(all 0.3s ease-in-out);
								}
								z-index: 3;
							}
							&:nth-of-type(3) {
								@if $enable-transitions == true {
									@include transition-mixin(all 0.3s ease-in-out);
								}
								z-index: 2;
							}
							&:nth-of-type(4) {
								@if $enable-transitions == true {
									@include transition-mixin(all 0.3s ease-in-out);
								}
								z-index: 1;
							}
						}
					}
				}
			}
		}
	}
	.slideouticons {
		position: relative;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		z-index: 9;
		input {
			display: none;
			&:checked {
				~ {
					label.mainlabel {
						background: $white;
						color: $primary;
					}
					.iconswrapper {
						@include transform-mixin( rotateY(0));	
						-webkit-transition-delay: 0s;
						transition-delay: 0s;
						ul {
							li {
								@include opacity-mixin(1);
								@include transform-mixin( translateY(0) rotate(360deg));
								@if $enable-transitions == true {
									@include transition-mixin(all 0.3s ease-in-out);
								}
							}
						}
					}
				}
			}
		}
		label.mainlabel {
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			cursor: pointer;
			font-size: 20px;
			width: 45px;
			height: 45px;
			text-align: center;
			color: white;
			background: $primary;
			outline: none;
			z-index: 100000;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-circle);
			}
		}
		.iconswrapper {
			position: absolute;
			margin: 0;
			top: 50px;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			ul {
				position: relative;
				list-style: none;
				margin: 0;
				padding: 0;
				z-index: -1;
				li {
					margin-bottom: 5px;
					position: relative;
					opacity: 0;
					width: 45px;
					height: 45px;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					a {
						@if $enable-rounded == true {
							@include radius-mixin($border-radius);
						}
						display: -webkit-box;
						display: flex;
						color: $title-text;
						text-decoration: none;
						text-align: center;
						font-size: 16px;
						width: 100%;
						height: 100%;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						text-align: center;
						background: $white;
						text-decoration: none;
						@if $enable-transitions == true {
							@include transition-mixin(all 0.3s ease-in-out);
						}
						@include shadow-mixin(0px 0px 8px 2px rgba(0, 0, 0, 0.05));
						@if $enable-rounded == true {
							@include radius-mixin($border-radius-circle);
						}
						&:hover {
							background: $primary;
							color: white;
						}
					}
				}
			}
		}
	}
}

/*---------------------------------------------------------------------
 Footer
-----------------------------------------------------------------------*/
.landing-style-1 {
	.recentcomments {
		a {
			display: inline !important;
			padding: 0 !important;
			margin: 0 !important;
		}
	}
	footer.footer-analytics {
		table {
			td {
				border-color: rgba(36, 38, 43, 0.14);
			}
			th {
				border-color: rgba(36, 38, 43, 0.14);
			}
		}
		ul {
			li {
				border: none;
				padding-bottom: 0;
				margin-bottom: 10px;
				span.archiveCount {
					float: right;
					color: $white;
					background: $primary-dark;
					border-radius: 50px;
					width: 20px;
					height: 20px;
					text-align: center;
					line-height: 20px;
					font-size: 12px;
					padding: 0;
				}
			}
			li.cat-item {
				span {
					float: right;
				}
				span.post_count {
					float: right;
					color: $white;
					background: $primary-dark;
					border-radius: 50px;
					width: 20px;
					height: 20px;
					text-align: center;
					line-height: 20px;
					font-size: 12px;
					padding: 0;
				}
			}
		}
		#recentcomments {
			li {
				a {
					color: $primary;
				}
				.comment-author-link {
					a {
						&:hover {
							text-decoration: underline;
							color: $primary;
						}
						color:$title-text;
						font-weight: 600;
					}
				}
			}
			li.recentcomments {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
		ul.menu {
			li {
				.sub-menu {
					padding-left: 10px;
				}
				a {
					border: none;
					color: $title-text;
					&:hover {
						color: $primary;
					}
				}
			}
		}
		ul.iq-contact {
			padding: 0;
			li {
				display: flex;
				position: relative;
				a {
					span {
						padding-left: 30px;
						display: table-cell;
						word-break: break-word;
						color: $title-text;
					}
					&:hover {
						span {
							color: $primary;
						}
					}
				}
				i {
					position: absolute;
					left: 0;
					line-height: 34px;
					font-size: 20px;
					color: $primary;
				}
			}
		}
		.iq-contact {
			li {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
		.rsswidget {
			padding-left: 0;
			font-size: 18px;
			color: $body-text-dark;
			font-weight: 800;
		}
		.rss-date {
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
			display: inline-block;
			width: 100%;
			margin: 5px 0;
		}
		p {
			margin-bottom: 0;
		}
		.footer-logo {
			margin-bottom: 15px;
		}
		display: inline-block;
		width: 100%;
		float: left;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background: $gray-light;
		padding: 0px;
		.footer-top {
			padding-top: 100px;
			padding-bottom: 45px;
			.info-share {
				li {
					margin-right: 15px;
					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}
		h4.footer-title {
			margin-bottom: 15px;
		}
		a.rsswidget {
			&:before {
				display: none;
			}
		}
		ul.wp-tag-cloud {
			li {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
		.sub-btn {
			position: absolute;
			right: 0;
			button {
				padding: 24px 30px;
				border: none;
				cursor: pointer;
				background-color: $primary;
				&:hover {
					outline: none;
				}
				&:before {
					content: "\f2c3";
					position: absolute;
					font-family: "Font Awesome 5 Free";
					z-index: 1;
					top: 50%;
					left: 50%;
					margin-right: -50%;
					transform: translate(-50%, -50%);
					font-size: 24px;
					color: $white;
				}
			}
		}
		input[type=submit] {
			.landing-style-1 {
				footer.footer-analytics {
					.info-share {
						li {
							margin-left: 15px;
							margin-right: 0px;
						}
					}
				}
			}
		}
		.menu-footer-menu-container {
			.menu {
				margin-bottom: 0;
				padding: 0;
				li {
					list-style: none;
					display: block;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		.copyright {
			a {
				&:hover {
					text-decoration: none;
					color: $primary;
				}
			}
		}
		.copyright-footer {
			border-top: 1px solid rgba(82, 95, 129, 0.09);
			position: relative;
		}
		.info-share {
			li {
				a {
					color: $body-text-dark;
				}
			}
		}
		input[type=email] {
			&:hover {
				border-color: $primary;
				padding: 0 125px 0 15px;
				border-color: $primary;
				padding: 0 125px 0 15px;
			}
			background: $white;
			border-color: $gray-light;
			@include radius-mixin(90px);
			color: $body-text-dark;
			width: 100%;
			float: left;
			padding: 0 15px;
			height: 48px;
			line-height: 48px;
			background: $white;
			border: 1px solid $gray-light;
			@include radius-mixin(0px);
			color:$title-text;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			background: $white;
			border-color: $gray-light;
			@include radius-mixin(90px);
			color: $body-text-dark;
			&:focus {
				border-color: $primary;
				padding: 0 125px 0 15px;
			}
		}
		.footer_top_block {
			padding-bottom: 100px;
		}
		.mc4wp-form-fields {
			input[type="submit"] {
				position: absolute;
				right: 15px;
				margin-bottom: 0;
				background: $primary;
				color:$title-text;
				height: auto;
				line-height: 26px !important;
				padding: 11px 30px;
				font-size: 1em;
				line-height: 2;
				border: none;
				display: inline-block;
				width: auto;
				@include radius-mixin(0px);
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				cursor: pointer;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}

			}
		}
	}
	.mc4wp-form-fields {
		input[type="submit"] {
			position: absolute;
			right: 15px;
		}
	}
	.iq-bg-dark {
		position: relative;
	}
	footer.footer-analytics.iq-over-dark-90 {
		&:before {
			display: none !important;
		}
	}
	.blog-content {
		.wp-block-archives {
			li {
				list-style: none;
			}
		}
		.wp-block-latest-posts {
			li {
				list-style: none;
			}
		}
	}
	ul.wp-block-categories {
		li.cat-item {
			span {
				float: right;
			}
		}
	}
	#back-to-top {
		.top {
			z-index: 999;
			position: fixed;
			margin: 0px;
			color: $white;
			background: $primary;
			position: fixed;
			bottom: 30px;
			right: 25px;
			z-index: 999;
			font-size: 26px;
			width: 50px;
			height: 50px;
			text-align: center;
			line-height: 58px;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-circle);
			}
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			&:hover {
				background: $primary;
				color: $white;
				@include shadow-mixin(0px 0px 30px 0px rgba(0, 0, 0, 0.1));
			}
		}
	}
}
.sub-btn {
	button {
		&:focus {
			outline: none;
		}
	}
}
footer {
	.menu-footer-menu-container {
		.menu {
			li {
				a {
					&:hover {
						text-decoration: none;
						color: $primary;
					}
				}
			}
		}
	}
	.info-share {
		li {
			a {
				&:hover {
					text-decoration: none;
					color: $primary;
				}
			}
		}
	}
	input[type=email] {
		&:focus {
			border-color: $primary;
			padding: 0 125px 0 15px;
		}
	}
}
.blog-content {
	ul.wp-block-categories {
		li {
			list-style: none;
		}
	}
}

/*----------------------------------------------------------------------
                                Buttons
-----------------------------------------------------------------------*/
.landing-style-1 {

	.prox-left-img {
		img {
			position: relative;
			left: -47%;
			max-width: 155% !important;
			margin-top: -200px;
		}
	}
	.prox-right-img {
		img {
			right: -19%;
			max-width: 150% !important;
			margin-top: -100px;
		}
	}
	.prox-right-img-wm {
		img {
			right: -19%;
			max-width: 150% !important;
		}
	}
	.prox-bg {
		.iq-objects-03 {
			z-index: 1;
		}
	}
}

/*---------------------------------------------------------------------
 Testimonial style
-----------------------------------------------------------------------*/
.landing-style-1 {
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			margin: 0 200px 54px;
			padding: 45px 84px;
			@include shadow-mixin(4.871px 34.659px 30px 0px rgba(0, 0, 0, 0.05));
			background: $white;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-normal);
			}
			.testimonial-name {
				display: inline-block;
				vertical-align: middle;
				text-align: left;
			}
			p {
				margin-bottom: 0;
			}
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		.owl-item {
			.testimonial-info {
				img {
					width: 65px;
					height: 65px;
					margin-right: 8px;
					display: inline-block;
					margin-bottom: 0px;
				}
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 0px;
		}
		.testimonial-info {
			&:before {
				display: none;
			}
		}
	}
	.testimonial-style {
		.iq-testimonial {
			.testimonial-info {
				position: relative;
				text-align: center;
				display: inline-block;
				margin-bottom: 45px;
			}
		}
	}
}

/*---------------------------------------------------------------------
  Latest Blog Post
-----------------------------------------------------------------------*/
.landing-style-1 {
	.sticky {
		.iq-blog-box {
			background: $gray-light;
		}
	}
	.iq-blog-box {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		border: 1px solid $gray-light;
		background: $white;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius-normal);
		}
		.iq-blog-image {
			position: relative;
			text-align: center;
			display: inline-block;
			float: left;
			width: 100%;
			img {
				margin-bottom: 30px;
				background: $gray-light;
			}
		}
		.blog-title {
			margin: 0 0 10px 0;
			a {
				h4 {
					color: $title-text;
					text-decoration: none;
				}
				&:hover {
					h4 {
						color: $primary;
						text-decoration: none;
					}
					color: $primary;
					text-decoration: none;
				}
			}
		}
		.iq-blog-detail {
			padding: 0px 30px 30px;
			display: inline-block;
			float: left;
			width: 100%;
			.iq-blog-meta {
				ul {
					margin: 0 0 10px;
					padding: 0;
					line-height: 16px;
				}
			}
			p {
				margin-bottom: 15px;
			}
			blockquote {
				p {
					margin-bottom: 0;
				}
			}
			.blockquote {
				margin-top: 0;
			}
		}
		.iq-blogtag {
			margin: 0 0 0 15px;
			padding: 0;
			display: inline-block;
			width: 100%;
			position: absolute;
			bottom: 15px;
			left: 0;
			li {
				list-style: none;
				float: left;
				margin-right: 5px;
				a {
					background: $primary;
					color: $white;
					padding: 5px 10px;
					text-transform: uppercase;
					@include radius-mixin(90px);
					font-size: 14px;
				}
			}
		}
		.blog-button {
			float: left;
		}
	}
	.prox-space-bottom {
		.iq-blog-box {
			.iq-blog-detail {
				padding: 0 15px 15px;
			}
		}
	}
	.owl-carousel {
		.iq-blog-box {
			.iq-blog-detail {
				display: inline-block;
				float: left;
				width: 100%;
				padding: 0 15px 15px;
			}
			box-shadow: none;
			margin: 30px 15px;
			padding: 0px;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}

		}
	}
	.has-post-thumbnail {
		.iq-blog-box {
			.iq-blog-detail {
				padding: 0px 30px 30px;
				display: inline-block;
				float: left;
				width: 100%;
			}
		}
	}
	.blog-content {
		.wp-audio-shortcode {
			margin-bottom: 15px;
		}
	}
	.post-password-form {
		input {
			float: none;
		}
	}
	.pagination {
		margin-top: 30px;
	}
	.iq-blog-detail {
		.blog-content {
			.wp-block-archives {
				margin: 0 0 30px;
				padding: 0;
				li {
					list-style-type: none;
				}
			}
		}
	}

	.iq-bg-over {
		background: $gray-light !important;
	}
	.iq-clients {
		.owl-carousel {
			.owl-item {
				img {
					width: auto;
					margin: 0 auto;
				}
			}
		}
	}
}
.iq-blog-detail {
	.blog-content {
		.wp-block-categories {
			margin: 0 0 30px;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
		.wp-block-latest-posts {
			margin: 0 0 30px;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
}

/*---------------------------------------------------------------------
                           OWL Carousel
-----------------------------------------------------------------------*/
.landing-style-1 {
	.owl-carousel {
		.owl-nav.disabled {
			display: none;
		}
		.owl-nav {
			display: block;
			position: absolute;
			text-indent: inherit;
			top: 50%;
			@include transform-mixin( translateY(-50%));
			left: 0;
			width: 100%;
			cursor: pointer;
			z-index: 999;
			.owl-prev {
				@include radius-mixin(90px);
				outline: none;
				background: none;
				border: none;
				display: block;
				position: absolute;
				text-align: center;
				text-indent: inherit;
				top: -25px;
				left: -8%;
				width: auto;
				cursor: pointer;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
			.owl-next {
				@include radius-mixin(90px);
				outline: none;
				background: none;
				border: none;
				display: block;
				position: absolute;
				text-align: center;
				text-indent: inherit;
				top: -25px;
				right: -8%;
				width: auto;
				cursor: pointer;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
			i {
				font-size: 24px;
				border: 1px solid rgba(0, 0, 0, 0.05);
				width: 45px;
				height: 45px;
				line-height: 45px;
				padding-left: 0px;
				display: inline-block;
				color: $white;
				background: $primary;
				font-weight: normal;
				text-align: center;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				&:hover {
					background: $primary;
					color: $white;
				}
			}
		}
	}
}

/* Dots */
.landing-style-1 {
	.owl-carousel {
		.owl-dots.disabled {
			display: none;
		}
		.owl-dots {
			margin-top: 15px;
			position: relative;
			width: 100%;
			display: inline-block;
			text-indent: inherit;
			text-align: center;
			cursor: pointer;
			.owl-dot {
				box-shadow: none;
				outline: none;
				background: transparent;
				display: inline-block;
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				padding: 0;
				margin: 0px 3px;
				height: 10px;
				width: 10px;
				border: 1px solid $primary;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				cursor: pointer;
				span {
					display: none;
				}
				&:hover {
					background: $primary-dark;
					border: 1px solid $primary-dark;
				}
			}
			.owl-dot.active {
				background: $primary;
				border: 1px solid $primary;
			}
		}
		.owl-item {
			img.client-img {
				width: auto;
				margin: 0 auto;
			}
		}
	}
	.owl-dots {
		.owl-dot.active {
			&:nth-child(n+3) {
				background: $primary;
				border: 1px solid $primary;
			}
		}
		.owl-dot {
			&:nth-child(n+4) {
				display: none;
			}
		}
	}
}

/* Banner 2 */
.landing-style-1 {
	.iq-banner-02 {
		position: relative;
		overflow: hidden;
		padding-bottom: 60px;
		.banner-text {
			z-index: 9;
			position: relative;
			margin-top: 15%;
			margin-bottom: 12%;
			h1 {
				color: $primary;
				font-size: 4.700em;
				line-height: normal;
				margin-bottom: 10px;
			}
			h2 {
				font-size: 60px;
				line-height: 70px;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 40px;
				span {
					display: block;
				}
			}
		}
		.banner-objects {
			.banner-objects-01 {
				position: absolute;
				top: 0;
				left: 0;
				right: auto;
				img {
					height: 850px;
					object-fit: cover;
				}
			}
			.banner-objects-02 {
				position: absolute;
				right: 0;
				top: 0;
				img {
					width: 1050px;
					z-index: -1;
					position: relative;
				}
			}
		}
	}
}

@media(max-width:1299px) {
    .landing-style-1 {
	.iq-banner-02 {
		.banner-objects {
			.banner-objects-01 {
				img {
					height: 700px;
				}
			}
		}
		.banner-text {
			h1 {
				font-size: 4.00em;
			}
			h2 {
				font-size: 50px;
				line-height: 60px;
			}
		}
	}
}

}

@media(max-width:1199px) {
    .landing-style-1 {
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			padding: 30px;
			margin: 0 150px 54px;
		}
	}
	.title-box.title-shadow {
		margin-bottom: 30px;
	}
	.iq-banner-02 {
		.banner-text {
			.iq-text {
				margin-left: 40px;
			}
		}
	}
}
}

@media(max-width:1024px) {
    .landing-style-1 {
	.iq-banner-02 {
		.banner-objects {
			.banner-objects-01 {
				img {
					height: 670px;
				}
			}
		}
	}
	.servicebox-datascience {
		.data-title {
			font-size: 24px;
		}
	}
}
}
@media (max-width:992px) {
    .iq-ptb-100 {
	padding: 75px 0;
}
section {
	padding: 75px 0;
}
.landing-style-1 {
	.video-edu {
		.iq-video-button {
			display: none;
		}
	}
	.iq-video-button {
		text-align: center;
	}
	.iq-higher-edu {
		img {
			max-width: 100% !important;
			top: 0% !important;
			position: relative !important;
			left: 0% !important;
		}
	}
	.iq-banner-02 {
		.banner-objects {
			.banner-objects-01 {
				position: relative;
				text-align: center;
				margin: 0 auto;
				display: inline-block;
				width: 100%;
				top: 0;
				left: auto;
				right: auto;
				img {
					height: 550px;
				}
			}
		}
		.banner-text {
			.iq-text {
				text-align: center;
				margin-left: 0px;
				.btn-container {
					text-align: center;
				}
			}
			z-index: 9;
			position: relative;
			margin-top: 5%;
			margin-bottom: 0%;
			h1 {
				font-size: 3.500em;
			}
			h2 {
				font-size: 45px;
				line-height: 55px;
			}
		}
	}
}
.iq-higher-edu {
	padding-top: 0px;
}
.iq-clients-edu {
	padding-top: 75px !important;
}

}
@media (max-width:979px) {
    .landing-style-1 {
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			margin: 15px 80px 60px;
		}
	}
	.main-header.header-software {
		background:$primary-light;
	}
}
.landing-style-1-top {
	.top-bar-software {
		display: none;
	}
}

}
@media (max-width:767px) {
    .landing-style-1 {
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			margin: 15px 0px 60px;
		}
	}
	.iq-banner-02 {
		.banner-objects {
			.banner-objects-01 {
				img {
					height: 350px;
					margin-top: 55px;
				}
			}
		}
		.banner-text {
			h2 {
				font-size: 30px;
				line-height: 40px;
			}
			h1 {
				font-size: 2.500em;
			}
			p {
				margin-bottom: 31px;
			}
		}
	}
}

}
@media (max-width:479px) {
    .landing-style-1 {
	.iq-banner-02 {
		.banner-text {
			p {
				font-size: 14px;
			}
		}
	}
}

}
@media (max-width:359px) {
    .landing-style-1 {
	.iq-banner-02 {
		.banner-text {
			p {
				margin-bottom: 31px;
				font-size: 11px;
			}
			h1 {
				font-size: 2.100em;
			}
			h2 {
				font-size: 26px;
				line-height: 36px;
			}
		}
	}
}

}
