
// navbar
body.landing-creative {
	background-color: $white;
}
.landing-creative {
	.l-header-2 {
		.navbar {
			.navbar-nav {
				.nav-item {
					a {
						&::before {
							background: $warning;
						}
						color: $white;
						padding: 5px 10px 5px 10px;
						&:hover {
							color: $warning;
							background: $white;
							box-shadow: none;
							@if $enable-rounded == true {
                                @include radius-mixin($border-radius);
                            }
						}
						&:focus {
							color: $warning;
							background: $white;
							@include shadow-mixin(none);
							@if $enable-rounded == true {
                                @include radius-mixin($border-radius);
                            }
						}
					}
					a.active {
						color: $warning;
						background: $white;
						@include shadow-mixin(none);
						@if $enable-rounded == true {
							@include radius-mixin($border-radius);
						}
						&:focus {
							color: $warning;
							background: $white;
							@include shadow-mixin(none);
							@if $enable-rounded == true {
                                @include radius-mixin($border-radius);
                            }
						}
						&:hover {
							color: $warning;
							background: $white;
							@include shadow-mixin(none);
							@if $enable-rounded == true {
                                @include radius-mixin($border-radius);
                            }
						}
					}
				}
				margin-top: 0;
				@if $enable-transitions == true {
                    @include transition-mixin(all 0.3s ease-in-out);
                }
				>li {
					margin: 0 30px 0 0;
					position: relative;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.navbar-brand {
				img {
					width: 100px;
					@if $enable-transitions == true {
                        @include transition-mixin(all 0.3s ease-in-out);
                    }
				}
			}
			ul {
				li {
					list-style: none;
					margin-right: 30px;
					position: relative;
					@if $enable-transitions == true {
                        @include transition-mixin(all 0.3s ease-in-out);
                    }
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		.button {
			margin-top: 0;
			margin-left: 15px;
		}
		.button-line {
			margin-top: 0;
			margin-left: 15px;
		}
	}
	header.main-header.l-header-2.fixed {
		z-index: 999;
		width: 100%;
		position: fixed;
		@include shadow-mixin(0px 0px 30px 0px rgba(0, 0, 0, 0.1));
		background: $dark;
		margin-top: 0px;
	}
	.landing-1 {
		header {
			position: fixed;
			background: transparent;
			display: inline-block;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 999;
			padding: 10px 0;
			background: $dark;
		}
	}
	.main-header {
		.navbar-toggler {
			padding: 2px 10px;
			background: $warning;
		}
	}
	p {
		color: $body-text-dark;
	}
}

// banner
.landing-creative {
	.iq-banner {
		position: relative;
		overflow: hidden;
		background: $warning-light;
		.container-fluid {
			padding: 0px 100px;
		}
		.banner-text {
			z-index: 9;
			position: relative;
			margin-top: 13%;
			margin-bottom: 0%;
			z-index: 9;
			position: relative;
			margin-top: 13%;
			margin-bottom: 0%;
			h1 {
				font-size: 3.200em;
				line-height: 1.4;
				margin-bottom: 15px;
				font-size: 3.200em;
				line-height: 1.4;
				margin-bottom: 15px;
			}
			p {
				span {
					display: block;
				}
			}
		}
		.iq-text {
			margin-top: 0px;
			font-size: 140px;
			line-height: 100px;
			color: $white;
			text-transform: uppercase;
			font-weight: 900;
			z-index: -2;
			text-align: right;
			letter-spacing: 4px;
		}
		.banner-img {
			width: 110%;
		}
		.iq-banner-video {
			position: relative;
			top: 20%;
		}
		.iq-video {
			border: 1px solid $white;
			background: $white;
			display: inline-block;
			width: 60px;
			height: 60px;
			line-height: 70px;
			text-align: center;
			font-size: 29px;
			color: $warning;
			float: left;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-circle);
            }			
			z-index: 9;
			position: relative;
			i {
				margin-left: 5px;
			}
		}
		.waves-box {
			position: absolute;
			top: 28%;
			left: 50%;
			margin-left: 50px;
		}
		.iq-waves {
			position: absolute;
			width: 14rem;
			height: 14rem;
			left: -90px;
			top: -90px;
			z-index: 2;
			float: right;
			.waves {
				position: absolute;
				width: 384px;
				width: 15rem;
				height: 384px;
				height: 15rem;
				background: rgba(255, 255, 255, 0.2);
				@include opacity-mixin(0);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				@if $enable-rounded == true {
					@include radius-mixin(320px);
				}
				background-clip: padding-box;
				-webkit-animation: waves 3s ease-in-out infinite;
				animation: waves 3s ease-in-out infinite;
			}
			.wave-1 {
				-webkit-animation-delay: 0s;
				animation-delay: 0s;
			}
			.wave-2 {
				-webkit-animation-delay: 1s;
				animation-delay: 1s;
			}
			.wave-3 {
				-webkit-animation-delay: 2s;
				animation-delay: 2s;
			}
		}
		.banner-objects {
			position: absolute;
			left: 0;
			top: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			.banner-objects-01 {
				position: absolute;
				top: 0;
				right: 0;
				left: 50%;
				img {
					width: 100%;
				}
			}
			.banner-objects-02 {
				position: absolute;
				left: 40%;
				top: 10%;
			}
		}
		.banner-responsive {
			display: none;
		}
	}
}

// service
.landing-creative {
	.iq-service-style1 {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		@if $enable-transitions == true {
            @include transition-mixin(all 0.3s ease-in-out);
        }
		.inner-wrapper {
			padding: 30px;
			margin-bottom: 30px;
			position: relative;
			overflow: hidden;
		}
		&:hover {
			&:after {
				@if $enable-transitions == true {
                    @include transition-mixin(all 0.3s ease-in-out);
                }
				content: "";
				height: 82px;
				width: 60px;
				position: absolute;
				top: 0px;
				right: 0px;
				padding-left: 24px;
			}
			.iq-iconbg {
				&:before {
					position: absolute;
					content: '';
					background-image: -webkit-linear-gradient(45deg, #fefeff00 0%, #ff45552b 100%);
					width: 90px;
					height: 90px;
					top: 38px;
					left: 51px;
					@if $enable-rounded == true {
                        @include radius-mixin($border-radius-circle);
                    }
					z-index: 1;
					transition: all 500ms ease;
				}
				i {
					color: $warning;
				}
			}
			.iq-image {
				@include opacity-mixin(1);
			}
			position: relative;
			background: $danger-light !important;
			box-shadow: 0px 16px 20px 0px rgba(255, 98, 0, 0.1);
		}
		.iq-iconbg {
			&:before {
				width: 70px;
				height: 70px;
				top: 38px;
				left: 51px;
				@if $enable-rounded == true {
                    @include radius-mixin($border-radius-circle);
                }
				position: absolute;
				content: '';
				background-image: -webkit-linear-gradient(45deg, #fefeff00 0%, #0000001a 100%);
				z-index: 1;
				transition: all 500ms ease;
			}
			img {
				margin-bottom: 30px;
			}
			i {
				font-size: 50px;
				padding: 30px;
				color: $body-text-dark;
			}
		}
		.iq-content {
			.iq-title {
				margin-bottom: 15px;
			}
		}
		.iq-image {
			position: absolute;
			top: -130px;
			right: 0;
			@include opacity-mixin(0);
		}
	}
	.btn-container {
		text-align: right;
	}
}
.iq-service-style1 {
	&:hover {
		.iq-image {
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
		}
	}
	.iq-iconbg {
		i {
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
		}
	}
}
// srction title
.landing-creative {
	.iq-title-box {
		.iq-subtitle {
			color: $dark;
			display: inline-block;
		}
		.iq-title {
			margin-bottom: 0;
			position: relative;
		}
		.iq-title-desc {
			margin-top: 15px;
			margin-bottom: 0;
		}
		margin-bottom: 60px;
		i {
			font-size: 30px;
			margin-bottom: 15px;
		}
		.iq-line {
			width: 130px;
			height: 10px;
			background: $warning;
			margin-bottom: 0px;
			position: absolute;
			top: 25px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: -1;
		}
		.iq-line.two {
			width: 265px;
			left: 54px;
			margin: 0;
		}
		.iq-line.three {
			left: 87px;
			margin: 0;
		}
		.iq-line.four {
			width: 142px;
			left: auto;
			right: 99px;
			margin: 0;
		}
		.iq-line.five {
			left: 86px;
			right: 0;
			margin: 0;
		}
		.iq-line.six {
			width: 183px;
			top: 20px;
			left: -99px;
		}
	}
}

// images
.landing-creative {
	.fancy-back {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}
	.fancy-pattern-d3 {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	.iq-investor {
		&:after {
			width: 100%;
			height: 100%;
			background: $warning-light;
			content: "";
			position: absolute;
			top: 0%;
			right: 0%;
			left: 50%;
			z-index: -1;
		}
	}
	.iq-fancy-pb {
		padding-bottom: 170px;
		&:after {
			width: 93%;
			height: 100%;
			background: $warning-light;
			border-bottom-right-radius: 21%;
			content: "";
			position: absolute;
			top: 0%;
			z-index: -1;
		}
	}
	.iq-abouimg {
		margin-top: -200px;
	}
	.iq-about-section {
		overflow: inherit;
	}
	.iq-portfolio-section {
		overflow: inherit;
	}
}

// Portfolio
.landing-creative {
	.iq-portfolio {
		position: relative;
		overflow: hidden;
		margin-bottom: 60px;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(240, 92, 66, 0.7);
			@include opacity-mixin(0);
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
		&:hover {
			&:after {
				@include opacity-mixin(1);
			}
			.iq-portfolio-img {
				&:before {
					@include opacity-mixin(1);
				}
			}
			.iq-portfolio-info {
				@include opacity-mixin(1);
				margin-top: -24px;
			}
			.portfolio-title {
				@include opacity-mixin(1);
			}
			.iq-portfolio-icon {
				background: transparent;
				@include opacity-mixin(1);
				z-index: 9;
			}
			.iq-image {
				@include opacity-mixin(1);
			}
		}
		.iq-portfolio-img {
			position: relative;
			img {
				width: 100%;
				@if $enable-rounded == true {
                    @include radius-mixin($border-radius);
                }
			}
		}
		.iq-portfolio-info {
			@include opacity-mixin(0);
			background: transparent;
			z-index: 2;
			margin-left: 0px;
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			overflow: hidden;
			position: relative;
			position: absolute;
			bottom: 0;
			bottom: 20px;
			display: inline-block;
			left: 30px;
			right: 0;
			a {
				text-decoration: none;
			}
			.portfolio-text {
				color: $white;
				margin-bottom: 0px;
			}
		}
		.portfolio-title {
			position: absolute;
			top: 15px;
			right: 20px;
			z-index: 9;
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			@include opacity-mixin(0);
			.iq-title {
				color: $white;
			}
		}
		.iq-portfolio-icon {
			color: $white;
			border-bottom-right-radius: 5px;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100px;
			height: 110px;
			line-height: 110px;
			background: $warning;
			border-bottom-right-radius: 3px;
			text-align: center;
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			a {
				text-align: center;
				color: $white;
			}
		}
		.iq-image {
			position: absolute;
			top: -53px;
			right: -24px;
			z-index: 1;
			@include opacity-mixin(0);
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
		}
	.overlay-right-bottom {
		position: absolute;
		top: -10%;
		right: -10%;
		height: 250px;
		width: 250px;
	}
	.overlay-right-bottom-2 {
		position: absolute;
		top: -10%;
		left: -1%;
	}
	.overlay-left-bottom {
		position: absolute;
		left: -7%;
		bottom: 9%;
		height: 200px;
		width: 200px;
	}
	.overlay-right-top-2 {
		position: absolute;
		right: -1%;
		top: 10%;
	}
}

//  Counter

.landing-creative {
	.iq-counter {
		padding: 15px;
		.iq-counter-icon {
			color: $black;
			margin-bottom: 15px;
		}
		.iq-counter-info {
			margin-bottom: 0;
			line-height: normal;
			font-weight: bold;
		}
	}
	.iq-counter.iq-counter-style-1 {
		.iq-counter-info {
			font-weight: normal;
			.timer {
				font-size: 60px;
				color: $white;
				font-weight: bold;
			}
			.counter-symbol {
				font-size: 60px;
				color: $white;
				font-weight: bold;
			}
			.counter-after-content {
				font-size: 60px;
				color: $white;
				font-weight: bold;
			}
		}
		.counter-content-text {
			margin-top: 0px;
			color: $white;
			margin-bottom: 0px;
		}
	}
	.iq-counter-block {
		.inner-container {
			.iq-pattern-style {
				&:before {
					right: 0px;
					bottom: 0px;
					background-color: $warning;
					position: absolute;
					content: '';
					left: 0px;
					top: 0px;
					@if $enable-rounded == true {
						@include radius-mixin($border-radius-left);
					}
				}
				position: absolute;
				width: 1000%;
				height: 100%;
				left: 0px;
				top: 0px;
			}
			padding-bottom: 50px;
			padding-left: 80px;
			position: relative;
			padding-top: 55px;
		}
		.auto-container {
			padding: 0px 15px;
			margin: 0 auto;
			position: static;
			max-width: 1200px;
		}
	}
	.creative-section {
		position: relative;
		z-index: 99;
		background: $white;
		padding: 100px 0;
		display: block;
		width: 100%;
		overflow: hidden;
	}
}

// team
.landing-creative {
	.iq-team-blog {
		position: relative;
		overflow: hidden;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		list-style: none;
		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(240, 92, 66, 0.7);
			@include opacity-mixin(0);
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
		}
		&:hover {
			&:after {
				@include opacity-mixin(1);
			}
			.iq-team-social {
				@include opacity-mixin(1);
			}
			.iq-team-img {
				&:before {
					@include opacity-mixin(1);
				}
			}
			.iq-team-info {
				@include opacity-mixin(1);
				margin-top: -24px;
			}
			.iq-image {
				@include opacity-mixin(1);
			}
		}
		.iq-team-img {
			position: relative;
			img {
				width: 100%;
			}
		}
		.iq-team-info {
			@include opacity-mixin(0);
			background: transparent;
			z-index: 2;
			margin-left: 10px;
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			overflow: hidden;
			position: relative;
			position: absolute;
			bottom: 0;
			bottom: 15px;
			display: inline-block;
			left: 15px;
			right: 0;
			.member-text {
				color: $white;
				margin-bottom: 10px;
			}
			span.designation-text {
				color: $white;
			}
		}
		.iq-team-social {
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 9;
			@include opacity-mixin(0);
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			ul {
				margin: 0;
				padding: 0;
			}
		}
		ul {
			li {
				margin-bottom: 1px;
				display: inline-block;
				a {
					margin-right: 15px;
					background: transparent;
					text-align: center;
					display: inline-block;
					color: $white;
					i {
						color: $white;
						line-height: 30px;
					}
				}
				&:hover {
					a {
						i {
							color: $white;
						}
					}
				}
			}
		}
		.iq-image {
			position: absolute;
			top: -92px;
			right: -50px;
			z-index: 1;
			@include opacity-mixin(0);
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			position: absolute;
			top: -92px;
			right: -50px;
			z-index: 1;
			@include opacity-mixin(0);
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
		}
	}
}

// dots
.landing-creative {
	.owl-carousel {
		.owl-dots.disabled {
			display: none;
		}
		.owl-dots {
			margin-top: 15px;
			position: relative;
			width: 100%;
			display: inline-block;
			text-indent: inherit;
			text-align: center;
			cursor: pointer;
			.owl-dot {
				box-shadow: none;
				outline: none;
				background: $white;
				display: inline-block;
				vertical-align: middle;
				@if $enable-rounded == true {
                    @include radius-mixin($border-radius-circle);
                }
				padding: 0;
				margin: 0px 5px;
				height: 10px;
				width: 10px;
				border: 2px solid $warning;
				@if $enable-transitions == true {
                    @include transition-mixin(all 0.3s ease-in-out);
                }
				cursor: pointer;
				span {
					display: none;
				}
				&:hover {
					height: 15px;
					width: 15px;
					background: $warning;
					border: 2px solid $white;
				}
			}
			.owl-dot.active {
				height: 15px;
				width: 15px;
				background: $warning;
				border: 2px solid $warning;
			}
		}
	}
}

// Testimonial style 1
.landing-creative {
	.owl-carousel {
		.owl-dots.disabled {
			display: none;
		}
		.iq-testimonial {
			.testimonial-info {
				position: relative;
				display: flex;
			}
			.testimonial-name {
				span {
					color: $black;
					display: inline;
					margin-left: 5px;
				}
				flex: 1;
				h5 {
					display: inline;
				}
			}
			p {
				margin-top: 0px;
				margin-bottom: 30px;
				font-style: italic;
			}
			padding: 30px 80px 30px 30px;
			overflow: hidden;
			@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
			background: $white;
			margin-bottom: 30px;
			margin-top: 25px;
		}
	}
	.owl-item {
		.item.financial-testimonial {
			.testimonial-info {
				img {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
	.testimonial {
		.owl-item {
			.testimonial-info {
				img {
					width: 70px;
					height: 70px;
					margin-right: 15px;
				}
			}
		}
		.owl-carousel {
			.iq-testimonial {
				.iq-icon {
					content: "\f000";
					color: rgba(250, 203, 192, 0.25);
					position: absolute;
					right: 30px;
					bottom: 12px;
					font-family: "Font Awesome 5 Free";
					padding-right: 3px;
					vertical-align: middle;
					font-weight: 900;
					display: inline-block;
					font-size: 100px;
				}
			}
			.owl-nav {
				display: block;
				position: absolute;
				text-indent: inherit;
				top: 50%;
				@include transform-mixin( translateY(-50%));
				left: 0;
				width: 100%;
				cursor: pointer;
				z-index: 999;
				.owl-prev {
					outline: none;
					background: none;
					border: none;
					display: block;
					position: absolute;
					text-align: center;
					text-indent: inherit;
					top: -25px;
					left: -8%;
					width: auto;
					cursor: pointer;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
				}
				.owl-next {
					outline: none;
					background: none;
					border: none;
					display: block;
					position: absolute;
					text-align: center;
					text-indent: inherit;
					top: -25px;
					right: -8%;
					width: auto;
					cursor: pointer;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
				i {
					background: transparent;
					color: $warning;
					border: 1px solid $warning;
					font-size: 24px;
					@include radius-mixin(90px);
					width: 45px;
					height: 45px;
					line-height: 45px;
					padding-left: 0px;
					display: inline-block;
					font-weight: 900;
					text-align: center;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					&:hover {
						background: $warning;
						color: $white;
					}
				}
			}
			.owl-prev {
					outline: none;
					background: none;
					border: none;
					display: block;
					position: absolute;
					text-align: center;
					text-indent: inherit;
					top: -25px;
					right: -8%;
					width: auto;
					cursor: pointer;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
				i {
					background: transparent;
					color: $warning;
					border: 1px solid $warning;
					font-size: 24px;
					@include radius-mixin(90px);
					width: 45px;
					height: 45px;
					line-height: 45px;
					padding-left: 0px;
					display: inline-block;
					font-weight: 900;
					text-align: center;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					&:hover {
						background: $warning;
						color: $white;
					}
				}
			}
		}
		p {
			color: $body-text-dark;
		}
		z-index: 9;
	}
	.overlay-left-bottom-2 {
		position: absolute;
		left: -6%;
		bottom: -6%;
	}
	.overlay-right-top {
		position: absolute;
		right: -6%;
		top: 10%;
		height: 230px;
		width: 230px;
	}
	p {
		margin-bottom: 30px;
	}
  }
}


// Partner
.landing-creative {
	.owl-carousel {
		.iq-partner-box {
			img {
				width: auto;
				margin: 0 auto;
				text-align: center;
			}
		}
	}
	.iq-partner-box {
		img {
			opacity: .4;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			&:hover {
				@include opacity-mixin(1);
			}
		}
	}
}

// blog
.landing-creative {
	.iq-blog-box {
		position: relative;
		overflow: hidden;
		margin-bottom: 45px;
		border: 1px solid $border-color;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		background: $white;
		box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		.iq-blog-image {
			position: relative;
			text-align: center;
			display: inline-block;
			float: left;
			width: 100%;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			img {
				background: $warning-light;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
		}
		.iq-blog-content {
			padding: 30px 15px 15px;
			display: inline-block;
			float: left;
			width: 100%;
			.blog-title {
				h5 {
					font-size: 1.25rem;
				}
			}
			p {
				margin-bottom: 15px;
			}
			.iq-blog-meta {
				ul {
					padding: 0;
					margin: 0;
				}
			}
		}
		.blog-title {
			margin: 0 0 5px 0;
			a {
				text-decoration: none;
				color: $title-text;
			}
		}
		.blog-footer {
			border-top: 1px solid $border-color;
			padding: 15px 0px;
		}
		.iq-blog-meta {
			float: left;
			ul {
				padding: 0;
				margin: 0;
			}
		}
		.blog-button {
			float: right;
		}
		.iq-blog-detail {
			padding: 30px;
			display: inline-block;
			float: left;
			width: 100%;
			.blog-title {
				h5 {
					font-size: 1.25rem;
				}
			}
			p {
				margin-bottom: 15px;
			}
		}
	}

	.blog-carousel {
		.owl-stage-outer {
			padding: 0px 15px;
		}
		margin: 0;
		float: left;
		width: 100%;
		clear: both;
		display: block;
	}
	.iq-blog-meta {
		a {
			color: $body-text-dark;
		}
		i {
			color: $warning;
		}
	}
}

// footer
.landing-creative {
	footer {
		padding-top: 0px;
		position: relative;
		.footer-topbar {
			background: $warning;
			padding: 45px 0;
			margin-bottom: 50px;
			.subscribe-title {
				font-weight: 500;
			}
		}
		.footer-top {
			color: $white;
			.widget {
				ul {
					padding: 0;
					margin: 0;
					li {
						list-style-type: none;
						display: inline-block;
						width: 100%;
						a {
							position: relative;
							padding: 7px 0 7px 15px;
							display: inline-flex;
							&:before {
								position: absolute;
								margin-right: 10px;
								content: "\f111";
								color: $warning;
								top: 50%;
								margin-top: -6px;
								font-size: 6px;
								left: 0;
								font-family: "Font Awesome 5 Free";
								line-height: 2;
								@if $enable-transitions == true {
									@include transition-mixin(all 0.3s ease-in-out);
								}
							}
							&:hover {
								color: $warning;
								text-decoration: none;
							}
						}
					}
				}
				ul.iq-contact {
					padding-left: 0px;
				}
				.textwidget {
					img {
						width: 100px;
					}
				}
			}
			.textwidget {
				p {
					margin-bottom: 0;
				}
			}
			.mc4wp-form {
				button {
					font-size: 0;
					position: absolute;
					right: 0;
					top: 15px;
					background: transparent;
					border: 0;
					padding: 0;
					i {
						font-size: 20px;
						color: $white;
					}
				}
				p {
					margin-bottom: 0;
				}
			}
		}
		.calendar_wrap {
			caption {
				color: $white;
			}
		}
		.footer-logo {
			height: 36px;
			img {
				margin-bottom: 30px;
			}
		}
		.mc4wp-form-fields {
			float: left;
			width: 100%;
		}
		.info-share {
			list-style: none;
			padding-left: 0;
			li {
				display: inline-block;
				a {
					color: $warning;
					background-color: $white;
					height: 40px;
					width: 40px;
					border: 1px solid $white;
					text-align: center;
					display: inline-block;
					line-height: 40px;
					vertical-align: middle;
					margin-right: 10px;
					@if $enable-rounded == true {
						@include radius-mixin($border-radius);
					}
					&:hover {
						border-color: $black;
						background-color: $black;
						color: $white;
					}
				}
			}
		}
		.iq-call {
			text-decoration: none;
			border-right: 1px solid $white;
			padding: 0 15px 0 32px;
			&:before {
				position: absolute;
				left: 0;
				bottom: 0;
				content: "\f2a0";
				font-size: 24px;
				font-family: "Font Awesome 5 Free";
			}
			&:hover {
				color: $warning !important;
			}
		}
		.iq-instagram {
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: "";
				background: rgba(23, 54, 58, 0);
				width: 100%;
				height: 100%;
				@if $enable-rounded == true {
					@include radius-mixin($border-radius);
				}
			}
			&:hover {
				&:before {
					background: rgba(23, 54, 58, 0.8);
				}
			}
			a {
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				@include opacity-mixin(0);
			}
		}
		input {
			height: 55px;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
		input[type=text] {
			height: 55px;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
		
		&::placeholder {
			color: $white !important;
		}
	
		.iq-social {
			margin-left: 20px;
			&:before {
				position: absolute;
				left: -20px;
				top: 10px;
				height: 2px;
				width: 20px;
				background: $warning;
				content: "";
			}
			i {
				font-size: 20px;
				&:hover {
					color: $warning;
				}
			}
			li {
				&:before {
					position: absolute;
					right: -10px;
					top: 10px;
					height: 2px;
					width: 2px;
					background: $warning;
					content: "";
				}
				&:last-child {
					&:before {
						content: none;
					}
				}
			}
		}
		.widget {
			margin-bottom: 30px;
			background: transparent;
			padding: 0;
			.footer-title {
				margin-bottom: 15px;
				font-weight: 600;
				a.rsswidget {
					img {
						vertical-align: unset;
					}
				}
			}
			ul.menu {
				li {
					.sub-menu {
						padding-left: 10px;
					}
				}
			}
			.iq-contact {
				li {
					a {
						&:before {
							display: none;
						}
						padding: 7px 0px;
						display: flex;
						align-items: flex-start;
						text-decoration: none;
					}
					position: relative;
					margin-bottom: 0px;
					display: inline-block;
					width: 100%;
					span {
						flex: 1;
						color: $body-text-dark;
					}
					i {
						margin-right: 15px;
						line-height: 25px;
						font-size: 20px;
						text-align: center;
						color: $warning;
					}
					p {
						display: flex;
						margin-bottom: 0;
					}
				}
				padding: 0;
			}
		}
		ul.menu {
			padding: 0;
			li {
				margin-bottom: 15px;
				list-style-type: none;
				a {
					padding: 7px 0 7px 0px;
					text-decoration: none;
					color: $body-text-dark;
				}
			}
		}
		.menu-footer-menu-container {
			ul.menu {
				li {
					a {
						padding: 7px 0 7px 0px;
						text-decoration: none;
						color: $body-text-dark;
					}
				}
			}
		}
		.footer-pattern {
			position: absolute;
			bottom: 0;
			left: 0;
			display: none;
		}
	}
	.iq-instagram {
		&:hover {
			a {
				opacity: inherit;
			}
		}
		a {
			&:hover {
				i {
					color: $warning !important;
				}
			}
		}
		img {
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
	}
	.instagram-box {
		.row {
			margin: 0;
		}
		.col-lg-4.col-md-4.col-sm-4 {
			padding: 0 15px 15px 0;
		}
	}
	footer.footer1 {
		.copyright {
			float: right;
		}
		.widget {
			ul.menu {
				li {
					a {
						border: none;
					}
				}
			}
		}
	}
}
footer {
	.footer-top {
		.widget {
			ul {
				li {
					a {
						color: $white;
					}
				}
			}
		}
	}

	.widget {
		&:last-child {
			margin-bottom: 30px;
		}
	}
}
.instagram-box {
	.col-lg-4.col-md-6.col-sm-6 {
		padding: 0 15px 15px 0;
	}
}

// Subscribe Now
.landing-creative {
	footer {
		.footer-subscribe {
			background: $dark;
			padding: 60px 0;
			margin-bottom: 75px;
			.vc_custom_heading {
				color: $white;
			}
			p {
				margin-bottom: 0;
			}
			.title {
				color: $white;
			}
		}
		.mc4wp-form-fields {
			position: relative;
			input[type=submit] {
				position: absolute;
				right: 0;
				top: 0;
				background: $white;
				color: $dark;
				&:hover {
					background: $dark;
					color: $white;
				}
			}
		}
	}
	input {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		width: 100%;
		float: left;
		padding: 0 15px;
		height: 52px;
		line-height: 48px;
		border: 1px solid $border-color;
		color: $body-text-dark;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		width: 100%;
		border: 1px solid $border-color;
		height: 52px;
		padding: 0 20px;
		margin-bottom: 0px;
		border-radius: 0;
		background: transparent;
		color: $body-text-dark;
		&::-webkit-input-placeholder {
			color: $white;
		}
		&::-moz-placeholder {
			color: $white;
		}
		&:-ms-input-placeholder {
			color: $white;
		}
	}
	input[type=text] {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		width: 100%;
		float: left;
		padding: 0 15px;
		height: 52px;
		line-height: 48px;
		border: 1px solid $border-color;
		color: $body-text-dark;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
	}
	input[type=email] {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		width: 100%;
		float: left;
		padding: 0 15px;
		height: 52px;
		line-height: 48px;
		border: 1px solid $border-color;
		color: $body-text-dark;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
	}
	input[type=search] {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		width: 100%;
		float: left;
		padding: 0 15px;
		height: 52px;
		line-height: 48px;
		border: 1px solid $border-color;
		color: $body-text-dark;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
	}
	input[type=password] {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		width: 100%;
		float: left;
		padding: 0 15px;
		height: 52px;
		line-height: 48px;
		border: 1px solid $border-color;
		color: $body-text-dark;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
	}
	textarea {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		width: 100%;
		float: left;
		padding: 0 15px;
		height: 52px;
		line-height: 48px;
		border: 1px solid $border-color;
		color: $body-text-dark;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
	}
	input.form-control {
		width: 100%;
		border: 1px solid $border-color;
		height: 52px;
		padding: 0 20px;
		margin-bottom: 0px;
		border-radius: 0;
		background: transparent;
		color: $body-text-dark;
	}
	.form-control {
		width: 100%;
		border: 1px solid $border-color;
		height: 52px;
		padding: 0 20px;
		margin-bottom: 0px;
		border-radius: 0;
		background: transparent;
		color: $body-text-dark;
	}
	input[type=submit] {
		color: $white;
		background: $warning;
		cursor: pointer;
		margin-bottom: 0;
		text-decoration: none;
		height: auto;
		padding: 10px 30px;
		font-size: 1em;
		line-height: 2;
		border: none;
		position: relative;
		display: inline-block;
		width: auto;
		cursor: pointer;
		outline: none;
		box-shadow: none !important;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
	}
	.contact-form {
		.cfield {
			input[type=submit] {
				color: $white;
				background: $warning;
				cursor: pointer;
				margin-bottom: 0;
				text-decoration: none;
				height: auto;
				padding: 10px 30px;
				font-size: 1em;
				line-height: 2;
				border: none;
				position: relative;
				display: inline-block;
				width: auto;
				cursor: pointer;
				outline: none;
				box-shadow: none !important;
				@if $enable-rounded == true {
					@include radius-mixin($border-radius);
				}
			}
		}
	}
	[type=submit] {
		color: $white;
		background: $warning;
		cursor: pointer;
		margin-bottom: 0;
		text-decoration: none;
		height: auto;
		padding: 10px 30px;
		font-size: 1em;
		line-height: 2;
		border: none;
		position: relative;
		display: inline-block;
		width: auto;
		cursor: pointer;
		outline: none;
		box-shadow: none !important;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
	}
	#back-to-top {
		.top {
			z-index: 999;
			position: fixed;
			margin: 0px;
			color: $white;
			background: $dark;
			position: fixed;
			bottom: 30px;
			right: 25px;
			z-index: 999;
			font-size: 26px;
			width: 50px;
			height: 50px;
			text-align: center;
			line-height: 60px;
			@if $enable-rounded == true {
            	@include radius-mixin($border-radius);
        	}
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			&:hover {
				background: $warning;
			}
		}
	}
}


@media (max-width:1600px) {
    .landing-creative {
        .iq-banner {
            .waves-box {
                position: absolute;
                top: 28%;
                left: 50%;
                margin-left: 0px;
            }
        }
    }
}

@media(max-width:1366px) {
    .landing-creative {
        .iq-banner {
            .iq-text {
                font-size: 128px;
            }
        }
        .objects-main {
            display: none;
        }
    }
}

@media(max-width:1199px) {
    .landing-creative {
        .iq-banner {
            .banner-text {
                margin-top: 10%;
                h1 {
                    font-size: 45px;
                }
            }
        }
        .iq-web-services {
            img {
                left: -17%;
            }
        }
        .landing-creative {
            footer {
                .footer-pattern {
                    left: -18%;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .landing-creative {
        footer {
            .footer-pattern {
                display: none;
            }
        }
        .iq-banner {
			.iq-text{
				font-size: 90px;
				line-height:85px;
			}
            .banner-text {
                margin-top: 9%;
            }
        }
        .container {
            max-width: 1200px;
		}
    }
}

@media(max-width:992px) {
    .iq-section-pb-70 {
        padding-bottom: 45px;
    }
    .iq-section-pt-70 {
        padding-top: 45px;
    }
    .iq-section-ptb-60 {
        padding: 30px 0px;
    }
    .iq-section-pb-40 {
        padding-bottom: 45px !important;
    }
    .iq-section-pb-55 {
        padding-bottom: 30px;
    }
    .landing-creative {
        .iq-banner {
            .banner-responsive {
                display: block;
                text-align: center;
                img {
                    height: 430px;
                }
            }
            .banner-objects {
                .banner-objects-01 {
                    display: none;
                }
                .banner-objects-02 {
                    display: none;
                }
            }
            .waves-box {
                text-align: center;
                position: absolute;
				left: 50%;
				@include transform-mixin( translateX(-50%));
                right: auto;
                margin-left: 0px;
                top: 40%;
            }
            .iq-banner-video {
                top: 9%;
            }
            .iq-text {
                display: none;
            }
            .banner-text {
                text-align: center;
                text-align: center;
                margin-top: 12%;
                .btn-container {
                    text-align: center !important;
                }
                h1 {
                    font-size: 40px;
                }
            }
        }
        .iq-banner.banner-text {
            h1 {
                font-size: 50px;
            }
        }
        .iq-portfolio {
            margin-bottom: 30px;
        }
        .iq-portfolio-section {
            padding-top: 0px;
        }
        .iq-counter.iq-counter-style-1 {
            text-align: center;
        }
        .iq-investor {
            &:after {
                display: none;
            }
        }
        .creative-section {
            padding: 75px 0px;
        }
        .res-pt {
            padding-top: 0px;
        }
        .testimonial {
            .owl-carousel {
                .owl-nav {
                    display: none;
                }
            }
        }
        .overlay-left-bottom {
            display: none;
        }
        .overlay-right-bottom-2 {
            display: none;
        }
        .overlay-right-bottom {
            display: none;
        }
        .overlay-right-top-2 {
            display: none;
        }
        .overlay-right-top {
            display: none;
        }
        .overlay-left-bottom-2 {
            display: none;
        }
        .overview-block-pt {
            padding: 75px 0 0 0;
        }
        .iq-portfolio-slider {
            .swiper-slide {
                margin-right: 30px !important;
            }
        }
        .iq-subscribe-block {
            .inner-container {
                padding: 60px 30px 55px 16px;
            }
        }
        .iq-portfolio-titlebox {
            padding-top: 0px;
        }
        .iq-counter-block {
            .inner-container {
                padding-left: 15px !important;
            }
        }
    }
    .overview-block-pb.iq-vedio-section {
        padding-bottom: 0px;
    }


}

@media (max-width:991px) {
    .landing-creative {
        .l-header-2 {
            .navbar {
                .navbar-nav {
                    .nav-item {
                        a {
                            padding: 15px;
                            color: $body-text-dark;
                        }
                    }
                }
            }
        }
    }
    .landing-creative {
        .l-header-2 {
            .navbar {
                .navbar-nav {
                    .nav-item {
                        a {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:767px) {
    .landing-creative {
	.btn-container {
		text-align: left;
		margin-bottom: 45px;
	}
	.iq-banner {
		.banner-text {
			h1 {
				font-size: 34px;
			}
			.btn-container {
				margin-bottom: 0px;
			}
		}
		.banner-responsive {
			img {
				height: 350px;
			}
		}
		.container-fluid {
			padding: 0px 15px;
		}
	}
	h2 {
		font-size: 30px;
	}
	.iq-portfolio-slider {
		.swiper-slide {
			margin-right: 20px !important;
		}
	}
	.instagram-box {
		.col-lg-4.col-md-4.col-sm-4 {
			padding: 0 0px 16px 1px;
		}
	}

}

}

@media(max-width:575px) {

}

@media(max-width:479px) {
    .landing-creative {
	.iq-image-expert {
		.iq-pattern {
			right: 20%;
		}
	}
	.iq-team2 {
		.img-pattern-1 {
			right: 23%;
		}
	}
	.owl-carousel {
		.iq-testimonial {
			padding: 30px 30px 30px 30px;
			.testimonial-info {
				display: block;
			}
			.testimonial-name {
				margin-top: 15px;
			}
		}
	}
	footer.footer2 {
		&:after {
			height: 120px;
		}
	}
	.iq-portfolio-after {
		&:after {
			height: 243px;
		}
	}
	.iq-agency-block {
		margin-top: -70px;
	}
}
.landing-creative {
	.iq-banner {
		.banner-text {
			h1 {
				font-size: 20px;
			}
			margin-top: 21%;
		}
		.banner-responsive {
			img {
				height: 300px;
			}
		}
	}
	footer {
		input[type=email] {
			padding: 0 140px 0 15px;
			font-size: 14px;
		}
	}
	.iq-title-box {
		.iq-line.two {
			width: 210px;
		}
	}
	.iq-waves {
		left: -67px;
		top: -79px;
	}
	
}

}

@media(max-width:359px) {
    .landing-creative {
	.iq-portfolio {
		.iq-portfolio-icon {
			width: 80px;
			height: 90px;
			line-height: 90px;
		}
	}
	.iq-banner {
		.banner-text {
			h1 {
				font-size: 30px;
			}
			p {
				font-size: 14px;
			}
			margin-top: 25%;
		}
	}
}

}

