<html>
    <link rel="shortcut icon" href="#">
    <head>
        <title>Flask-SocketIO-Chat</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/index',{transports:['websocket']});
                socket.on('connect', function() {
                    console.log("init");
                    socket.emit('init', {});
                    console.log("domain",document.domain);
                });
                // socket.emit('send_message', {msg: "agree?", receive_user: "test2"});
                socket.on('status', function(data) {
                    var show_receive_message = document.getElementById('receive_message');
                    show_receive_message.innerHTML = data.msg;
                });
                socket.on('message', function(data) {
                    var show_receive_message = document.getElementById('receive_message');
                    show_receive_message.innerHTML = data.msg;

                    var show_button = document.getElementById('two_button');
                    show_button.style.display = "block";
                    
                    
                });
                socket.on('redirect', function(data) {
                    window.location = data.url;
                });
                // socket.on('message', function(data) {
                //     $('#chat').val($('#chat').val() + data.msg + '\n');
                //     $('#chat').scrollTop($('#chat')[0].scrollHeight);
                // });
                // $('#text').keypress(function(e) {
                //     var code = e.keyCode || e.which;
                //     if (code == 13) {
                //         text = $('#text').val();
                //         $('#text').val('');
                //         socket.emit('text', {msg: text});
                //     }
                // });
                
            });
            function send_message() {
                    text = $('#text').val();
                    socket.emit('send_message', {msg: text});
                //     socket.on('status', function(data) {
                //         var show_receive_message = document.getElementById('receive_message');
                //         show_receive_message.innerHTML = data.msg;
                // });
            }
            function decision() {
                console.log("accept");
                    socket.emit('accept', {});
                //     socket.on('status', function(data) {
                //         var show_receive_message = document.getElementById('receive_message');
                //         show_receive_message.innerHTML = data.msg;
                // });
            }
        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat</h1>
        <h1>Hi, {{ name }}</h1>
        <div id="receive_message">
        </div>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
            {{ form.submit() }}
        </form>
        <input id="text" size="80" placeholder="Enter Connect User here"><br><br>
        <button onclick="send_message()">Submit</button>
        
        <div id="two_button" style="display:none">
            <button id="accept" onclick="decision()">
                Accept
            </button>
    
            <button id="decline">
                Decline
            </button>
        </div>
       
    </body>
</html>
