[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"
twine = "*"
pyjwt = "*"
jwt = "*"
sqlalchemy = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
torch = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
pandas = "*"
pytorch-sphinx-theme = "*"
nbsphinx = "*"
ipykernel = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
ipython = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.8"
