[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"
sqlalchemy = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
torch = "*"
pandas = "*"
nbsphinx = "*"
ipykernel = "*"
wheel = "*"
typeguard = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
ipython = "*"
mypy = "*"
wheel = "*"
recommonmark = "*"
sphinx-copybutton = "*"
sphinx-issues = "*"
nbsphinx = "*"

[requires]
python_version = "3.9"
