// sidebar design
.sidebar-bg-box {
	#sidebar-scrollbar {
		height: calc(100vh - 190px);
	}
	.iq-sidebar-logo{
		padding: 0 0 15px;
	}
	.iq-top-navbar{
		.iq-search-bar {
			.search-input{
				padding: 5px 38px 5px 15px;
			}
			.search-link {
				background-color: $primary-light;
				top: 0;
				bottom: 0;
				right: 0;
				width: 40px;
				text-align: center;
				line-height: 39px;
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-right);
				}

			}
		}	
	}
	#navbarSupportedContent{
		flex-grow: unset;
	}
	.iq-sidebar-menu {
	.iq-menu {
		li.active {
			>a {
				color: $primary;
			}
		}
	}
}
	.iq-fitness-info {
		padding: 15px !important;
		text-align: center;
		#userinfo {
			li {
				text-align: left;
				padding: 5px 20px;
				a {
					color: $body-text;
					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
	.iq-sidebar-menu {
		.iq-menu {
			>li {
				>a {
					&::before {
						content: "";
						width: 3px;
						height: 0px;
						display: inline-block;
						background: $primary;
						position: absolute;
						top: 0px;
						left: 0px;
                        @include opacity-mixin(0);
						@if $enable-transitions == true {
                            @include transition-mixin(all 0.3s ease-in-out);
                        }
					}
				}
			}
			li {

				&:hover {
					>a {
						color: $primary;
					}
				}
				a[aria-expanded=true] {
					background: $sidebar-primary-light;
				}
				.iq-submenu {
					li {
						a {
							&:hover {
								color: $primary;
							}
						}
						a[aria-expanded=true] {
							color: $primary;
							border-radius: inherit;
						}
					}
				}
			}
			>li.active {
				>a {
					&::before {
						@include opacity-mixin(1);
						height: 100%;
					}
				}
			}
			li.active {
				>a {
					background: $sidebar-primary-light;
				}
			}
			.iq-submenu {
				margin-left: 15px;
			}
		}
	}
	.search-content {
		display: block;
	}
	li.nav-item.nav-icon {
		margin: 17px 10px 16px;
	}
	.navbar-list {
		li {
			>a.toggle-icon-effect {
				height: 40px;
				width: 40px;
				line-height: 40px;
				padding: 0px 12px;
				color: $white;
			}
		}
	}
	.nav-item {
		span.count-mail {
			top: -4px;
			right: -2px;
			height: 10px;
			width: 10px;
			border: 2px solid $white;
			animation: none;
		}
		span.dots {
			top: -4px;
			right: -2px;
			height: 10px;
			width: 10px;
			border: 2px solid $white;
			animation: none;
		}
	}
}
.media-body {
	flex: 1;
}
.event-info {
	flex: 1;
}
.sidebar-bg-box {
	#sidebar-bottom {
		padding: 50px 15px 15px !important;
		.image {
			margin-top: -70px;
			img {
				max-width: 60%;
			}
		}
	}
}
.sidebar-bg-box {
	.user-text {
		flex: 1;
		.user-text-info {
			flex: 1;
		}
	}
}
.user-background {
	a{
		color: $white;
	}
	ul#userinfo1 {
		padding-left: 15px;
		padding-top: 10px;
		li{
			padding: 5px 0;
		}
		a{
			i{
				font-size: 20px;
			}
		}
	}
}


// content
.sidebar-bg-box {
	.iq-footer {
		margin-left: 260px;
		width: calc(100vw - 264px);
	}
}

.fit-icon {
	height: 70px;
	width: 70px;
	min-width: 70px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.avail-danger {
	border: 2px solid $danger !important;
}
.iq-profile-top {
    margin-top: -50px;
}
.event-icon.icon {
	line-height: 22px;
    padding-top: 10px;
    @if $enable-rounded == true {
        @include radius-mixin($border-radius-normal);
    }
}
.fitness-datepickr {
	.flatpickr-innerContainer {
		display: block;
		padding-top: 15px;
	}
	.flatpickr-current-month{
		padding: 10px 0 0;
	}
}
.fitness-datepickr{
.flatpickr-current-month {
	.flatpickr-monthDropdown-months {
		&:hover {
			background: transparent;
		}
	}
}
.numInputWrapper{
	&:hover{
		background: transparent;
	}
}
.flatpickr-months {
	.flatpickr-next-month {
		&:hover {
			svg {
				fill: $primary;
			}
		}
	}
	.flatpickr-prev-month {
		&:hover {
			svg {
				fill: $primary;
			}
		}
	}
}

}
#fit-progress-chart-03 {
    min-height: 300px !important;
}
.data-indicator {
	.status {
		margin-top: -33px;
		display: block;
		margin-right: -60px;
	}
}


@media (min-width:1300px) {
	.sidebar-bg-box {
	.iq-menu-bt-sidebar {
		display: none;
	}
	.iq-sidebar-logo {
		justify-content: center !important;
	}
}
.fitness-content {
	h1 {
		font-size: 2.1em;
	}
}


}

@media (max-width: 1299px){
    .iq-sidebar.sidebar-bg-box {
	.wrapper-menu {
		color: $white;
	}
	
    .iq-fitness-info {
		padding: 20px 20px !important;
	}
}
.sidebar-bg-box {
	.iq-footer{
		margin-left: 0;
    	width: 100%;
	}
	.iq-top-navbar{
		.iq-navbar-custom{
			.navbar-breadcrumb{
			display: none;
			}
		}		
	}	
}
	.sidebar-bg-box{
		.iq-menu-bt-sidebar{
			margin: 0 !important;

		}

	}

}

@media (max-width: 991px){
    .sidebar-bg-box {
		.iq-navbar-custom {
			.navbar-breadcrumb {
				display: none;
			}
		}
	.content-page {
    	padding: 120px 0 0;
	}
}

}

@media (max-width: 767px){
	.data-indicator {
		display: flex;
		align-items: center;
		justify-content: center;
		> li {
			margin: 16px 0 0 !important;
			padding: 0 15px;
		}
	}

}
@media (max-width: 479px){
    .fitness-content {
        font-size: 0;
    }
}

@media (max-width: 280px) {
	.fitness-datepickr {
		.flatpickr-innerContainer {
			padding-right: 100px;
		}
	}
	.sidebar-bg-box {
		.flatpickr-months {
			.flatpickr-next-month.flatpickr-next-month {
				padding-right: 100px;
			}
		}
		.flatpickr-current-month {
			left: 0;
		}
	}
}
