.iq-sidebar.fixed-top-navbar {
	background: $primary;
}
#payment-layout-chart-4 {
    min-height: 300px !important;
}
.fixed-top-navbar {
	.change-mode {
		margin-right: 13px;
	}
	.iq-sidebar-menu {
		.iq-menu {
			li.active {
				>a {
					color: $primary;
				}
			}
		}
	}
	.iq-top-navbar {
		width: 100%;
	}
	.content-page {
		margin-left: 0px;
	}
	.iq-navbar-logo {
		>a {
			display: block;
		}
	}
	.iq-search-bar.iq-sub-dropdown {
		.searchbox {
			width: auto;
		}
	}

	.iq-search-bar {
		.searchbox{
			.search-input {
				border: 0;
			} 
			
		}	
	}
	.iq-navbar-custom.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li.search-content {
		display: block;
	}
	.iq-navbar-custom {
		nav.navbar {
			position: static;
		}
	}
	footer.iq-footer {
		margin-left: 0;
		width: 100%;
		position: relative;;
	}
}
.card-invoice {
	padding: 40px 20px;
	width: 33.33%;
	margin-right: 15px;
	border: 1px solid;
}
.payment-detail {
	border-radius: 10px;
}
.form-control.value-select {
    width: auto;
    background: transparent;
    border: none;
}
.form-control.conversion-text {
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 700;
	color: $title-text;
}



@media (min-width:1300px) {
    .fixed-top-navbar {
		.iq-navbar-logo{
			display: flex !important;
		}
	.wrapper-menu {
		color: $white;
	}
	.iq-top-navbar {
		.iq-menu-bt {
			.wrapper-menu {
				display: none !important;
			}
			display: block !important;
			padding: 0;
			margin: 0!important;
		}
	}
	
	.iq-page-menu-horizontal {
		.content-page {
			margin-left: 0px;
			background: $body-bg;
			position: relative;
			padding: 100px 50px 0px;
		}
	}
}


// fixed sidemneu
.payment-fixed-menu {
	position: fixed;
	top: 110px;
	left: 30px;
	.payment-info {
		a{
			color: $white;
			font-size: 30px;
		}
		@if $enable-shadows == true {
			@include shadow-mixin($box-shadow);
		}
		width: 45px;
		line-height: 29px;
		font-size: 23px;
		text-align: center;
		padding-bottom:0!important;
		ul {
			li {
				padding: 10px 0;
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding: 5px 0;
				}
				a {
					color: $white;
					font-size: 30px;
					&:hover {
						color: $white;
					}
				}
			}
		}
	}
}

}

@media (max-width:1299px) {
    .fixed-top-navbar {
	.iq-top-navbar {
		.iq-menu-bt {
			padding: 0;
		}
	}
	
}
.payment-fixed-menu {
	display: none;
}
.fixed-top-navbar.sidebar-main {
	.iq-menu-horizontal {
		@include opacity-mixin(1);
		left: 0;
		@if $enable-transitions == true {
            @include transition-mixin(all 0.3s ease-in-out);
        }
		@include radius-mixin(0);
	}
}

}
@media (max-width: 991px){
	.fixed-top-navbar {
		.change-mode {
			margin-right: 30px;
		}
	}
}
@media (max-width: 767px){
    .card-invoice{
        width: 100%;
	}
	.fixed-top-navbar {
		.block-rate{
			h4{
				font-size: 18px;
			}
		}
	}
}