
// contents
.card.adv-card {
	background: $warning-light;
}
.bottom-img {
	position: relative;
	bottom: 0;
	right: 0;
}
.svg-white {
	svg {
		path {
			fill: $white;
		}
	}
}
.svg-danger {
	svg {
		path {
			fill: $danger;
		}
	}
}
.svg-success {
	svg {
		path {
			fill: $success;
		}
	}
}
.svg-primary {
	svg {
		path {
			fill: $primary;
		}
	}
}
.svg-warning {
	svg {
		path {
			fill: $warning;
		}
	}
}
.svg-info {
	svg {
		path {
			fill: $info;
		}
	}
}
.ecomm-p {
	>.media {
		&:first-child {
			margin-right: 12px;
		}
		width: 50%;
		h4 {
			font-size: 1.7em;
		}
	}
	.iq-icon-box {
		width: 54px;
		height: 54px;
		min-width: 54px;
		line-height: 54px;
	}
}
.icon-arrow {
	padding: 5px;
	width: 25px;
	height: 25px;
	line-height: 18px;
	text-align: center;
}
.fit-box {
	.fit-icon {
		line-height: 75px;
	}
}
#ecommerce2-chart-05 {
	.apexcharts-inner {
        @include transform-mixin( translate(-53px, -34px));
	}
}

#ecommerce2-chart-03 {
	height: 280px !important;
}
#ecommerce2-chart-04 {
	.apexcharts-canvas {
		margin-left: -15px;
	}
}
.eco2-pro {
	table {
		td {
			padding: 10px;
		}
	}
}

#ecommerce2-chart-01 {
    min-height: 260px !important;
}

#ecommerce2-chart-02 {
    min-height: 290px !important;
}
.top-title-text-block {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 30px;
    margin-bottom: 70px;
}
#ecommerce2-chart-06 {
    min-height: 185px !important;
}
#ecommerce2-chart-07 {
    min-height: 260px !important;
}


// sidebar

body.ecommerce-navbar {
	padding: 0 80px;	
}
.iq-sidebar.fixed-top-navbar {
	background: $primary;
}
.ecommerce-navbar {
	.iq-top-navbar {
		position: static;
		left: 0;
		right: 0;
		width: 100%;
		.iq-user-dropdown {
			z-index: 99;
		}
		.iq-search-bar{
			.searchbox{
				width: 100%;
			}
		}		
	}
	.iq-top-navbar.border-navbar{
		border-radius: 0 0 45px 45px;
		border-style:solid;
		border-color: rgba(0,0,0,0.05);
		border-width: 0 10px 10px 10px;
	}
	.content-page {
		margin-left: 0px;
		padding: 30px 0 0px;
	}
	.iq-navbar-logo {
		>a {
			display: block;
		}
	}
	.iq-search-bar {
		.search-input {
			border: 0;
		}
	}
	.iq-navbar-custom.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li.search-content {
		display: block;
	}
	.iq-navbar-custom {
		nav.navbar {
			position: static;
		}
	}
	footer.iq-footer {
        margin-left: 0;
		width: 100%;
		padding: 15px 5px;
	}
	.iq-navbar-custom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.iq-saidbar-logo {
		display: none !important;
	}
}
body.ecommerce-navbar.sidebar-main {
	.iq-top-navbar {
		width: 100%;
	}
	.content-page {
		margin-left: 0px;
	}
}
.ecommerce-navbar{
	.box-ecommerce-list{
		line-height: normal;
	}
}
@media (min-width:1300px) {
    .ecommerce-navbar {
		.wrapper-menu {
			color: $white;
		}
		.iq-top-navbar {
			.iq-navbar-logo{
				display: flex !important;
			}
			.iq-menu-horizontal{
				.iq-sidebar-logo{
					display: none!important;
				}
			}			
		}	
	}
}

@media (max-width:1299px) {
    .ecommerce-navbar {
		.iq-menu-horizontal {
			top: 0;
			.iq-sidebar-menu{
				.iq-menu{
					li{
						a{
							padding: 15px 20px 15px 15px;	
						}
					}
				}
				.iq-sidebar-logo{
					.wrapper-menu{
						margin:0;
					}
				}
			}
		}
	.iq-navbar-custom.container {
		max-width: 100%;
	}
	.iq-top-navbar {
		.iq-menu-bt {
			padding: 0;
		}
	}
	.iq-saidbar-logo {
		display: flex !important;
		padding: 20px;
	}
}
.ecommerce-navbar.sidebar-main {
	.iq-menu-horizontal {
		@include opacity-mixin(1);
		left: 0;
		@if $enable-transitions == true {
            @include transition-mixin(all 0.3s ease-in-out);
        }
		@include radius-mixin(0);
	}
}
body.ecommerce-navbar {
	.content-page {
		padding: 30px 0 0;
	}
}
body.ecommerce-navbar.sidebar-main {
	.content-page {
		padding: 30px 0 0;
	}
}

}
@media(min-width:992px) and (max-width:1200px){
	.ecommerce-navbar{
		.mini-chart{
			.iq-cart-text.country-text{
				padding-left:80px;
				.res-align{
					display: block!important;
				}
			}
		}
	}	
}
@media(min-width:992px) and (max-width:1199px){
	.ecommerce-navbar{
		.box-ecommerce-list{
			&:first-child{
				&:before{
					content:none!important;
				}
			}
		}
	}	
}
@media (max-width:1024px){
	body.ecommerce-navbar {
		padding: 0px 60px;
	}
}
@media (min-width:992px) {
    .box-ecommerce-list {
	position: relative;
	&:before {
		content: "";
		border-right: 1px solid $border-color;
		position: absolute;
		right: 10px;
		width: 2px;
		height: 65%;
		top: 50px;
	}
	&:last-child {
		&:before {
			display: none;
		}
	}
}

}

@media (max-width:991px) {
    body.ecommerce-navbar {
	padding: 0 30px;
}
.ecommerce-navbar {
	.iq-top-navbar {
		position: relative;
	}
	.navbar-collapse {
		z-index: 9;
		top: 60px;
	}
}

}

@media (max-width: 767px){
    body.ecommerce-navbar {
        padding: 0 15px;
        .iq-top-navbar{
            padding: 0 15px;
        }
    }
    .ecomm-p {
	>.media {
		width: 100%;
	}
}

}

@media (max-width:480px){
	.user-data-block {
	>.media-body {
		margin: 20px 0 0 !important;
	}
}
body.ecommerce-navbar {
	.res-align{
		padding-bottom: 30px;
		}
}

}