.img-border-radius {
	@if $enable-rounded == true {
		@include radius-mixin($border-radius);
	}
}
.iq-media-group {
	.iq-media {
		margin-left: -12px;
		position: relative;
		z-index: 0;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		&:hover {
			z-index: 9;
		}
		img {
			border: 2px solid $border-color;
		}
		&:first-child {
			margin-left: 0;
		}
	}
	.iq-media.border {
		border: 2px solid $border-color;
	}
}
.iq-media {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	&:hover {
		text-decoration: none;
	}
}
.iq-social-icon {	
		a {
			color: $body-text;
		}	
	// margin-top: 10px;
}
.iq-acivity {
	position: relative;
	margin-bottom: 10px;
	&:after {
		border-top: 2px solid $border-color;
		content: "";
		margin: 0 auto;
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 95%;
		z-index: 1;
	}
	span {
		background: $card-bg;
		display: inline-block;
		position: relative;
		z-index: 9;
		padding-right: 15px;
	}
}
.iq-table-card {
	margin-bottom: 10px;
	border-radius: 8px;
}
.iq-activity-image {
	@if $enable-rounded == true {
		@include radius-mixin($border-radius-circle);
	}
	border: 2px solid;
	padding: 2px;
}
.bg-box-color {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	@if $enable-rounded == true {
		@include radius-mixin($border-radius-normal);
	}
}
.idrive_table {
	tbody {
		tr {
			border-bottom: 10px solid $body-bg;
			background-color: $card-bg;
			box-shadow: 0px 16px 40px 0px #0000000A;
		}
		td {
			background-color: transparent;
			border: 0px solid transparent;
			text-align: center;
		}
	}
	thead {
		th {
			font-size: 14px;
			color: $black;
			padding: 0 15px 15px 15px;
			line-height: 100%;
			margin-bottom: 0;
			border: none;
			text-transform: uppercase;
			text-align: center;
		}
	}
}
.drop-idrive.dropdown-toggle {
	&::after {
		display: none;
	}
}
.avatar-24 {
	height: 24px;
	width: 24px;
}
