@keyframes bar {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

@keyframes bar {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
.iq-realeses-back {
	border-radius: 0px 5px;
	background: url(~@/assets/images/music-dashboard/realease-song/realease-back.jpg) center center no-repeat;
	position: relative;
	background-size: cover;
	&:after {
		@include radius-mixin(0 30px);
		position: absolute;
		content: "";
		top: 0;
		left: auto;
		bottom: 0;
		right: 0;
		z-index: 0;
		width: 50%;
	}
}
ul.iq-song-slide {
	li {
		p {
			color: $white;
			line-height: normal;
		}
		span {
			color: $white;
		}
		padding: 10px;
		background: transparent;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
		cursor: pointer;
		font-weight: 600;
	}
	position: relative;
	z-index: 1;
}
p.iq-music-title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.feature-list {
	// h6 {
	// 	display: -moz-box;
	// 	display: -webkit-box;
	// 	display: box; 
	// 	-webkit-line-clamp: 2;
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;	
	// 	/* autoprefixer: off */
	// 	-webkit-box-orient: horizontal;
	// 	/* autoprefixer: on */
	// }
	p {
		color: $body-text;
	}
	padding: 15px 15px;
}
.img-border-radius {
	@if $enable-rounded == true {
		@include radius-mixin($border-radius);
	}
}
.iq-music-bottom {
	position: relative;
	z-index: 1;
}
.iq-music-img {
	height: 350px;
	position: relative;
	flex-direction: column;
	z-index: 9;
}
.iq-song-slide {
	li.active {
		background: rgba(0, 0, 0, 0.3);
		-moz-animation-iteration-count: blur(10px);
		backdrop-filter: blur(10px);
		border-radius: 0px 30px;
	}
}
.equalizer {
	position: relative;
	height: 200px;
	width: 300px;
	margin: 0 auto;
	transform: translate(0%, 50%) scale(0.25);
}
.bar {
	width: 20%;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background: $white;
	transition: height 0.4s ease;
	animation: bar 0.4s 0s both alternate ease infinite;
	@if $enable-rounded == true {
		@include radius-mixin($border-radius);
	}
}
.bar-1 {
	animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.bar-2 {
	left: 23%;
	animation-delay: 0.4s;
	left: 23%;
	animation-delay: 0.4s;
}
.bar-3 {
	left: 46%;
	animation-delay: 0.6s;
	left: 46%;
	animation-delay: 0.6s;
}
.bar-4 {
	left: 68%;
	animation-delay: 0.8s;
	left: 68%;
	animation-delay: 0.8s;
}
.bar-5 {
	left: 91%;
	animation-delay: 1.0s;
	left: 91%;
	animation-delay: 1.0s;
}
.iq-social {
	ul {
		li {
			a {
				display: block;
			}
			a.bg-primary {
				&:hover {
					color: $white;
				}
			}
		}
	}
}
video {
	width: 100%;
	height: 100%;
}
.slick-arrow {
	box-shadow: 0px 9px 19px #01041B0D;
	width: 35px;
	height: 35px;
	border-radius: 10px !important;
	text-align: center;
	line-height: 50px;
	@include opacity-mixin(1);
	font-size: 24px;
	position: absolute;
	z-index: 9;
}
.iq-thumb {
	position: relative;
	overflow: hidden;
	.overlay-music-icon {
		a {
			display: inline-block;
			background: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			height: 40px;
			width: 40px;
			line-height: 43px;
			font-size: 25px;
			color: $white;
		}
	}
}
.iq-music-box {
	.iq-thumb {
		.iq-music-overlay {
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			@include opacity-mixin(0);
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			@if $enable-rounded == true {
    			@include radius-mixin($border-radius);
			}
		}
	}
	&:hover {
		.iq-music-overlay {
			@include opacity-mixin(1);
			@include opacity-mixin(1);
		}
		.overlay-music-icon {
			top: 50%;
			left: 50%;
			@include opacity-mixin(1);
		}
	}
	.iq-thumb-artist {
		.iq-music-overlay {
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			@include opacity-mixin(0);
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			@include radius-mixin(0 100px);
		}
	}
}
.overlay-music-icon {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	@include opacity-mixin(0);
	@include transform-mixin( translate(-50%, -50%));
	@if $enable-transitions == true {
		@include transition-mixin(all 0.3s ease-in-out);
	}
}
.iq-box-hover {
	.iq-card {
		box-shadow: none;
		border: 1px solid #f4f4f4;
		border-radius: 0px 15px;
	}
}
.slick-aerrow-block {
	button.slick-arrow {
		position: static;
		width: 35px;
		height: 35px;
		background: $primary 0% 0% no-repeat padding-box;
		margin: 0 0 0 20px;
		line-height: 5px;
		box-shadow: 0px 9px 19px #01041B0D;
		font-size: 0;
		transform: none;
		color: $white;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		&:hover {
			background: $white;
			color: $primary !important;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
		}
	}
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	.slick-prev {
		&:before {
			color: $white;
			content: "\f30a";
			font-family: 'Line Awesome Free';
			font-weight: 900;
		}
		&:hover {
			&::before {
				color: $primary;
			}
		}
	}
	.slick-next {
		&:before {
			color: $white;
			content: "\f30b";
			font-family: 'Line Awesome Free';
			font-weight: 900;
		}
		&:hover {
			&::before {
				color: $primary;
			}
		}
	}
}
.feature-album-artist {
	.feature-list {
		padding-bottom: 0px;
	}
}
.iq-thumb-artist {
	position: relative;
	overflow: hidden;
	img {
		border-radius: 0px 100px;
	}
	.overlay-music-icon {
		a {
			display: inline-block;
			background: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			height: 40px;
			width: 40px;
			line-height: 43px;
			font-size: 25px;
			color: $white;
		}
	}
}
.iq-thumb-hotsong {
	position: relative;
	overflow: hidden;
	.iq-music-overlay {
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		@include opacity-mixin(0);
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		border-radius: 0px 30px 30px 30px;
	}
	&:hover {
		.iq-music-overlay {
			@include opacity-mixin(1);
		}
		.overlay-music-icon {
			top: 50%;
			left: 50%;
			@include opacity-mixin(1);
		}
	}
	.overlay-music-icon {
		a {
			display: inline-block;
			background: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			height: 30px;
			width: 30px;
			line-height: 34px;
			font-size: 20px;
			color: $white;
		}
	}
	img {
		border-radius: 0px 30px 30px 30px;
		@include opacity-mixin(1);
	}
}
.iq-hotsong-box {
	margin-bottom: 30px;
}
.iq-card {
	.iq-video-hover {
		&:hover {
			background: $white;
			box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
			border-radius: 0px 15px;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
		}
	}
}
.iq-song-back {
	background: url(~@/assets/images/music-dashboard/realease-song/realease-back.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 0px 30px;
	&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
		background: #01041b;
		background: -moz-linear-gradient(top, #01041b 0%, #0a0d23 50%, #555766 100%);
		background: -webkit-linear-gradient(top, #01041b 0%, #0a0d23 50%, #555766 100%);
		background: linear-gradient(to bottom, #01041b 0%, #0a0d23 50%, #555766 100%);
		opacity: 0.9;
		border-radius: 0px 30px;
	}
}
.iq-song-bottom {
	position: relative;
	z-index: 99;
}
.player1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
	position: relative;
	z-index: 1;
}
.details1 {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: auto;
	top: -321px;
	left: 5px;
}
.details1.music-list {
	position: relative;
	top: 0;
	bottom: 0;
	left: 15px;
}
.track-art1 {
	margin-right: 25px;
	height: 40px;
	width: 40px;
	background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
	border-radius: 15%;
}
.now-playing1 {
	font-size: 1rem;
	display: none;
}
.track-name1 {
	font-size: 18px;
	line-height: 26px;
	color: $white;
}
.track-artist1 {
	font-size: 14px;
	color: $white;
}
.buttons1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
}
.playpause-track1 {
	padding: 0 15px;
	color: $white;
	transition: opacity .2s;
	&:hover {
		@include opacity-mixin(1);
	}
}
.prev-track1 {
	padding: 0 15px;
	color: $white;
	transition: opacity .2s;
	&:hover {
		@include opacity-mixin(1);
	}
}
.next-track1 {
	padding: 0 15px;
	color: $white;
	transition: opacity .2s;
	&:hover {
		@include opacity-mixin(1);
	}
}
.slider_container1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.seek_slider1 {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 5px;
	background: var(--black);
	-webkit-transition: .2s;
	transition: opacity .2s;
	background: $white;
	border-radius: 10px;
	width: 80%;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		background: $white;
		cursor: pointer;
		border-radius: 50%;
	}
	&:hover {
		@include opacity-mixin(1);
	}
}
.volume_slider1 {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 5px;
	background: var(--black);
	-webkit-transition: .2s;
	transition: opacity .2s;
	background: $white;
	border-radius: 10px;
	width: 60%;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		background: $white;
		cursor: pointer;
		border-radius: 50%;
	}
	&:hover {
		@include opacity-mixin(1);
	}
}
.current-time1 {
	padding: 10px;
	color: $white;
}
.total-duration1 {
	padding: 10px;
	color: $white;
}
i.fa-volume-down {
	padding: 10px;
	color: $white;
}
i.fa-volume-up {
	padding: 10px;
	color: $white;
}
i.fa-play-circle {
	cursor: pointer;
}
i.fa-pause-circle {
	cursor: pointer;
}
i.fa-step-forward {
	cursor: pointer;
}
i.fa-step-backward {
	cursor: pointer;
}
.iq-music-img1 {
	height: 325px;
	position: relative;
	flex-direction: column;
	z-index: 9;
	.equalizer1 {
	position: relative;
	height: 200px;
	width: 300px;
	margin: 0 auto;
	@include transform-mixin( translate(0%, 50%) scale(0.25));
		.bar1 {
		width: 20%;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		background: $white;
		transition: height 0.4s ease;
		animation: bar 0.4s 0s both alternate ease infinite;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
	}
}
}

h6.iq-song-title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

@media(max-width:1399px) {
	.animation-card {
		.an-img {
			.bodymovin {
				margin-bottom: -28px;
			}
			margin-top: 0;
		}
	}
	.iq-thumb-artist {
		img {
			border-radius: 0px 80px;
		}
	}
	.iq-music-box {
		.iq-thumb-artist {
			.iq-music-overlay {
				border-radius: 0px 80px;
			}
		}
	}
	.player1{
		.track-art1{
			    margin-right: 14px;
		}
		.prev-track1{
			padding: 0px 8px;

		}
		.playpause-track1{
              padding: 0px 8px;
		}
		.next-track1{
			padding: 0px;
		}
	}
	
}
@media(max-width:1024px) {
	.player1{
		.track-art1{
			    margin-right: 14px;
		}
		.prev-track1{
			padding: 0px;

		}
		.playpause-track1{
              padding: 0px 8px;
		}
		.next-track1{
			padding: 0px 8px;
		}
	}


}
@media(max-width:979px) {
	.slider_container {
		display: none;
	}
	.slider_container1 {
		display: none;
	}
	.details1 {
		position: relative;
		bottom: 0;
		top: 0;
		left: 0;
	}
	.iq-music-img {
		height: 200px;
	}
	.equalizer {
		position: relative;
		top: -100px;
	}
	.player1 {
		display: none;
	}
	.iq-song-back {
		.iq-music-img1 {
			height: 150px;
		}
		.equalizer1 {
			position: relative;
			top: -120px;
		}
	}
	.iq-music-play {
		display: none;
	}
	.iq-musc-icone {
		display: none;
	}
	.iq-music-time {
		display: none;
	}
	.iq-music-play-detail {
		margin-top: 30px;
	}
	
}
@media (min-width:768px) {
	.track-artist {
		text-align: left;
	}
	.track-art {
		text-align: left;
	}
	.track-name {
		font-size: 17px;
	}
	.track-name1 {
		font-size: 16px;
	}
	
}
@media(max-width:767px) {
	.iq-music-drop {
		display: none;
	}
	.iq-music-img {
		height: 150px;
	}
	.equalizer {
		position: relative;
		top: -125px;
	}
	.player1 {
		display: none;
	}
	.music-right {
		margin-top: 15px;
	}
	.iq-music-play-detail {
		display: block !important;
		margin-top: 30px;
		h3 {
			font-size: 20px;
		}
	}
	
}
@media(max-width:479px) {
	.track-artist {
		text-align: left;
	}
	.player {
		padding: 0px;
	}
	.track-art {
		display: none;
	}
	.playpause-track1 {
		padding: 0 12px;
	}
	.prev-track1 {
		padding: 0 12px;
	}
	.next-track1 {
		padding: 0 12px;
	}
	.track-name1 {
		font-size: 16px;
	}
	.track-art1 {
		display: none;
	}
	.details1 {
		position: relative;
		bottom: 0;
		top: 0;
		left: 0;
	}
	.iq-m-time {
		display: none;
	}
	.iq-m-icon {
		display: none;
	}
	.card {
		.card-header {
			
			.header-title {
				display: block;
				align-self: center !important;
			}
			
		}
	}
	
}
@media(max-width:359px) {
	.playpause-track {
		padding: 0 8px;
	}
	.prev-track {
		padding: 0 8px;
	}
	.next-track {
		padding: 0 8px;
	}
	.playpause-track1 {
		padding: 0 5px;
	}
	.prev-track1 {
		padding: 0 5px;
	}
	.next-track1 {
		padding: 0 5px;
	}
	.player {
		padding: 0px;
	}
	ul.iq-song-slide {
		margin: 0px -5px;
	}
	
}
