.iq-sidebar {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 260px;
	height: 100%;
	background: $card-bg;
	@if $enable-transitions == true {
		@include transition-mixin(all 0.6s ease-in-out);
	}
	@if $enable-shadows == true {
		@include shadow-mixin($box-shadow);
	}
}

#sidebar-scrollbar {
	height: 85vh;
}
.scroll-content {
	div.p-3 {
		height: 100px;
	}
}
.iq-sidebar-menu {
	.iq-menu {
		.iq-menu-title {
			display: block;
			color: $bodytext;
			font-size: 15px;
			position: relative;
			padding: 15px;
			font-weight: 500;
			line-height: 18px;
			i {
				display: none;
			}
		}
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			list-style-type: none;
			position: relative;
			white-space: nowrap;
			li {
				margin: 0;
				background: transparent !important;
				a {
					font-size: 16px;
				}
			}
			a {
				font-size: 16px;
				white-space: nowrap;
				display: block;
				color: $bodytext;
				position: relative;
				padding: 15px 20px;
				line-height: 18px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				overflow: hidden;
				border-radius: 0px;
				text-transform: capitalize;
				i {
					font-size: 20px;
					margin-right: 10px;
					vertical-align: middle;
					width: 20px;
					display: inline-block;
				}
				span {
					white-space: nowrap;
					padding: 0;
					display: inline-block;
					@if $enable-transitions == true {
						@include transition-mixin(none);
					}
				}
				.iq-arrow-right {
					margin-right: 0px;
					margin-left: auto;	
					font-size: 15px;
					width: 15px;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.6s ease-in-out);
					}
				}
				.badge {
					position: absolute;
					right: 15px;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.6s ease-in-out);
					}
				}
			}
			a[aria-expanded="true"] {
				.iq-arrow-right {
					@if $enable-transitions == true {
						@include transition-mixin(all 0.6s ease-in-out);
					}
				}
			}
			ul {
				padding-left: 0;
				position: relative;
			}
			.iq-submenu {
				li {
					a[aria-expanded="true"] {
						box-shadow: none;
					}
				}
			}
		}
		li.active-menu {
			>a {
				color: $primary;
				text-decoration: none;
				border-radius: 0;
				transition: none;
			}
		}
		li.active {
			.iq-submenu {
				li {
					>a {
						background: transparent;
					}
				}
			}

		}
	}
	position: relative;
}
.sidebar-default {
	.iq-sidebar-menu {
		.iq-menu {
			li {
				a {
					&:hover {
						color: $primary;
					}
				}
				a[aria-expanded="true"] {
					color: $primary;
					text-decoration: none;
					border-radius: 0;
					transition: none;
					i.iq-arrow-left {
						color: $primary;
					}
				}
				.iq-submenu {
					li {
						a {
							&:hover {
								background: transparent;
							}
						}
					}
				}
				>a {
					>i.iq-arrow-left {
						height: 25px;
						width: 25px;
						line-height: 25px;
						@if $enable-rounded == true {
							@include radius-mixin($border-radius-normal);
						}
						background: #eceef5;
						padding-left: 4px;
						color: $dark;
						font-size: 17px;
					}
				}
				ul {
					a {
						&:hover {
							color: $primary;
							text-decoration: none;
							background: transparent;
						}
					}
					li {
						a {
							padding-left: 40px;
						}
					}
					ul {
						li {
							>a {
								padding-left: 65px;
							}
						}
						ul {
							li {
								>a {
									padding-left: 80px;
								}
							}
						}
					}
				}
				ul.iq-submenu-data {
					li {
						margin: 0;
					}
				}
			}
			>li.active {
				>a {
					color: $primary;
					text-decoration: none;
				}
			}
			li.active {
				.iq-submenu {
					li.active {
						>a {
							color: $primary;
							border-radius: 0;
						}
					}
					li {
						&:last-child {
							>a {
								@if $enable-rounded == true {
									@include radius-mixin($border-radius-bottom);
								}
							}
						}
						a[aria-expanded="true"] {
							box-shadow: none;
						}
					}
				}
			}
			.iq-submenu {
				.iq-submenu-data {
					box-shadow: none;
				}
			}
		}
	}
	.iq-sidebar {
		.iq-sidebar-menu {
			.iq-menu {
				.iq-submenu {
					li {
						&:before {
							content: '';
							width: 3px;
							height: 35px;
							background: $primary;
							position: absolute;
							left: 30px;
							top: 8px;
							@if $enable-rounded == true {
								@include radius-mixin($border-radius);
							}
							@include opacity-mixin(0);
						}
					}
					li.active {
						&:before {
							@include opacity-mixin(1);
						}
					}
				}
				li.active {
					ul.iq-submenu {
						.iq-submenu {
							&:before {
								left: 48px;
								width: 2px;
							}
							li {
								&::before {
									left: 48px;
									width: 2px;
								}
							}
						}
					}
				}
			}
		}
	}
	.sidebar-main {
		.iq-sidebar-menu {
			.iq-menu {
				li {
					ul {
						padding-left: 0;
					}
				}
			}
		}
	}
}

.iq-sidebar-menu {
	.iq-menu {
		li {
			a {
				.iq-arrow-right.arrow-hover {
					@include opacity-mixin(0);
					display: none;
				}
			}
			a[aria-expanded="true"] {
				.iq-arrow-right.arrow-active {
					@include opacity-mixin(0);
					display: none;
				}
				.iq-arrow-right.arrow-hover {
					@include opacity-mixin(1);
					display: block;
				}
			}
		}
	}
}

// sidebar logo
.iq-sidebar-logo {
	padding: 15px;
	width: auto;
	position: relative;
	@if $enable-transitions == true {
		@include transition-mixin(all 0.6s ease-in-out);
	}
	a {
		display: flex;
		align-items: flex-start;
		span {
			margin-left: 10px;
			font-size: 19px;
			line-height: 42px;
			padding-left: 1px;
			letter-spacing: 1.5px;
			font-weight: 600;
			flex: 1;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.6s ease-in-out);
			}
		}
		span.logo-text {
			font-size: 10px;
			letter-spacing: 5px;
		}
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	img {
		height: 50px;
	}
}
.iq-saidbar-logo {
	img {
		width: 60%;
	}
}

.logo-text {
	color: $bodytext;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 5px;
}
.iq-top-navbar {
	.wrapper-menu {
		margin: 0 15px 0 0;
	}
}

.wrapper-menu {
	font-size: 30px;
	text-align: center;
	color: $primary;
	position: relative;
	@if $enable-transitions == true {
		@include transition-mixin(all 0.6s ease-in-out);
	}
}

@media(min-width:1300px) {
	.iq-top-navbar {
		.iq-navbar-custom {
			.wrapper-menu	 {
				display: none;
			}
		}
	}
	body.sidebar-main {
		.iq-sidebar {
			width: 80px;
			.iq-sidebar-menu {
				.iq-menu {
					li {
						a {
							span {
								@include opacity-mixin(0);
								display: none;
								@if $enable-transitions == true {
									@include transition-mixin(all 0.6s ease-in-out);
								}
							}
							.iq-arrow-right {
								display: none;
							}
						}
					}
				}
			}
		}
		.iq-sidebar-logo {
			a {
				span {
					@include opacity-mixin(0);
					display: none;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.6s ease-in-out);
					}
				}
				display: none;
			}
		}
		.iq-sidebar-menu {
			.iq-menu {
				li {
					a {
						.badge {
							@include opacity-mixin(0);
							display: none;
							@if $enable-transitions == true {
								@include transition-mixin(all 0.6s ease-in-out);
							}
						}
						.iq-arrow-right {
							margin-right: 0;
							display: none;
						}
						i.iq-arrow-left {
							margin: 0 auto;
						}
					}
					li {
						a {
							i {
								margin: 0 auto;
								text-align: center;
							}
						}
					}
				}
			}
		}
		.sidebar-default {
			.iq-sidebar-menu {
				.iq-menu {
					li {
						ul {
							li {
								a {
									padding-left: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	.sidebar-main {
		.iq-sidebar {
			.iq-submenu {
				li {
					a {
						font-size: 0;
					}
				}
			}
		}
	}
}

@media(max-width: 1299px){
	.iq-sidebar {
		display: inline-block;
		z-index: 99;
		left: -300px;
		top: 0px;
	}
	body.sidebar-main {
		.iq-sidebar {
			width: 260px;
			left: 0;
			z-index: 999;
		}
	}

}
