[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
flask = "*"
redis = "*"
jinja2 = "*"
werkzeug = "*"
flask-cors = "*"
flask-httpauth = "*"
flask-mail = "*"
flask-pymongo = "*"
jwt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
