.iq-section-space { 
    padding: 100px 0px; 
}
.iq-section-pb-85 { 
    padding-bottom: 85px; 
}
.iq-section-pb-70 { 
    padding-bottom: 70px !important; 
}
.iq-section-pb-55 { 
    padding-bottom: 55px !important; 
}
.iq-section-pb-40 {
     padding-bottom: 40px; 
    }
.iq-mr-15 { 
    margin-right: 15px; 
}
.iq-ml-15 {
     margin-left: 15px; 
    }
.iq-mb-60 { 
    margin-bottom: 60px; 
}

.navbar-brand {
    padding: .5rem 1rem;
}
.iq-footer{
	margin-left: 260px;
	width: calc(100vw - 264px);
}
button {
	&:focus {
		outline: none;
	}
}

@-webkit-keyframes animationFade {
	from {
		@include opacity-mixin(0);
		@include transform-mixin( translate3d(0, -100%, 0));
	}
	to {
		@include opacity-mixin(1);
		@include transform-mixin( none);
	}
}
@-o-keyframes animationFade {
	from {
		@include opacity-mixin(0);
		@include transform-mixin( translate3d(0, -100%, 0));
	}
	to {
		@include opacity-mixin(1);
		@include transform-mixin( none);
	}
}
@keyframes animationFade {
	from {
		@include opacity-mixin(0);
		@include transform-mixin( translate3d(0, -100%, 0));
	}
	to {
		@include opacity-mixin(1);
		@include transform-mixin( none);
	}
}


header.fixed{
    -webkit-animation-name: animationFade;
    -o-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}