/*---------------------------------------------------------------------
  Title
-----------------------------------------------------------------------*/
.landing-analytics {
	.main-left {
		margin-bottom: 60px !important;
	}
	.title-box {
		margin-top: -5px;
		h2 {
			margin-bottom: 15px;
		}
		.title-design {
			font-weight: normal;
			color: $primary !important;
			display: inline-block;
			position: relative;
			text-transform: uppercase;
		}
		span.title-design.sub-title {
			color: $white;
			&:before {
				background: $white;
				content: "";
			}
		}
		.subtitle {
			position: relative;
		}
	}
	.prox-contact {
		.title-box.text-center {
			margin-bottom: 30px;
		}
	}
	.title-box.text-left {
		p {
			margin-bottom: 0px;
		}
		margin-bottom: 30px;
	}
	.title-box-space {
		margin-bottom: 30px;
	}
	.title-box.text-left.title-box-space {
		margin-bottom: 30px;
	}
	.title-box.text-white {
		h2 {
			color: $white;
		}
	}
	.title-box.text-center {
		margin-bottom: 45px;
	}
	.title-box.title-shadow {
		margin-bottom: 15px;
	}
	p {
		color: $body-text-dark;
	}
}

/*----------------------------------------------------------------------
                                Buttons
-----------------------------------------------------------------------*/
.landing-analytics {
	.prox-left-img {
		img {
			position: relative;
			left: -47%;
			max-width: 155% !important;
			margin-top: -200px;
		}
	}
	.prox-right-img {
		img {
			right: -19%;
			max-width: 150% !important;
			margin-top: -65px;
		}
	}
	.prox-right-img-wm {
		img {
			right: -19%;
			max-width: 150% !important;
		}
	}
	.prox-bg {
		.iq-objects-03 {
			z-index: 1;
		}
	}
}

/*---------------------------------------------------------------------
 Timer
-----------------------------------------------------------------------*/
.landing-analytics {
	.iq-timer.style3 {
		@include shadow-mixin( 0px 35px 30px 0px rgba(0, 0, 0, 0.06));
		margin-bottom: 30px;
		img {
			width: auto;
		}
		.iq-img {
			position: absolute;
			background: $primary;
			line-height: 70px;
			display: block;
			text-align: center;
			height: 70px;
			width: 70px;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-right);
            }
		}
		.iq-icon {
			position: absolute;
			background: $primary;
			line-height: 70px;
			display: block;
			text-align: center;
			height: 70px;
			width: 70px;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-right);
            }
		}
		.timer {
			font-size: 30px;
			font-weight: bold;
		}
		.timer_postfix {
			font-size: 30px;
			font-weight: bold;
		}
		&:hover {
			&:before {
				width: 100%;
				height: 4px;
				left: 0;
			}
		}
	}
	.iq-timer.style3.text-center {
		text-align: center;
		display: block;
	}
	.iq-timer.style3.text-left {
		text-align: left;
		float: left;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
	}
	.iq-timer.style3.text-right {
		text-align: right;
		float: right;
	}
	.iq-timer.text-left.style3 {
		.timer-details {
			padding: 15px 15px 30px 95px;
			text-align: left;
		}
		.iq-icon {
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-right);
            }
		}
		.iq-img {
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-right);
            }
		}
	}
	.iq-timer.text-right.style3 {
		.timer-details {
			p {
				margin-bottom: 0px;
			}
		}
		.iq-icon {
			right: 0;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-right);
            }
		}
		.iq-img {
			right: 0;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-right);
            }
		}
	}
	.iq-timer.text-center.style3 {
		.iq-img {
			left: 0;
			right: 0;
			margin: 0 auto;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-normal);
			}

		}
		.iq-icon {
			left: 0;
			right: 0;
			margin: 0 auto;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-normal);
			}

		}
	}
}

/*---------------------------------------------------------------------
 Footer
-----------------------------------------------------------------------*/
.landing-analytics {
	.recentcomments {
		a {
			display: inline !important;
			padding: 0 !important;
			margin: 0 !important;
		}
	}
	footer.footer-analytics {
		table {
			td {
				border-color: rgba(36, 38, 43, 0.14);
			}
			th {
				border-color: rgba(36, 38, 43, 0.14);
			}
		}
		ul {
			li {
				border: none;
				padding-bottom: 0;
				margin-bottom: 10px;
			}
			li.cat-item {
				span {
					float: right;
				}
			}
		}
		#recentcomments {
			li {
				a {
					color: $primary;
				}
				.comment-author-link {
					a {
						&:hover {
							text-decoration: underline;
							color: $primary;
						}
					}
				}
			}
		}
		ul.menu {
			li {
				.sub-menu {
					padding-left: 10px;
				}
				a {
					border: none;
					color: $body-text-dark;
					&:hover {
						color: $primary;
					}
				}
			}
		}
		ul.iq-contact {
			padding: 0;
			li {
				display: flex;
				position: relative;
				a {
					span {
						padding-left: 30px;
						display: table-cell;
						word-break: break-word;
						color: $body-text-dark;
					}
					&:hover {
						span {
							color: $primary-dark;
						}
					}
				}
				i {
					position: absolute;
					left: 0;
					line-height: 34px;
					font-size: 20px;
					color: $primary;
				}
			}
		}
		.iq-contact {
			li {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
		p {
			margin-bottom: 0;
		}
		.footer-logo {
			margin-bottom: 15px;
		}
		display: inline-block;
		width: 100%;
		float: left;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background: transparent;
		padding: 0px;
		.footer-top {
			padding-top: 100px;
			padding-bottom: 45px;
			.info-share {
				li {
					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}
		h4.footer-title {
			margin-bottom: 15px;
		}

		input[type=submit] {
			.landing-analytics {
				footer.footer-analytics {
					.info-share {
						li {
							margin-left: 15px;
							margin-right: 0px;
						}
					}
				}
			}
		}
		.menu-footer-menu-container {
			.menu {
				margin-bottom: 0;
				padding: 0;
				li {
					list-style: none;
					display: block;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		.copyright {
			a {
				&:hover {
					text-decoration: none;
					color: $primary;
				}
			}
		}
		.copyright-footer {
			border-top: 1px solid rgba(82, 95, 129, 0.09);
			position: relative;
		}
		.info-share {
			li {
				a {
					color: $primary;
				}
			}
		}
		input[type=email] {
			&:hover {
				border-color: $primary-dark;
				padding: 0 125px 0 15px;
				border-color: $primary;
			}
			background: $white;
			border-color: $border-color;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-normal);
			}
			color: $body-text-dark;
			width: 100%;
			float: left;
			padding: 0 15px;
			height: 48px;
			line-height: 48px;
			background: $white;
			border: 1px solid $border-color;
			@include radius-mixin(0px);
			color: $title-text;
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
			}
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-normal);
			}
			color: $body-text-dark;
			&:focus {
				border-color: $primary;
				padding: 0 125px 0 15px;
			}
		}
		.footer_top_block {
			padding-bottom: 100px;
		}
		.mc4wp-form-fields {
			input[type="submit"] {
				&:hover {
					background: $primary-dark;
				}
				position: absolute;
				right: 15px;
				margin-bottom: 0;
				background: $primary;
				color: $white;
				height: auto;
				line-height: 26px !important;
				padding: 11px 30px;
				font-size: 1em;
				line-height: 2;
				border: none;
				display: inline-block;
				width: auto;
				@include radius-mixin(0px);
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-normal);
				}
				cursor: pointer;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
		}
	}
	.landing-analytics {
		footer.footer-analytics {
			.footer-top {
				.info-share {
					li {
						margin-right: 15px;
					}
				}
			}
		}
	}
	.iq-bg-dark {
		position: relative;
	}
	footer.footer-analytics.iq-over-dark-90 {
		&:before {
			display: none !important;
		}
	}
	ul.wp-block-categories {
		li.cat-item {
			span {
				float: right;
			}
		}
	}
}

footer {
	.menu-footer-menu-container {
		.menu {
			li {
				a {
					&:hover {
						text-decoration: none;
						color: $primary;
					}
				}
			}
		}
	}
	.info-share {
		li {
			a {
				&:hover {
					text-decoration: none;
					color: $primary;
				}
			}
		}
	}
	input[type=email] {
		&:focus {
			border-color: $primary-dark;
			padding: 0 125px 0 15px;
		}
	}
}
.mc4wp-form-fields {
	input[type="submit"] {
		position: absolute;
		right: 15px;
	}
}

/*---------------------------------------------------------------------
Custom Tab
-----------------------------------------------------------------------*/
.landing-analytics {
	.custom-tab {
		.tab-pane.fade.active.show {
			display: block;
		}
		.tab-pane.fade {
			display: none;
		}
		.nav.nav-pills {
			display: block;
			width: 100%;
			@include shadow-mixin( 0px 22px 40px 0px rgba(0, 0, 0, 0.05));
			background: transparent;
			overflow: hidden;
			@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
			li {
				display: inline-block;
				width: 25%;
				float: left;
			}
		}
		.nav.nav-pills[aria-orientation="vertical"] {
			li.nav-item {
				width: 100%;
				vertical-align: middle;
				float: left;
				width: 100%;
				vertical-align: middle;
				float: left;
				&:last-child {
					margin-bottom: 0;
				}
			}
			box-shadow: none;
			border-radius: 0;
			.nav-link {
				padding: 15px;
				@include radius-mixin(0px);
				text-align: center;
				h5 {
					font-size: 18px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:hover {
					h5 {
						color: $white;
					}
					@include shadow-mixin( 0px 22px 40px 0px rgba(0, 0, 0, 0.05));
					background: $primary;
					&:before {
						display: none;
					}
				}
			}
			.nav-link.active {
				h5 {
					color: $white;
				}
				@include shadow-mixin(0px 22px 40px 0px rgba(0, 0, 0, 0.05));
				background: $primary;
				&:before {
					display: none;
				}
			}
		}
		.nav-pills {
			.nav-link {
				.tab-title {
					display: inline-block;
					margin-bottom: 0;
				}
			}
		}
		.show_content {
			width: 100%;
		}
	}
	.prox-award {
		.award-img {
			padding: 30px;
			@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
			border: 1px solid $border-color;
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
			background: $white;
		}
		&:hover {
			.award-img {
				@include shadow-mixin(4.871px 34.659px 30px 0px rgba(0, 0, 0, 0.06));
				box-shadow: 4.871px 34.659px 30px 0px rgba(0, 0, 0, 0.06);
			}
		}
	}
	.custom-tab.verticaltab2 {
		.nav.nav-pills[aria-orientation="vertical"] {
			box-shadow: none;
			border-radius: 0;
			li.nav-item {
				width: 100%;
				vertical-align: middle;
				float: left;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
					margin-bottom: 0;
				}
			}
			.nav-link {
				padding: 10px 15px;
				@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
				text-align: center;
				h5 {
					font-size: 18px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:hover {
					h5 {
						color: $white;
					}
					background: $primary-light;
					box-shadow: none;
				}
			}
			.nav-link.active {
				h5 {
					color: $white;
				}
				background: $primary-light;
				box-shadow: none;
				&:before {
					display: none;
				}
			}
		}
	}
	.custom-tab.verticaltab3 {
		.nav.nav-pills[aria-orientation="vertical"] {
			@include shadow-mixin($box-shadow);
			@include radius-mixin(0px);
			li.nav-item {
				padding: 0 30px 45px;
				width: 100%;
				vertical-align: middle;
				float: left;
				margin-bottom: 0px;
				&:last-child {
					margin-bottom: 0;
					margin-bottom: 0;
				}
			}
			.nav-link {
				border-left: 4px solid $primary;
				padding: 0 15px;
				@include radius-mixin(0px);
				text-align: left;
				color: $body-text-dark;
				img {
					margin-right: 15px;
					padding: 10px;
				}
				p {
					display: none;
				}
				h5 {
					font-size: 18px;
					margin-top: 10px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:hover {
					h5 {
						color: $primary;
					}
					background: $white;
				}
			}
			.nav-link.active {
				h5 {
					color: $primary;
					margin-top: -10px;
					color: $primary;
				}
				background: $white;
				padding: 30px 15px;
				@include shadow-mixin(0px 20px 40px 0px rgba(67, 126, 235, 0.15));
				@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
				p {
					display: block;
					color: $body-text-dark;
				}
				&:before {
					display: none;
				}
			}
		}
	}
}
.custom-tab.verticaltab2 {
	.nav.nav-pills[aria-orientation="vertical"] {
		.nav-link {
			&:hover {
				&:before {
					display: none;
				}
			}
		}
	}
}
.custom-tab.verticaltab3 {
	.nav.nav-pills[aria-orientation="vertical"] {
		.nav-link {
			&:hover {
				&:before {
					display: none;
				}
			}
		}
	}
}

/*---------------------------------------------------------------------
prox-feature-circle Circle
-----------------------------------------------------------------------*/
.landing-analytics {
	.prox-feature-circle {
		position: relative;
		display: inline-block;
		width: 550px;
		height: 550px;
		.prox-img {
			&::before {
				content: "";
				border: 2px dotted $primary-light;
				-webkit-animation: anti-clockwise 25s linear 100000;
				animation: anti-clockwise 25s linear 100000;
				width: 500px;
				height: 500px;
				@include radius-mixin(900px);
				display: inline-block;
			}
			width: 500px;
			height: 500px;
			position: relative;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			transform-origin: center center;
			ul {
				li {
					.feature-info {
						position: absolute;
						margin: 0 auto;
						text-align: center;
						.feature-img {
							height: 65px;
							width: 65px;
							line-height: 65px;
							@include radius-mixin(90px);
							background: $white;
							text-align: center;
							margin: 0 auto 5px;
							@include shadow-mixin(0px 8px 38px 0px rgba(0, 0, 0, 0.1));
						}
					}
					&:nth-child(1) {
						.feature-info {
							top: -38px;
							left: -16px;
							right: 0;
						}
					}
					&:nth-child(2) {
						.feature-info {
							top: 10%;
							left: 0%;
						}
					}
					&:nth-child(3) {
						.feature-info {
							top: 10%;
							right: 2%;
						}
					}
					&:nth-child(4) {
						.feature-info {
							top: 44%;
							right: -15%;
						}
					}
					&:nth-child(5) {
						.feature-info {
							top: 44%;
							left: -15%;
						}
					}
					&:nth-child(6) {
						.feature-info {
							top: 78%;
							left: 4%;
						}
					}
					&:nth-child(7) {
						.feature-info {
							top: 73%;
							right: 0%;
						}
					}
					&:nth-child(8) {
						.feature-info {
							bottom: -10%;
							left: 43%;
						}
					}
				}
			}
		}
		.circle-bg {
			@include shadow-mixin(0px 20px 40px 0px rgba(67, 126, 235, 0.3));
			width: 140px;
			text-align: center;
			position: relative;
			height: 140px;
			line-height: 140px;
			@include radius-mixin(900px);
			background: $primary;
			img {
				width: 80px;
			}
		}
		.dot-circle {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
		}
		.effect-circle {
			width: 270px;
			height: 270px;
			@include radius-mixin(900px);
			border: 1px solid $primary-light;
			-webkit-animation: rotate-center 25s linear 100000;
			animation: rotate-center 25s linear 100000;
		}
		.main-circle {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			margin-right: -50%;
		}
	}
}


/*----------------------------------------
    animation rotate-center
  ----------------------------------------*/

  @keyframes circle {
	0% {
		@include transform-mixin(rotate(0deg));
	}
	15% {
		@include transform-mixin(rotate(2deg));
	}
	33% {
		@include transform-mixin(rotate(4deg));
	}
	66% {
		@include transform-mixin(rotate(2deg));
	}
	100% {
		@include transform-mixin(rotate(0deg));
	}
}

@-webkit-keyframes rotate-center {
	0% {
		@include transform-mixin(rotate(0deg));
	}
	100% {
		@include transform-mixin(rotate(360deg));
	}
}
@keyframes rotate-center {
	0% {
		@include transform-mixin(rotate(0deg));
	}
	100% {
		@include transform-mixin(rotate(360deg));
	}
}
@-webkit-keyframes anti-clockwise {
	0% {
		@include transform-mixin(rotate(0deg));
	}
	100% {
		@include transform-mixin(rotate(-360deg));
	}
}
@keyframes anti-clockwise {
	0% {
		@include transform-mixin(rotate(0deg));
	}
	100% {
		@include transform-mixin(rotate(-360deg));
	}
}

/*---------------------------------------------------------------------
 prox  Style 3 circule effect
-----------------------------------------------------------------------*/
@-moz-keyframes fadebounce {
	0% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
	50% {
		
		@include transform-mixin(translateY(10px));
		@include opacity-mixin(1);
	}
	100% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
}
@-webkit-keyframes fadebounce {
	0% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
	50% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
	100% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
}
@-o-keyframes fadebounce {
	0% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
	50% {
		@include transform-mixin(translateY(10px));
		@include opacity-mixin(1);
	}
	100% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
}
@-ms-keyframes fadebounce {
	0% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
	50% {
		@include transform-mixin(translateY(10px));
		@include opacity-mixin(1);
	}
	100% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
}
@keyframes fadebounce {
	0% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
	50% {
		@include transform-mixin(translateY(10px));
		@include opacity-mixin(1);
	}
	100% {
		@include transform-mixin(translateY(0));
		@include opacity-mixin(1);
	}
}
.landing-analytics {
	.prox-services.prox-square {
		padding: 0;
		margin-bottom: 30px;
		position: relative;
		width: 100%;
		.square-effect {
			@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
			text-align: center;
			background: $white;
			display: inline-block;
			width: 110px;
			height: 110px;
			line-height: 110px;
			margin-bottom: 30px;
			@include shadow-mixin(4.871px 34.659px 30px 0px rgba(0, 0, 0, 0.06));
			img {
				width: auto;
				margin: 0 auto;
			}
		}
		.square-effect.bg {
			position: relative;
			.arrowbg_img {
				position: absolute;
				bottom: -45px;
				left: -15px;
				-webkit-animation-name: fadebounce;
				-moz-animation-name: fadebounce;
				-ms-animation-name: fadebounce;
				-o-animation-name: fadebounce;
				animation-name: fadebounce;
				-webkit-animation-duration: 5s;
				-moz-animation-duration: 5s;
				-ms-animation-duration: 5s;
				-o-animation-duration: 5s;
				animation-duration: 5s;
				-webkit-animation-iteration-count: infinite;
				-moz-animation-iteration-count: infinite;
				-ms-animation-iteration-count: infinite;
				-o-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
			}
		}
	}
	.prox-services {
		img.arrow-img {
			position: absolute;
			right: -25px;
			width: auto;
			top: 20%;
		}
	}
}

/*---------------------------------------------------------------------
Portfolio style-one
-----------------------------------------------------------------------*/
.landing-analytics {
	.single-portfolio {
		.site-content-contain {
			.content-area {
				.site-main {
					padding-bottom: 0px;
				}
			}
		}
	}
	.single-portfolio-border {
		.iq-portfolio {
			border: 2px solid $white;
		}
	}
	.iq-portfolio {
		img {
			background: $primary-light;
			@include transform-mixin( scale(1));
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
		}
		a {
			display: inherit;
			overflow: hidden;
		}
		border: 1px solid $border-color;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		position: relative;
		overflow: hidden;

		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		&:hover {
			@include shadow-mixin( 0.557px 3.961px 40px 0px rgba(0, 0, 0, 0.08));
			&:before {
				@include opacity-mixin(1);
			}
			.iq-portfolio-content {
				z-index: 9;
				@include opacity-mixin(1);
				-webkit-transform: translateY(0);
				-moz-transform: translateY(0);
				-ms-transform: translateY(0);
				-o-transform: translateY(0);
				transform: translateY(0);
				.consult-details {
					.consult-effect {
						&:before {
							bottom: 80px;
						}
					}
				}
			}
			img {
				@include transform-mixin( scale(1.1));
			}
		}
		.iq-portfolio-content {
			.consult-details {
				p {
					color: $body-text-dark;
				}
			}
		}
	}
	.iq-portfolio-content {
		.details-box {
			overflow: hidden;
			padding: 15px;
			a {
				text-decoration: none;
				&:hover {
					.text-hover {
						color: $primary;
					}
				}
			}
		}
		.consult-details {
			.consult-effect {
				&:before {
					content: "";
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					@include opacity-mixin(1);
					z-index: 1;
					height: 100px;
					width: 100%;
					position: absolute;
					bottom: 110px;
					left: 0;
					@include transform-mixin(skewY(-2deg));
					background: $primary;
					content: "";
					z-index: 1;
				}
			}
		}
	}
	.iq-columns-4 {
		.iq-portfolio {
			.iq-portfolio-content {
				.details-box {
					padding: 15px;
					z-index: 2;
				}
			}
			&:hover {
				.iq-portfolio-content {
					.consult-details {
						.consult-effect {
							&:before {
								bottom: 81px;
							}
						}
					}
				}
			}
		}
		.iq-portfolio-content {
			.consult-details {
				.consult-effect {
					&:before {
						bottom: 90px;
					}
				}
			}
			.details-box {
				a {
					line-height: 60px;
					z-index: 3;
					position: relative;
					i {
						width: 30px;
						height: 30px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.iq-columns-5 {
		.iq-portfolio {
			.iq-portfolio-content {
				.details-box {
					padding: 15px;
					z-index: 2;
				}
			}
			&:hover {
				.iq-portfolio-content {
					.consult-details {
						.consult-effect {
							&:before {
								bottom: 81px;
							}
						}
					}
				}
			}
		}
		.iq-portfolio-content {
			.consult-details {
				.consult-effect {
					&:before {
						bottom: 90px;
					}
				}
			}
			.details-box {
				a {
					line-height: 60px;
					z-index: 3;
					position: relative;
					i {
						width: 30px;
						height: 30px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.iq-columns-3 {
		.iq-portfolio {
			.iq-portfolio-content {
				.details-box {
					padding: 15px;
					z-index: 2;
				}
			}
			&:hover {
				.iq-portfolio-content {
					.consult-details {
						.consult-effect {
							&:before {
								bottom: 81px;
							}
						}
					}
				}
			}
		}
		.iq-portfolio-content {
			.consult-details {
				.consult-effect {
					&:before {
						bottom: 90px;
					}
				}
			}
		}
	}
	.iq-columns-2 {
		.iq-portfolio {
			.iq-portfolio-content {
				.consult-details {
					.consult-effect {
						&:before {
							top: -86px;
						}
					}
				}
			}
		}
	}
	.portfolioslider2.iq-amazing-tab {
		.iq-portfolio {
			.iq-portfolio-content {
				.details-box {
					padding: 0;
				}
			}
		}
	}
	.portfolioslider2 {
		.iq-portfolio {
			.details-box {
				.consult-details {
					padding: 30px;
					border-bottom: 2px solid $border-color;
				}
				.portfolio-tag {
					padding: 15px 30px;
					color: $primary-dark;
					ul {
						list-style: none;
						padding: 0;
						margin: 0;
						li {
							@if $enable-rounded == true {
                                @include radius-mixin($border-radius);
                            }
							padding: 0 10px;
							background: $gray-light;
							display: inline-block;
							margin-right: 5px;
							&:last-child {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

/*---------------------------------------------------------------------
iq-masonry-item
-----------------------------------------------------------------------*/
.landing-analytics {
	.silder-portfolio {
		#features.iq-amazing-tab {
			padding-top: 0;
		}
	}
	.iq-portfolio {
		.iq-portfolio-content {
			.details-box {
				background: $white;
			}
		}
	}
	.iq-amazing-tab {
		padding-top: 31px;
		.tab-pane.active {
			@include opacity-mixin(1);
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
		}
		.tab-pane {
			@include opacity-mixin(0);
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
		}
		.owl-carousel.owl-drag {
			.owl-item.active {
				padding: 0px;
				@include opacity-mixin(1);
				pointer-events: visible;
			}
			.owl-item {
				@include opacity-mixin(0);
				pointer-events: none;
			}
		}
		ul {
			margin-bottom: 45px;
			li {
				a {
					position: relative;
					color: $body-text-dark;
					&:hover {
						color: $primary-dark;
						span {
							@include opacity-mixin(1);
						}
					}
					span {
						display: none;
					}
				}
				a.nav-link.active {
					color: $primary-dark;
					&:before {
						width: 15px;
					}
					span {
						@include opacity-mixin(1);
					}
				}
				a.nav-link {
					&:hover {
						&:before {
							width: 15px;
						}
						span {
							@include opacity-mixin(1);
						}
					}
					&:before {
						@if $enable-transitions == true {
                            @include transition-mixin(all 0.3s ease-in-out);
                        }
						content: "";
						width: 0;
						height: 3px;
						display: inline-block;
						position: absolute;
						right: 0;
						bottom: 0;
						left: 0;
						margin: 0 auto;
						right: 0;
						background: $primary;
					}
					span {
						width: 34px;
						height: auto;
						line-height: 14px;
						padding: 8px;
						left: 50%;
						display: inline-block;
						color: $white;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
						text-align: center;
						background: $primary;
						text-indent: 0px;
						@if $enable-rounded == true {
							@include radius-mixin($border-radius);
						}
						position: absolute;
						pointer-events: none;
						@include opacity-mixin(0);
						top: -30px;
						@if $enable-transitions == true {
                            @include transition-mixin(all 0.3s ease-in-out);
						}
						@include transform-mixin( translateX(-50%));
						position: absolute;
						display: block;
						right: 10px;
						&:after {
						content: '';
						position: absolute;
						bottom: -7px;
						left: 50%;
						width: 0;
						height: 0;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-top: 8px solid $primary;
						@include transform-mixin(translateX(-50%));
						}
					}
				}
			}
		}
		.iq-portfolio {
			.iq-portfolio-content {
				.details-box {
					padding: 15px;
				}
			}
		}
		.iq-portfolio-content {
			.consult-details {
				.consult-effect {
					&:before {
						bottom: 132px;
					}
				}
			}
		}
	}
}
.isotope-filters {
	button.active {
		.post_no {
			@include opacity-mixin(1);
		}
	}
	button {
		&:hover {
			.post_no {
				@include opacity-mixin(1);
			}
		}
		.post_no {
			width: 34px;
			height: auto;
			line-height: 14px;
			padding: 8px;
			left: 50%;
			display: inline-block;
			color: $white;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
			text-align: center;
			background: $primary;
			text-indent: 0px;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
			position: absolute;
			pointer-events: none;
			@include opacity-mixin(0);
			top: -30px;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}			
			@include transform-mixin(translateX(-50%));
			position: absolute;
			display: block;
			right: 10px;
		}
		span {
			&:after {
				content: '';
				position: absolute;
				bottom: -7px;
				left: 50%;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 8px solid $primary;				
				@include transform-mixin(translateX(-50%));
			}
		}
	}
}

/*---------------------------------------------------------------------
 Testimonial style
-----------------------------------------------------------------------*/
.landing-analytics {
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			margin: 0 200px 54px;
			padding: 45px 84px;
			@include shadow-mixin( 4.871px 34.659px 30px 0px rgba(0, 0, 0, 0.05));
			background: $white;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
			.testimonial-name {
				display: inline-block;
				vertical-align: middle;
				text-align: left;
			}
			p {
				margin-bottom: 0;
			}
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		.owl-item {
			.testimonial-info {
				img {
					width: 65px;
					height: 65px;
					margin-right: 8px;
					display: inline-block;
					margin-bottom: 0px;
				}
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 0px;
		}
		.testimonial-info {
			&:before {
				display: none;
			}
		}
	}
	.testimonial-style {
		.iq-testimonial {
			.testimonial-info {
				position: relative;
				text-align: center;
				display: inline-block;
				margin-bottom: 45px;
			}
		}
	}
	.iq-bg-over {
		background: $gray-light !important;
	}
}


/*---------------------------------------------------------------------
  Latest Blog Post
-----------------------------------------------------------------------*/
.landing-analytics {
	.sticky {
		.iq-blog-box {
			background: $primary-light;
		}
	}
	.iq-blog-box {
		padding: 0px;
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		border: 1px solid $primary-light;
		background: $white;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
		.iq-blog-image {
			position: relative;
			text-align: center;
			display: inline-block;
			float: left;
			width: 100%;
			img {
				margin-bottom: 30px;
				background: $primary-light;
			}
		}
		.blog-title {
			margin: 0 0 10px 0;
			a {
				h4 {
					color: $title-text;
					text-decoration: none;
				}
				&:hover {
					h4 {
						color: $primary-dark;
						text-decoration: none;
					}
					color: $primary-dark;
					text-decoration: none;
				}
			}
		}
		.iq-blog-detail {
			padding: 0px 30px 30px;
			display: inline-block;
			float: left;
			width: 100%;
			.iq-blog-meta {
				ul {
					margin: 0 0 10px;
					padding: 0;
					line-height: 16px;
				}
			}
			p {
				margin-bottom: 15px;
			}
			blockquote {
				p {
					margin-bottom: 0;
				}
			}
			.blockquote {
				margin-top: 0;
			}
		}
		.iq-blogtag {
			margin: 0 0 0 15px;
			padding: 0;
			display: inline-block;
			width: 100%;
			position: absolute;
			bottom: 15px;
			left: 0;
			li {
				list-style: none;
				float: left;
				margin-right: 5px;
				a {
					background: $primary;
					color: $white;
					padding: 5px 10px;
					text-transform: uppercase;
					@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
					font-size: 14px;
					&:hover {
						text-decoration: none;
						background: $primary-dark;
						color: $white;
					}
				}
			}
		}
		.blog-button {
			float: left;
		}
	}
	.prox-space-bottom {
		.iq-blog-box {
			.iq-blog-detail {
				padding: 0 15px 15px;
			}
		}
	}
	.owl-carousel {
		.iq-blog-box {
			.iq-blog-detail {
				display: inline-block;
				float: left;
				width: 100%;
				padding: 0 15px 15px;
			}
			box-shadow: none;
			margin: 30px 15px;
			@if $enable-transitions == true {
                @include transition-mixin(all 0.3s ease-in-out);
            }
		}
	}
	.has-post-thumbnail {
		.iq-blog-box {
			.iq-blog-detail {
				padding: 0px 30px 30px;
				display: inline-block;
				float: left;
				width: 100%;
			}
		}
	}
	.blog-content {
		.wp-audio-shortcode {
			margin-bottom: 15px;
		}
	}
	.post-password-form {
		input {
			float: none;
		}
	}
	.pagination {
		margin-top: 30px;
	}
	.iq-blog-detail {
		.blog-content {
			.wp-block-archives {
				margin: 0 0 30px;
				padding: 0;
				li {
					list-style-type: none;
				}
			}
		}
	}
}
.iq-blog-detail {
	.blog-content {
		.wp-block-categories {
			margin: 0 0 30px;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
		.wp-block-latest-posts {
			margin: 0 0 30px;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
}

/*---------------------------------------------------------------------
 Contact form
-----------------------------------------------------------------------*/
.landing-analytics {

	.prox-contact {
		padding: 45px;
		background: $primary-light;
		h2 {
			text-align: center;
		}
		input {
			&:hover {
				border: 1px solid $primary;
			}
			border: 1px solid $primary-light;
		}
		input[type=text] {
			&:hover {
				border: 1px solid $primary;
			}
		}
		textarea {
			&:hover {
				border: 1px solid $primary;
			}
		}
		.button {
			cursor: pointer;
			margin-top: 15px;
		}
	}
	.contact-form {
		textarea {
			background: $gray-light;
			margin-bottom: 15px;
			border: 1px solid $border-color;
			background: $body-bg;
		}
		position: relative;
		width: 100%;
		display: inline-block;
		input[type=submit] {
			margin-top: 15px;
		}
		input {
			position: relative;
			width: 100%;
			margin-bottom: 15px;
			background: var(--body-bg);
			@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
			padding-left: 15px;
			height: 50px;
			line-height: 50px;
			clear: both;
			border: 1px solid $border-color;
			&:focus {
				border: 1px solid $border-color;
				box-shadow: none;
				outline: none;
			}
		}
		.textarea {
			textarea {
				&:focus {
					border: 1px solid $border-color;
					box-shadow: none;
					outline: none;
				}
				margin-bottom: 15px;
				width: 100%;
				float: left;
				background: $white;
				border: 1px solid $border-color;
				@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
				padding: 15px 0 0 20px;
				resize: none;
			}
		}
	}
	.wpcf7-form {
		p {
			&:nth-child(n+6) {
				margin-bottom: 0;
			}
		}
	}
	div.wpcf7-validation-errors {
		display: none !important;
	}
	div.wpcf7-acceptance-missing {
		display: none !important;
	}
	.wpcf7-not-valid-tip {
		display: none !important;
	}
	.predict-form {
		background: $white;
		@if $enable-rounded == true {
                        @include radius-mixin($border-radius);
                    }
		padding: 30px;
		h4{
			color: $title-text;
		}
		input {
			margin-bottom: 30px;
		}
		textarea {
			margin-bottom: 30px;
		}
	}
}

.prox-contact {
	input[type=text] {
		border: 1px solid $primary-light;
	}
	textarea {
		border: 1px solid $primary-light;
	}
}

/*---------------------------------------------------------------------
consult-contact box
-----------------------------------------------------------------------*/
.landing-analytics {
	.contact-box {
		.service-detail {
			padding-left: 60px;
			ul {
				li {
					a {
						color: $body-text-dark;
						text-decoration: none;
						i {
							&:hover {
								color: $primary;
							}
							font-size: 18px;
							color: $title-text;
							background: transparent;
							display: inline-block;
							width: auto;
							position: inherit;
						}
					}
					margin-right: 15px;
				}
				padding: 0;
			}
			p {
				color: $body-text-dark;
				text-decoration: none;
			}
		}
		margin-bottom: 30px;
		position: relative;
		&:last-child {
			margin-bottom: 0px;
		}
		i {
			font-size: 16px;
			display: inline-block;
			width: 45px;
			height: 45px;
			background: $primary;
			@include radius-mixin(90px);
			line-height: 45px;
			text-align: center;
			position: absolute;
			top: 6px;
			color: $white;
			left: 0;
			z-index: 1;
		}
		img {
			margin: 15px;
		}
	}
	.contact-box.text-white {
		.service-detail {
			ul {
				li {
					a {
						color: $white;
					}
				}
			}
			p {
				color: $white;
			}
		}
	}
	.prox-primary-bg {
		background-color: $primary !important;
	}
	.iq-feture-bg {
		background-image: url(~@/assets/images/landing-page/landing-8/40.png);
		background-position: 0 0;
		background-repeat: no-repeat !important;
		background-size:100%;
		padding-top: 200px;
	}
	.iq-clients {
		.owl-carousel {
			.owl-item {
				img {
					width: auto;
					margin: 0 auto;
				}
			}
		}
	}
}
body.landing-analytics {
	background: none;
}

/*---------------------------------------------------------------------
Back to Top
-----------------------------------------------------------------------*/
.landing-analytics {
	#back-to-top {
		.top {
			z-index: 999;
			position: fixed;
			margin: 0px;
			color: $white;
			background: $primary;
			position: fixed;
			bottom: 30px;
			right: 25px;
			z-index: 999;
			font-size: 26px;
			width: 50px;
			height: 50px;
			text-align: center;
			line-height: 58px;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-circle);
			}
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			&:hover {
				background: $primary-dark;
				color: $white;
				@include shadow-mixin(0px 0px 30px 0px rgba(0, 0, 0, 0.1));
			}
		}
	}
}

/*---------------------------------------------------------------------
                           OWL Carousel
-----------------------------------------------------------------------*/
/* Dots */
/* Banner 2 */
.landing-analytics {
	.owl-carousel {
		.owl-nav.disabled {
			display: none;
		}
		.owl-nav {
			display: block;
			position: absolute;
			text-indent: inherit;
			top: 50%;
			@include transform-mixin(translateY(-50%));
			left: 0;
			width: 100%;
			cursor: pointer;
			z-index: 999;
			.owl-prev {
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				outline: none;
				background: none;
				border: none;
				display: block;
				position: absolute;
				text-align: center;
				text-indent: inherit;
				top: -25px;
				left: -8%;
				width: auto;
				cursor: pointer;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
			.owl-next {
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				outline: none;
				background: none;
				border: none;
				display: block;
				position: absolute;
				text-align: center;
				text-indent: inherit;
				top: -25px;
				right: -8%;
				width: auto;
				cursor: pointer;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}

			}
			i {
				font-size: 24px;
				border: 1px solid rgba(0, 0, 0, 0.05);
				width: 45px;
				height: 45px;
				line-height: 45px;
				padding-left: 0px;
				display: inline-block;
				color: $white;
				background:$primary;
				font-weight: normal;
				text-align: center;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}

				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				&:hover {
					background: $primary;
					color: $white;
				}
			}
		}
		.owl-dots.disabled {
			display: none;
		}
		.owl-dots {
			margin-top: 15px;
			position: relative;
			width: 100%;
			display: inline-block;
			text-indent: inherit;
			text-align: center;
			cursor: pointer;
			.owl-dot {
				box-shadow: none;
				outline: none;
				background: transparent;
				display: inline-block;
				border-radius: 90px;
				padding: 0;
				margin: 0px 3px;
				height: 10px;
				width: 10px;
				border: 1px solid $primary;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				cursor: pointer;
				span {
					display: none;
				}
				&:hover {
					background: $primary-dark;
					border: 1px solid $primary-dark;
				}
			}
			.owl-dot.active {
				background: $primary-dark;
				border: 1px solid $primary-dark;
			}
		}
		.owl-item {
			img.client-img {
				width: auto;
				margin: 0 auto;
			}
		}
	}
	.owl-dots {
		.owl-dot.active {
			&:nth-child(n+3) {
				background: $primary-dark;
				border: 1px solid $primary-dark;
			}
		}
		.owl-dot {
			&:nth-child(n+4) {
				display: none;
			}
		}
	}
	.iq-banner-02 {
		position: relative;
		overflow: hidden;
		padding-bottom: 60px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-image: url(~@/assets/images/landing-page/landing-8/41.jpg);
		background-size: 100% 100%;
		background-position: 50% 50%;
		width: 100%;
		height: 100%;
		@include opacity-mixin(1);
		top: 0px;
		left: 0px;
		visibility: inherit;
		z-index: 20;
		.banner-text {
			z-index: 9;
			position: relative;
			margin-top: 8%;
			margin-bottom: 5%;
			h1 {
				color: $dark;
				font-size: 90px;
				line-height: 100px;
				margin-bottom: 10px;
			}
			h2 {
				font-size: 60px;
				line-height: 70px;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 40px;
				span {
					display: block;
				}
			}
			.iq-image {
				img {
					max-width: 130%;
				}
			}
		}
		.banner-objects {
			.banner-objects-01 {
				position: absolute;
				top: 0;
				left: 0;
				right: auto;
				img {
					height: 850px;
					object-fit: cover;
				}
			}
			.banner-objects-02 {
				position: absolute;
				right: 0;
				top: 0;
				img {
					width: 1050px;
					z-index: -1;
					position: relative;
				}
			}
		}
		&:before {
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
	.iq-over-dark-90 {
		background: $gray-light !important;
	}
}

@media(max-width:1199px) {
    .landing-analytics {
	.prox-right-img {
		img {
			right: -19%;
			max-width: 105% !important;
			margin: 0 0;
		}
	}
	.custom-tab {
		.nav.nav-pills[aria-orientation="vertical"] {
			padding: 0;
		}
	}
	.prox-right-img-wm {
		img {
			max-width: 130% !important;
		}
	}
	.prox-feature-circle {
		.prox-img {
			&::before {
				height: 400px;
				width: 400px;
			}
			ul {
				li {
					&:nth-child(3) {
						.feature-info {
							right: 15%;
						}
					}
					&:nth-child(4) {
						.feature-info {
							top: 37%;
							right: 7%;
						}
					}
					&:nth-child(7) {
						.feature-info {
							top: 60%;
							right: 25%;
						}
					}
					&:nth-child(8) {
						.feature-info {
							bottom: 10%;
							left: 30%;
						}
					}
					&:nth-child(6) {
						.feature-info {
							top: 60%;
							left: 0%;
						}
					}
					&:nth-child(5) {
						.feature-info {
							top: 35%;
							left: -15%;
						}
					}
					&:nth-child(2) {
						.feature-info {
							top: 7%;
							left: 0%;
						}
					}
				}
			}
		}
		.dot-circle {
			display: none;
		}
		.main-circle {
			left: 40%;
			top: 40%;
		}
	}
	.iq-timer.text-left.style3 {
		.timer-details {
			padding: 15px 15px 30px 95px;
		}
	}
}

}

@media(max-width:1024px) {
    .landing-analytics {
	.prox-right-img-wm {
		img {
			right: 0%;
			max-width: 110% !important;
		}
	}
}

}

@media (max-width:992px) {
    .landing-analytics {
	.prox-right-img-wm {
		text-align: center;
		img {
			right: 0%;
			max-width: 100% !important;
			object-fit: contain;
		}
	}
	.prox-feature-circle {
		margin-left: 150px;
		margin-top: 45px;
	}
	.iq-timer {
		margin-bottom: 30px;
	}
	.count-style {
		.iq-timer {
			margin-bottom: 30px;
		}
	}
	.iq-amazing-tab {
		padding-top: 0px;
	}
	.custom-tab.verticaltab3 {
		.nav.nav-pills[aria-orientation="vertical"] {
			li {
				&:last-child {
					padding: 0 30px 40px;
					margin-bottom: 0px;
				}
			}
			margin-bottom: 0px !important;
		}
	}
}
.iq-pb-70 {
	padding-bottom: 45px;
}
.overview-block-pb {
	padding: 0 0 75px 0;
}
.overview-block-pt {
	padding: 75px 0 0 0;
}

}

@media (max-width:991px) {
    .main-header {
	.navbar-collapse {
		position: absolute;
		left: 0;
		top: 65px;
		width: 100%;
		background: $white;
		@include shadow-mixin(0px 10px 30px 0px rgba(43, 87, 69, 0.2));
		z-index: 99;
	}
}
.header-software {
	.navbar {
		.navbar-nav {
			padding: 10px 0;
		}
	}
}
.header-software.main-header {
	.navbar {
		.navbar-nav {
			.nav-item {
				a {
					padding: 15px;
					padding: 15px;
				}
			}
		}
	}
}
.top-bar-software {
	.social-icone {
		ul {
			li {
				border-right: 0 !important;
			}
		}
		text-align: left;
	}
	.number-info {
		li {
			border-left: none;
		}
	}
}
.landing-analytics {
	.iq-banner-02 {
		.banner-text {
			h1 {
				color: $primary;
				font-size: 64px;
				line-height: 64px;
			}
			margin-top: 15%;
		}
	}
	.iq-timer.style3 {
		width: 100%;
	}
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			margin: 15px 0px 60px;
		}
	}
}

}

@media (max-width:979px) {
    .landing-analytics {
	.custom-tab {
		.nav.nav-pills[aria-orientation="vertical"] {
			.nav-link {
				.tab-title {
					display: block;
				}
				width: auto;
				display: inline-block;
				margin: 0 15px 15px;
			}
			width: 100%;
		}
	}
	.custom-tab.verticaltab3 {
		.nav.nav-pills[aria-orientation="vertical"] {
			.nav-link {
				img {
					width: auto;
				}
			}
		}
	}
}

}

@media (max-width:767px) {
    .landing-analytics {
	.custom-tab {
		.nav.nav-pills {
			li {
				width: 25%;
			}
			width: 100%;
		}
		.nav-pills {
			.nav-link {
				.tab-title {
					font-size: 14px;
				}
				img {
					display: block;
					text-align: center;
					margin: 0 auto;
					width: 70px;
				}
			}
		}
		.nav.nav-pills[aria-orientation="vertical"] {
			.nav-link {
				.tab-title {
					font-size: 20px;
				}
			}
		}
	}
	.prox-feature-circle {
		margin-left: 30px;
		.prox-img {
			li {
				.feature-info {
					h6 {
						display: none;
					}
				}
			}
			ul {
				li {
					&:nth-child(5) {
						.feature-info {
							left: -5%;
						}
					}
					&:nth-child(3) {
						.feature-info {
							right: 22%;
						}
					}
					&:nth-child(4) {
						.feature-info {
							right: 15%;
						}
					}
					&:nth-child(1) {
						.feature-info {
							left: -85px;
						}
					}
				}
			}
		}
	}
	.top-bar-software {
		.social-icone {
			text-align: left;
		}
	}
	.iq-banner-02 {
		.banner-text {
			margin-top: 30%;
		}
	}
	.testimonial-style.owl-carousel {
		.iq-testimonial {
			margin: 0 70px 54px;
		}
	}
}

}

@media(max-width:575px) {
    .landing-analytics {
		
		.iq-banner-02
		 .banner-text h1 {
			font-size: 36px;
			line-height: 36px;
		}

		.testimonial-style.owl-carousel {
			.iq-testimonial {
				margin: 0 0px 54px;
				padding: 30px;
			}
		}
	.custom-tab {
		.nav.nav-pills {
			li {
				width: 50%;
			}
		}
		.nav-pills {
			.nav-link {
				.tab-title {
					font-size: 16px;
				}
			}
		}
	}
}
}

@media(max-width:479px) {
    .landing-analytics {
	.custom-tab.verticaltab3 {
		.nav.nav-pills[aria-orientation="vertical"] {
			li.nav-item {
				.nav-link {
					.media {
						display: block;
						.media-body {
							float: left;
							width: 100%;
						}
					}
					margin: 0;
				}
			}
			.nav-link {
				img {
					float: left;
					margin-bottom: 30px;
				}
			}
		}
	}
	.prox-feature-circle {
		.prox-img {
			ul {
				li {
					.feature-info {
						.feature-img {
							height: 45px;
							width: 45px;
							line-height: 45px;
							img {
								width: 25px;
							}
						}
					}
					&:nth-child(3) {
						.feature-info {
							top: 3%;
						}
					}
					&:nth-child(4) {
						.feature-info {
							right: 12%;
							top: 30%;
						}
					}
				}
			}
			height: 300px;
			width: 300px;
			&::before {
				height: 250px;
				width: 250px;
			}
		}
		height: 250px;
		width: 250px;
		.main-circle {
			display: none;
		}
	}
	.iq-amazing-tab {
		padding-top: 0px;
		.iq-portfolio {
			.iq-portfolio-content {
				.details-box {
					a {
						line-height: 58px;
					}
					padding: 15px;
				}
			}
		}
		.iq-portfolio-content {
			.consult-details {
				.consult-effect {
					&:before {
						bottom: 79px;
					}
				}
			}
		}
	}
}

}
