/*---------------------------------------------------------------------
  Header
-----------------------------------------------------------------------*/
.landing-event {
	.l-header-2 {
		.navbar {
			.navbar-nav {
				.nav-item {
					a {
						&::before {
							background: $danger;
							bottom: 0;
							content: "";
							height: 2px;
							left: 0;
							position: absolute;
							width: 0;
							@if $enable-transitions == true {
								@include transition-mixin(all 0.3s ease-in-out);
							}
						}
						color: $white;
						padding: 10px 0;
						&:hover {
							color: $danger;
							background: none;
							@include shadow-mixin(none);
						}
						&:focus {
							color: $danger;
							background: none;
							@include shadow-mixin(none);
						}
					}
					a.active {
						color: $danger;
						background: none;
						@include shadow-mixin(none);
						&:focus {
							color: $danger;
							background: none;
							@include shadow-mixin(none);
						}
						&:hover {
							color: $danger;
							background: none;
							@include shadow-mixin(none);
						}
						&::before {
							width: 100%;
						}
					}
					&:hover {
						>a {
							&::before {
								width: 100%;
							}
						}
					}
					>a {
						&:hover {
							&::before {
								width: 100%;
							}
						}
					}
				}
				margin-top: 0;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				>li {
					margin: 0 30px 0 0;
					position: relative;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.navbar-brand {
				img {
					width: 100px;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
				}
			}
			ul {
				li {
					list-style: none;
					margin-right: 30px;
					position: relative;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		.button {
			margin-top: 0;
			margin-left: 15px;
		}
		.button-line {
			margin-top: 0;
			margin-left: 15px;
		}
	}
	header.main-header.l-header-2.fixed {
		z-index: 999;
		width: 100%;
		position: fixed;
		padding: 15px 0;
		@include shadow-mixin(0px 0px 30px 0px rgba(0, 0, 0, 0.1));
		background: $dark;
		margin-top: 0px;
	}
	.landing-1 {
		header {
			position: fixed;
			background: transparent;
			display: inline-block;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 999;
			padding: 10px 0;
			background: $dark;
		}
	}
	p {
		color: $body-text-dark;
	}
}
.main-header {
	.navbar-toggler {
		padding: 2px 10px;
		background: $danger;
		.ion-navicon {
			display: none;
		}
	}
	
}

/*--------------------------------------------------------------
  banner
--------------------------------------------------------------*/
.landing-event {
	.main-slider {
		background: $dark;
		h1 {
			font-size: 70px;
			line-height: 86px;
		}
	}
}
.bannet-text {
	height: 130px;
	padding: 50px 0px;
}

/*--------------------------------------------------------------
  Shape
--------------------------------------------------------------*/
.landing-event {
	.shape1 {
		position: absolute;
		left: -60px;
		top: 90px;
	}
	.shape2 {
		position: absolute;
		left: -40px;
		bottom: -40px;
	}
	.shape3 {
		position: absolute;
		right: -60px;
		bottom: 30px;
		z-index: 9;
	}
	.shape4 {
		position: absolute;
		left: -40px;
		top: 60%;
	}
	.shape5 {
		position: absolute;
		right: -60px;
		top: 60%;
	}
	.shape6 {
		position: absolute;
		left: 60px;
		bottom: -50px;
	}
	.shape7 {
		position: absolute;
		left: -60px;
		top: 30%;
	}
	.shape8 {
		position: absolute;
		left: -30px;
		top: -30px;
		z-index: 9;
	}
	.shape9 {
		position: absolute;
		right: 20px;
		top: -60px;
		z-index: 9;
	}
	.shape10 {
		position: absolute;
		left: -50px;
		top: -20px;
	}
	.iq-title-box {
		.iq-subtitle {
			&:before {
				position: absolute;
				right: -12px;
				top: -24px;
				content: "\f028";
				font-size: 16px;
				font-family: 'Font Awesome 5 Free';
			}
		}
	}
}

/*--------------------------------------------------------------
  Speakers
--------------------------------------------------------------*/
.landing-event {
	.speakers-bg {
		padding-bottom: 140px;
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			background: $dark;
			width: 100%;
			height: 360px;
		}
	}
	.iq-speaker1 {
		margin: 40px 10px 0 10px;
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			background: -moz-linear-gradient(top, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
			background: -webkit-linear-gradient(top, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
			background: linear-gradient(to bottom, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
			width: 100%;
			height: 100%;
			opacity: 0;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
		}
		&:hover {
			&:before {
				opacity: inherit;
			}
			.speaker-title {
				bottom: 50px;
				opacity: inherit;
			}
			p {
				bottom: 30px;
				opacity: inherit;
			}
			.read-more {
				right: 0;
			}
		}
		.speaker-title {
			left: 30px;
			bottom: 30px;
			opacity: 0;
			a {
				text-decoration: none;
				color: $white;
				&:hover {
					color: $danger;
				}
			}
		}
		p {
			left: 30px;
			bottom: 0;
			opacity: 0;
			line-height: 16px;
		}
		.read-more {
			height: 82px;
			width: 60px;
			position: absolute;
			top: 30px;
			right: -60px;
			padding-left: 24px;
			i {
				font-size: 24px;
				line-height: 80px;
				color: $white;
				&:hover {
					color: $dark !important;
				}
			}
		}
	}
	.iq-speaker2 {
		.iq-speaker-img {
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: "";
				background: -moz-linear-gradient(top, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
				background: -webkit-linear-gradient(top, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
				background: linear-gradient(to bottom, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
				width: 100%;
				height: 100%;
				opacity: 0;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
			&:hover {
				&:before {
					opacity: inherit;
				}
			}
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
		}
		.read-more {
			height: 82px;
			width: 60px;
			position: absolute;
			top: 30px;
			right: -60px;
			padding-left: 24px;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}

			i {
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}

			}
		}
		&:hover {
			.read-more {
				right: 0;
			}
		}
	}
	.iq-speaker {
		.speaker-title {
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}

		}
	}
	.iq-event1 {
		.read-more {
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}

		}
	}
	footer {
		.iq-instagram {
			&:before {
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}

			}
			a {
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}

			}
		}
	}
}
.iq-speaker1 {
	.speaker-title {
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}

	}
	p {
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}

	}
	.read-more {
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}

	}
}

/*--------------------------------------------------------------
  About us
--------------------------------------------------------------*/
.landing-event {
	.iq-about1 {
		margin-top: -40px;
	}
	.iq-about-bg {
		&:before {
			position: absolute;
			left: 0;
			height: 0;
			content: "";
			width: 100%;
			height: 40px;
			background: $white;
		}
	}
	.iq-about-box1 {
		.iq-about-img {
			z-index: 9;
		}
	}
}

/*--------------------------------------------------------------
  Event Schedule
--------------------------------------------------------------*/
.landing-event {
	.iq-event-schedule {
		border: 1px solid $pink-light;
		.event-box {
			border-top: 1px solid $pink-light;
			padding: 30px 0;
		}
	}
}

/*--------------------------------------------------------------
  Event Schedule
--------------------------------------------------------------*/
.landing-event {
	.iq-event1 {
		margin: 12px 0;
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			background: -moz-linear-gradient(top, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
			background: -webkit-linear-gradient(top, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
			background: linear-gradient(to bottom, rgba(23, 54, 58, 0) 0%, rgba(23, 54, 58, 0.6) 100%);
			width: 100%;
			height: 100%;
		}
		.read-more {
			height: 82px;
			width: 60px;
			position: absolute;
			top: 30px;
			right: -60px;
			padding-left: 24px;
			i {
				&:hover {
					color: $dark !important;
				}
			}
		}
		&:hover {
			.read-more {
				right: 0;
			}
		}
		.event-title {
			left: 30px;
			bottom: 24px;
			padding-right: 30px;
			a {
				text-decoration: none;
				color: $white;
				&:hover {
					color: $danger;
				}
				&:focus {
					color: $danger;
				}
			}
		}
	}
	.iq-space {
		.iq-event1 {
			margin: 1px 0;
		}
	}
	.event-bg {
		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			background: $pink-light;
			width: 100%;
			height: 32%;
		}
	}
	.iq-event2 {
		margin-left: 10px;
		&:before {
			position: absolute;
			left: -60px;
			top: 10px;
			height: 2px;
			width: 40px;
			content: "";
			background: $dark;
		}
		.event-title {
			a {
				text-decoration: none;
				margin-top: 100px;
				display: inline-block;
				&:hover {
					color: $white;
				}
				&:focus {
					color: $white;
				}
			}
		}
	}
	.event2-box {
		.col {
			padding: 50px 30px 30px 30px;
		}
	}
	.md-img {
		background-repeat: no-repeat !important;
	}
}
.iq-event1 {
	.read-more {
		i {
			font-size: 24px;
			line-height: 80px;
			color: $white;
		}
	}
}

/*--------------------------------------------------------------
  Packages
--------------------------------------------------------------*/
.landing-event {
	.iq-packages1 {
		padding: 30px;
		.packages-header {
			border-bottom: 1px dashed $pink-light;
			padding-bottom: 15px;
			&:before {
				position: absolute;
				left: -50px;
				bottom: -20px;
				content: "";
				background: $pink-light;
				width: 40px;
				height: 40px;
				border-radius: 100px;
			}
			&:after {
				position: absolute;
				right: -50px;
				bottom: -20px;
				content: "";
				background: $pink-light;
				width: 40px;
				height: 40px;
				@include radius-mixin(100px);
			}
		}
		.packages-content {
			padding: 50px 0;
		}
		.packages-footer {
			border-top: 1px dashed $pink-light;
			padding-top: 30px;
			&:before {
				position: absolute;
				left: -50px;
				top: -20px;
				content: "";
				background: $pink-light;
				width: 40px;
				height: 40px;
				@include radius-mixin(100px);
			}
			&:after {
				position: absolute;
				right: -50px;
				top: -20px;
				content: "";
				background: $pink-light;
				width: 40px;
				height: 40px;
				@include radius-mixin(100px);
			}
		}
	}
	.main-bg {
		.iq-packages1 {
			.packages-header {
				&:before {
					background: $dark;
				}
				&:after {
					background: $dark;
				}
			}
			.packages-footer {
				&:before {
					background: $dark;
				}
				&:after {
					background: $dark;
				}
			}
		}
	}

	ul.iq-list {
		li {
			i {
				color: $danger !important;
				margin-right: 8px;
			}
		}
	}
	
}

/*--------------------------------------------------------------
  Testimonial
--------------------------------------------------------------*/
.landing-event {
	.iq-testimonial {
		.testimonial-img {
			img {
				width: 80px;
				height: 80px;
			}
		}
	}
	.iq-testimonial2 {
		h5 {
			line-height: 36px;
		}
		.testimonial-img {
			img {
				width: 150px;
				height: 150px;
			}
			&:before {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 60px;
				height: 60px;
				background: $dark;
				content: "\f10d";
				border-radius: 100px;
				font-family: 'FontAwesome 5 free';
				font-size: 28px;
				text-align: center;
				line-height: 60px;
				color: $white;
			}
		}
	}
	.owl-carousel {
		.owl-dots.disabled {
			display: none;
		}
		.owl-dots {
			display: inherit;
			text-align: center;
			margin-top: 60px;
			.owl-dot {
				border-radius: 90px;
				box-shadow: none;
				outline: none;
				background: $dark;
				display: inline-block;
				vertical-align: middle;
				padding: 0;
				margin: 0px 6px;
				height: 8px;
				width: 8px;
				cursor: pointer;
				position: relative;
				&:hover {
					&:before {
						position: absolute;
						left: -4px;
						top: -4px;
						content: "";
						border: 1px solid $dark;
						width: 16px;
						height: 16px;
						border-radius: 90px;
					}
				}
			}
			.owl-dot.active {
				&:before {
					position: absolute;
					left: -4px;
					top: -4px;
					content: "";
					border: 1px solid $dark;
					width: 16px;
					height: 16px;
					border-radius: 90px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
 Clients
--------------------------------------------------------------*/
.landing-event {
	.clients-img {
		border: 1px solid rgba(255, 255, 255, 0.2);
		padding: 25px;
	}
}

/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
.landing-event {
	footer {
		padding: 40px 0;
		.iq-call {
			text-decoration: none;
			border-right: 1px solid $white;
			padding: 0 15px 0 32px;
			&:before {
				position: absolute;
				left: 0;
				bottom: -3;
				content: "\f2a0";
				font-size: 20px;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				color: $white;
			}
			&:hover {
				color: $danger !important;
			}
		}
		.iq-instagram {
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: "";
				background: rgba(23, 54, 58, 0);
				width: 100%;
				height: 100%;
			}
			&:hover {
				&:before {
					background: rgba(23, 54, 58, 0.8);
				}
			}
			a {
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
			}
		}
		input {
			height: 55px;
			background: $white !important;
			color: $dark !important;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
		}
		input[type=text] {
			height: 55px;
			background: $white !important;
			color: $dark !important;
		}
		
		&::placeholder {
			color: $dark !important;
		}
		
		.iq-social {
			margin-left: 20px;
			&:before {
				position: absolute;
				left: -20px;
				top: 10px;
				height: 2px;
				width: 20px;
				background: $danger;
				content: "";
			}
			i {
				font-size: 20px;
				&:hover {
					color: $danger;
				}
			}
			li {
				&:before {
					position: absolute;
					right: -10px;
					top: 10px;
					height: 2px;
					width: 2px;
					background: $danger;
					content: "";
				}
				&:last-child {
					&:before {
						content: none;
					}
				}
			}
		}
	}
	img.img-fluid.logo-footer {
		width: 100px;
	}
	.iq-instagram {
		&:hover {
			a {
				opacity: inherit;
			}
		}
		a {
			&:hover {
				i {
					color: $danger !important;
				}
			}
		}
		img {
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
		}
	}
	.instagram-box {
		.row {
			margin: 0;
		}
		.col-lg-3.col-md-4.col-sm-4 {
			padding: 0 5px 5px 0;
		}
		.col-lg-4.col-md-6.col-sm-6 {
			padding: 0 5px 5px 0;
		}
	}
	.iq-speaker1 {
		@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
	}
	.iq-about-box1 {
		.iq-about-img {
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
		}
	}
	
	.iq-event1 {
		@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
	}
	.iq-packages1 {
		@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
	}
	.clients-img {
		@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
	}
	#back-to-top {
		.top {
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
		}
	}
	.iq-event-schedule {
		@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
	}
	
	.event-banner {
		img {
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
		}
	}
}
footer {
	input[type=text] {
		@if $enable-rounded == true {
            @include radius-mixin($border-radius);
        }
	}
}

/*---------------------------------------------------------------------
                           Back to Top
-----------------------------------------------------------------------*/
.landing-event {
	#back-to-top {
		.top {
			z-index: 999;
			position: fixed;
			margin: 0px;
			color: $white;
			background: $danger;
			position: fixed;
			bottom: 30px;
			right: 25px;
			z-index: 999;
			font-size: 26px;
			width: 50px;
			height: 50px;
			text-align: center;
			line-height: 60px;
			&:hover {
				background: $white;
				color: $danger;
				@include shadow-mixin(0px 0px 30px 0px rgba(0, 0, 0, 0.1));
			}
		}
	}
}

@media (max-width:992px) {
    .iq-section-space {
	padding: 75px 0;
}
.iq-section-pb-85 {
	padding-bottom: 60px;
}
.iq-about-box1 {
	margin-bottom: 50px;
}
.iq-packages1 {
	margin-bottom: 30px;
}
.landing-event {
	.l-header-2 {
		.navbar {
			.navbar-nav {
				.nav-item {
					a {
						&:hover {
							color: $danger;
						}
						&:focus {
							color: $danger;
						}
					}
					a.active {
						color: $danger;
						&:focus {
							color: $danger;
						}
						&:hover {
							color: $danger;
						}
					}
				}
			}
		}
	}
}

}

@media (max-width:991px) {
    .landing-event {
        .l-header-2 {
            .navbar {
                .navbar-nav {
                    .nav-item {
                        a {
                            padding: 15px;
                            padding: 15px;
                            color: $body-text-dark;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:767px) {
    .landing-event {
        h2 {
            font-size: 36px;
            line-height: 40px;
        }
        .main-slider {
            h1 {
                font-size: 48px;
                line-height: 48px;
            }
        }
    }
}
@media (max-width:674px) {
    .landing-event {
        .iq-speaker1 {
            margin: 50px 0 0 0;
            width: 100%;
        }
    }
}
@media (max-width:575px) {
    .landing-event {
        footer {
            form {
                .col-auto {
                    width: 100%;
                }
            }
        }
    }
}