.landing-creative {
	.iq-mb-30 {
		margin-bottom: 30px;
	}
	.iq-mt-30 {
		margin-top: 30px;
	}
	.iq-mt-45 {
		margin-top: 45px;
	}
	.iq-mb-45 {
		margin-bottom: 45px;
	}
}

// Banner 2
.landing-creative {
	.iq-banner-02 {
		position: relative;
		overflow: hidden;
		padding-bottom: 60px;
		.banner-text {
			z-index: 9;
			position: relative;
			margin-top: 16%;
			margin-bottom: 0%;
			h1 {
				font-size: 4.300em;
				line-height: normal;
				margin-bottom: 15px;
			}
			p {
				span {
					display: block;
				}
			}
		}
		.banner-objects {
			.banner-objects-01 {
				position: absolute;
				top: 0;
				right: 0;
				img {
					height: 730px;
					object-fit: cover;
				}
			}
			.banner-objects-02 {
				right: 56px;
				bottom: 50px;
				position: relative;
				text-align: right;
				display: inherit;
			}
		}
	}
}

// Swiper Slider
/*PlaceHolder Css*/
.landing-creative {
	.swiper-slide {
		img {
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
	}
	.swiper-pagination-bullet-active {
		@include opacity-mixin(1);
		background: $warning !important;
	}
	input[type=email] {
		&::-webkit-input-placeholder {
			color: $white;
		}
		&::-moz-placeholder {
			color: $white;
		}
		&:-ms-input-placeholder {
			color: $white;
		}
		&:-moz-placeholder {
			color: $white;
		}
		&:hover {
			border-color: $warning-light;
		}
	}
	.objects-main {
		position: absolute;
		top: -266%;
		left: -290px;
	}
	.iq-abouimg {
		img {
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
	}
	.iq-img {
		img {
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
	}
	.auto-container {
		input[type=email] {
			color: $white;
		}
	}
}

// service-style2
.landing-creative {
	.iq-service-style2 {
		padding: 30px;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
		margin-bottom: 30px;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		&:hover {
			&:after {
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
			.iq-image {
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				@include opacity-mixin(1);
			}
			.iq-iconbg {
				&:before {
					position: absolute;
					content: '';
					background-image: -webkit-linear-gradient(45deg, rgba(254, 254, 255,0) 0%, rgba(0, 0, 0 ,0.10) 100%);
					width: 90px;
					height: 90px;
					top: 38px;
					left: 51px;
					border-radius: 50%;
					z-index: 1;
					transition: all 500ms ease;
				}
				i {
					color: $warning;
				}
			}
			background: $white;
			box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
		}
		.iq-iconbg {
			i {
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				font-size: 50px;
				padding: 30px;
			}
			&:before {
				width: 70px;
				height: 70px;
				top: 38px;
				left: 51px;
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				position: absolute;
				content: '';
				background-image: -webkit-linear-gradient(45deg, rgba(254, 254, 255, 0) 0%, rgba(0, 0, 0,  0.10) 100%);
				z-index: 1;
				transition: all 500ms ease;
			}
			img {
				margin-bottom: 30px;
			}
		}
		.iq-content {
			.iq-title {
				margin-bottom: 15px;
			}
		}
		.iq-image {
			position: absolute;
			top: -130px;
			right: 0;
			@include opacity-mixin(0);
		}
	}
	.iq-subscribe-block {
		.mc4wp-form-fields {
			input[type=submit] {
				position: absolute;
				right: 0;
				top: 0;
				background: $white;
				color: $dark;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
			}
		}
	}
	.overview-block-pb {
		padding: 0 0 100px 0;
	}
}

// Overlay
.landing-creative {
	.overlay-right-bottom {
		position: absolute;
		top: 8%;
		right: -10%;
		height: 250px;
		width: 250px;
	}
	.overlay-right-top {
		position: absolute;
		right: -6%;
		top: 10%;
		height: 230px;
		width: 230px;
	}
	.overlay-left-bottom {
		position: absolute;
		left: -7%;
		bottom: 9%;
		height: 200px;
		width: 200px;
	}
	.overlay-right-bottom-2 {
		position: absolute;
		top: 8%;
		left: -1%;
	}
	.overlay-right-top-2 {
		position: absolute;
		right: -1%;
		top: 10%;
	}
	.overlay-left-bottom-2 {
		position: absolute;
		left: -6%;
		bottom: -6%;
	}
	.iq-web-services {
		overflow: inherit;
	}
	.iq-web {
		img {
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
	}
	.iq-image-expert {
		position: relative;
		.iq-pattern {
			position: absolute;
			bottom: 4%;
			right: 25%;
			width: 100px;
			height: 100px;
		}
	}
}

// Team
.landing-creative {
	.iq-team2 {
		.iq-team-img {
			text-align: center;
			border-radius: 100%;
			margin-bottom: 15px;
			overflow: inherit;
		}
		.share {
			position: relative;
			bottom: 0;
			margin-top: 15px;
			ul {
				li {
					float: none;
					display: inline-block;
					margin-right: 15px;
					&::last-child {
						margin-right: 0;
					}
					a {
						@if $enable-rounded == true {
							@include radius-mixin($border-radius-circle);
						}
						display: inline-block;
						color: $dark;
						text-align: center;
						&:hover {
							color: $warning;
						}
					}
				}
			}
		}
		&:hover {
			.iq-team-info {
				h4 {
					color: $warning;
					text-decoration: none;
				}
			}
			.img-pattern {
				.img-pattern-1 {
					right: 20px;
				}
				.img-pattern-2 {
					left: 15px;
				}
			}
		}
		.team-post {
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
		}
		.img-pattern-1 {
			position: absolute;
			top: 0;
			right: 30px;
			z-index: -1;
			transition: all 500ms ease;
		}
		.img-pattern-2 {
			position: absolute;
			bottom: 0;
			left: 25px;
			z-index: -1;
			transition: all 500ms ease;
		}
		.iq-team-info {
			a {
				text-decoration: none;
				color: $title-text;
			}
		}
	}
	.owl-carousel {
		.owl-item {
			.iq-team2 {
				img {
					width: auto;
					height: 100%;
					display: inline-block;
					text-align: center;
				}
			}
		}
	}
	.iq-web {
		p {
			color: $body-text-dark;
		}
	}
}

// counter
.landing-creative {
	.iq-counter {
		padding: 15px;
		.iq-counter-icon {
			color: $black;
			margin-bottom: 15px;
		}
		.iq-counter-img {
			i {
				line-height: normal;
			}
		}
		i {
			&:before {
				font-size: 60px;
				line-height: normal;
			}
		}
		.iq-counter-info {
			.timer {
				font-size: 45px;
				color: $white;
			}
			.counter-after-content {
				font-size: 45px;
				color: $white;
			}
			margin-bottom: 0;
			line-height: normal;
			font-weight: bold;
		}
		.counter-content {
			.counter-title-text {
				margin: 0;
				margin: 10px 0 0;
				font-weight: normal;
			}
			.counter-content-text {
				margin: 10px 0 0;
				font-weight: normal;
			}
		}
	}
}
.iq-counter {
	.iq-counter-info {
		.counter-symbol {
			font-size: 45px;
			color: $white;
		}
	}
}

.landing-creative {
	.iq-counter.iq-counter-style-1 {
		.counter-content {
			.counter-title-text {
				margin: 0 0 30px;
				display: block;
				font-weight: bold;
				font-size: 26px;
				color: $black;
			}
		}
		.iq-counter-info {
			font-weight: normal;
			.timer {
				font-size: 60px;
				color: $white;
				font-weight: bold;
			}
			.counter-symbol {
				font-size: 60px;
				color: $white;
				font-weight: bold;
			}
			.counter-after-content {
				font-size: 60px;
				color: $white;
				font-weight: bold;
			}
		}
		.counter-content-text {
			margin-top: 0px;
			color: $white;
			font-size: 18px;
		}
	}
	.iq-counter-block {
		.auto-container {
			padding: 0px 15px;
			margin: 0 auto;
			position: static;
			max-width: 1200px;
		}
		.inner-container {
			padding-bottom: 50px;
			padding-left: 80px;
			position: relative;
			padding-top: 55px;
			.iq-pattern-style {
				position: absolute;
				width: 1000%;
				height: 100%;
				left: 0px;
				top: 0px;
				&:before {
					right: 0px;
					bottom: 0px;
					background-color: $warning;
					position: absolute;
					content: '';
					left: 0px;
					top: 0px;
					@if $enable-rounded == true {
						@include radius-mixin($border-radius-left);
					}
				}
			}
		}
	}
	.iq-subscribe-block {
		.auto-container {
			position: static;
			max-width: 1375px;
		}
		.inner-container {
			position: relative;
			padding: 80px 70px 75px 80px;
			margin-right: 0%;
			.iq-pattern-style {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0px;
				top: 0px;
				&:before {
					right: 0px;
					bottom: 0px;
					background-image: linear-gradient(to right, $danger 0%, $warning 51%, $warning 100%);
					position: absolute;
					content: '';
					left: 0px;
					top: 0px;
					@if $enable-rounded == true {
						@include radius-mixin($border-radius);
					}
				}
			}
		}
		.overlay-left-bottom {
			position: absolute;
			left: -7%;
			top: -36%;
			height: 200px;
			width: 200px;
		}
		.mc4wp-form-fields {
			input[type=submit] {
				&:after {
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 80px;
					height: 2px;
					background-color: $white;
					margin-left: 12px;
				}
				&:hover {
					background: $dark;
					color: $white;
				}
			}
		}
		.overlay-subscribe {
			position: absolute;
			bottom: -58%;
			right: 16%;
		}
	}
}


// Testimonial-2
.landing-creative {
	.owl-carousel {
		.iq-testimonial2 {
			.testimonial-info {
				position: relative;
				display: flex;
				.iq-icon {
					content: "\f000";
					color: $warning-light;
					position: absolute;
					right: 17%;
					top: -90%;
					font-family: "Font Awesome 5 Free";
					padding-right: 3px;
					vertical-align: middle;
					font-weight: 900;
					display: inline-block;
					font-size: 100px;
				}
			}
			.testimonial-name {
				span {
					color: $black;
					display: inline;
					margin-left: 0px;
				}
				flex: 1;
				h5 {
					display: block;
				}
			}
			p {
				margin-top: 0px;
				margin-bottom: 30px;
				font-style: italic;
				letter-spacing: 1px;
			}
			border: 1px solid $border-color;
			padding: 30px 80px 30px 30px;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
			background: $white;
			margin-bottom: 25px;
		}
	}
}

// blog
.landing-creative {
	.iq-blog-box-2 {
		position: relative;
		z-index: 0;
		padding: 45px 30px;
		overflow: hidden;
		margin-bottom: 45px;
		border: 1px solid $warning;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
		border: 1px solid $border-color;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		&:before {
			background: rgba(0, 0, 0, 0.7);
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 9;
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
			@include opacity-mixin(0);
		}
		&:hover {
			&:before {
				background: rgba(0, 0, 0, 0.7);
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 9;
				@include opacity-mixin(1);
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
			}
			.iq-blog-image {
				@include opacity-mixin(1);
			}
			.iq-blog-content {
				.blog-title {
					h5 {
						color: $white;
					}
				}
				.iq-blog-meta {
					ul {
						li {
							i {
								color: $white;
							}
							a {
								color: $white;
							}
						}
					}
				}
				p.iq-desc {
					color: $white;
				}
			}
			
		}
		.iq-blog-image {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include opacity-mixin(0);
		}
		.iq-blog-content {
			.blog-title {
				margin-bottom: 25px;
				a {
					text-decoration: none;
				}
				h5 {
					position: relative;
					z-index: 9;
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					text-decoration: none;
				}
			}
			.iq-blog-meta {
				ul {
					li {
						i {
							color: $warning;
							position: relative;
							z-index: 9;
							@if $enable-transitions == true {
								@include transition-mixin(all 0.3s ease-in-out);
							}
							text-decoration: none;
						}
						a {
							position: relative;
							z-index: 9;
							@if $enable-transitions == true {
								@include transition-mixin(all 0.3s ease-in-out);
							}
							text-decoration: none;
						}
					}
				}
			}
			p.iq-desc {
				margin-bottom: 25px;
				position: relative;
				z-index: 9;
				@if $enable-transitions == true {
					@include transition-mixin(all 0.3s ease-in-out);
				}
				text-decoration: none;
			}
		}
		ul.iq-postdate {
			padding-left: 0px;
			margin-bottom: 25px;
		}
		
	}
}

// Video Section

@-webkit-keyframes waves {
	0% {
		@include transform-mixin( scale(0.2, 0.2));
		@include opacity-mixin(0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	50% {
		@include opacity-mixin(0.9);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	}
	100% {
		@include transform-mixin( scale(0.9, 0.9));
		@include opacity-mixin(0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}
@keyframes waves {
	0% {
		@include transform-mixin( scale(0.2, 0.2));
		@include opacity-mixin(0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	50% {
		@include opacity-mixin(0.9);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	}
	100% {
		@include transform-mixin( scale(0.9, 0.9));
		@include opacity-mixin(0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}
.landing-creative {
	.iq-vedio-section {
		overflow: inherit;
	}
	.iq-vedio-box {
		margin-top: -90px;
		z-index: 99;
		position: relative;
	}
	.video-image {
		position: relative;
	}
	.play-video-two {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform-mixin( translate(-50%, -50%));
		a {
			&:hover {
				color: $warning;
			}
		}
	}
	.iq-video-two {
		background: $white;
		display: inline-block;
		width: 145px;
		line-height: 145px;
		height: 145px;
		line-height: 145px;
		text-align: center;
		font-size: 32px;
		color: $warning;
		float: left;
		border-radius: 100%;
		z-index: 9;
		position: relative;
	}
	.iq-waves {
		position: absolute;
		width: 14rem;
		height: 14rem;
		left: -46px;
		top: -47px;
		z-index: 2;
		float: right;
		.waves {
			position: absolute;
			width: 384px;
			width: 15rem;
			height: 384px;
			height: 15rem;
			background: rgba(255, 255, 255, 0.2);
			@include opacity-mixin(0);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			border-radius: 320px;
			background-clip: padding-box;
			-webkit-animation: waves 3s ease-in-out infinite;
			animation: waves 3s ease-in-out infinite;
		}
		.wave-1 {
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
		}
		.wave-2 {
			-webkit-animation-delay: 1s;
			animation-delay: 1s;
		}
		.wave-3 {
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
		}
	}
	.iq-asked-img {
		height: 100%;
		width: 100%;
		img {
			@if $enable-rounded == true {
				@include radius-mixin($border-radius);
			}
		}
	}
}

// sign
.landing-creative {
	.iq-sign-box {
		.iq-image {
			display: inline-block;
		}
		.iq-name {
			display: inline-block;
			vertical-align: middle;
			.title {
				display: inline;
			}
		}
	}
	.fade-in {
		-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	}
}

// footer
.landing-creative {
	footer.footer2 {
		background: $warning-light;
		padding-top: 75px;
		.widget {
			.iq-contact {
				li {
					i {
						color: $warning;
					}
				}
			}
		}
		.copyright-footer {
			border-top: 1px solid $border-color;
			.copyright {
				z-index: 1;
				position: relative;
				color: $body-text-dark;
			}
		}
		.social-icone {
			text-align: right;
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					margin: 0 7px;
					&:last-child {
						a {
							margin-right: 0;
						}
					}
					a {
						color: $warning;
						position: relative;
						z-index: 1;
						text-decoration: none;
						&:hover {
							color: $warning-light;
						}
					}
				}
			}
		}
	}
	footer {
		.iq-blog-content {
			ul.iq-postdate {
				padding-left: 0px;
				li {
					i {
						color: $warning;
					}
				}
			}
			a {
				text-decoration: none;
			}
		}
		.iq-blog-content.bdr-bottom {
			border-bottom: 1px solid $body-text-dark !important;
			margin-bottom: 30px;
		}
	}
	.blog-title {
		h5 {
			color:$title-text;
			&:hover {
				color: $warning;
			}
		}
	}
	.iq-subscribe-block {
		.inner-container {
			.iq-pattern-style {
				&:before {
					@if $enable-rounded == true {
						@include radius-mixin($border-radius-left);
					}

				}
			}
		}
	}
}
.overview-block-pt {
	padding: 100px 0 0 0;
}

@media (max-width:1920px) {
    .landing-creative {
        .iq-banner {
            .banner-objects {
                .banner-objects-02 {
                    position: absolute;
                    left: 49%;
                }
            }
        }
    }
}

@media (max-width:1600px) {
    .landing-creative {
        .iq-banner {
            .banner-objects {
                .banner-objects-02 {
                    position: absolute;
                    left: 40%;
                }
            }
        }
    }
}

@media(max-width:1024px) {
.landing-creative {
        .iq-banner-02 {
            padding-bottom: 70px;
            .banner-objects {
                .banner-objects-01 {
                    img {
                        height: 644px;
                        object-fit: cover;
                    }
                }
            }
            .banner-text {
                h1 {
                    font-size: 3em;
                }
            }
        }
    }
}

@media(max-width:992px) {
    .landing-creative {
        iframe {
            margin-bottom: 30px;
            height: 400px;
        }
        .iq-banner-03 {
            .banner-text {
                margin-top: 9%;
            }
        }
        .iq-banner-02 {
            .banner-objects {
                .banner-objects-01 {
                    display: none;
                }
                .banner-objects-02 {
                    display: none;
                }
            }
            .banner-text {
                text-align: center;
                margin-top: 12%;
                .btn-container {
                    text-align: center !important;
                    margin-bottom: 0px;
                }
                h1 {
                    font-size: 50px;
                }
            }
            padding-bottom: 0px;
        }
    }


}


@media (max-width:767px) {
    .landing-creative {
	footer.footer2 {
		.social-icone {
			text-align: left;
		}
	}
	.iq-subscribe-block {
		.inner-container {
			padding: 60px 30px 55px 16px;
		}
	}
}
.iq-video-two {
	width: 100px;
	line-height: 100px;
	height: 100px;
}

}

@media(max-width:575px) {
   .landing-creative {
	.iq-team2 {
		.img-pattern-1 {
			right: 28%;
		}
		.img-pattern-2 {
			left: 28%;
		}
	}
	.iq-portfolio-after {
		&:after {
			height: 243px;
		}
	}
	.iq-banner-02 {
		.banner-text {
			p {
				span {
					display: initial;
				}
			}
		}
	}
	.iq-banner {
		.banner-text {
			p {
				span {
					display: initial;
				}
			}
		}
	}
	footer.footer2 {
		&:after {
			height: 100px;
		}
	}
}
 
}

@media(max-width:479px) {
    .landing-creative {
	.owl-carousel {
		.iq-testimonial2 {
			.testimonial-info {
				.iq-icon {
					right: 0%;
					font-size: 40px;
					top: 0%;
				}
			}
		}
	}
}
.landing-creative {
	.iq-banner-02 {
		.banner-text {
			h1 {
				font-size: 30px;
			}
			margin-top: 21%;
		}
    }
    .iq-video-two {
		width: 100px;
		height: 100px;
		line-height: 100px;
	}
}

}

@media(max-width:359px) {
    .landing-creative {
	.owl-carousel {
		.iq-testimonial2 {
			.testimonial-info {
				display: block;
				.iq-icon {
					right: 0;
					top: auto;
					bottom: 0%;
				}
			}
			.testimonial-name {
				margin-top: 15px;
			}
		}
	}
	.iq-team2 {
		.img-pattern-1 {
			right: 13%;
		}
		.img-pattern-2 {
			left: 13%;
		}
	}
	iframe {
		margin-bottom: 30px;
		height: 350px;
	}
	.iq-banner-03 {
		.banner-text {
			margin-top: 20%;
		}
	}
	.iq-banner-02 {
		.banner-text {
			margin-top: 40%;
			h1 {
				font-size: 30px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}

}
