[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
flask-session = "*"
redis = "*"
"flask.ext" = "*"
dbutils = "*"
wtforms = "*"
flask-script = "*"
eventlet = "*"
greenlet = "*"
flask-wtf = "*"
markupsafe = "*"
jinja2 = "*"
werkzeug = "*"
dnspython = "*"
six = "*"
python-engineio = "==3.13.2"
python-socketio = "==4.6.0"
flask-socketio = "==4.3.1"

[dev-packages]

[requires]
python_version = "3.8"
