.scroller {
	overflow-y: auto;
	scrollbar-color: $primary $primary-light;
	scrollbar-width: thin;
	&::-webkit-scrollbar-thumb {
		background-color: $primary;
	}
	&::-webkit-scrollbar-track {
		background-color: $primary-light;
	}
	&::-moz-scrollbar-thumb {
		background-color: $primary;
	}
	&::-moz-scrollbar-track {
		background-color: $primary-light;
	}
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 20px;
}
::-moz-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	background: $border-color;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background: $secondary;
	border-radius: 20px;
	&:hover {
		background: $dark;
		border-radius: 20px;
	}
}
::-moz-scrollbar-thumb {
	background: $secondary;
	border-radius: 20px;
	&:hover {
		background: $dark;
		border-radius: 20px;
	}
}
::-webkit-scrollbar {
	width: 4px;
	height: 8px;
	@if $enable-rounded == true {
		@include radius-mixin($border-radius);
	}
}
::-moz-scrollbar {
	width: 4px;
	height: 8px;
	@if $enable-rounded == true {
		@include radius-mixin($border-radius);
	}
}
.scrollbar-thumb {
	width: 4px !important;
}
.scrollbar-track-y {
	width: 4px !important;
}


body {
	font-family: $font-family-base;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: normal;
	padding: 0;
	margin: 0;
	color: $body-color;
	background: $body-bg;
}
a:hover{
	text-decoration: none;
}
.btn i {
    margin-right: 5px;
}
.iq-mb-3 {
    margin-bottom: 30px !important;
}
h1 {
	font-family: $font-family-title;
	font-weight: 500;
	margin: 0px;
	line-height: 1;
	color: $body-title;
	font-size: $h1-font-size;
	a {
		color: inherit;
	}
}
h2 {
	font-family: $font-family-title;
	font-weight: 500;
	margin: 0px;
	line-height: 1.5;
	color: $body-title;
	font-size: $h2-font-size;
	a {
		color: inherit;
	}
}
h3 {
	font-family: $font-family-title;
	font-weight: 500;
	margin: 0px;
	line-height: 1.5;
	color: $body-title;
	font-size: $h3-font-size
	a {
		color: inherit;
	}
}
h4 {
	font-family: $font-family-title;
	font-weight: 500;
	margin: 0px;
	line-height: 1;
	color: $body-title;
	font-size: $h4-font-size;
	a {
		color: inherit;
	}
}
h5 {
	font-family: $font-family-title;
	font-weight: 500;
	margin: 0px;
	line-height: 1.5;
	color: $body-title;
	font-size: $h5-font-size;
	a {
		color: inherit;
	}
}
h6 {
	font-family: $font-family-title;
	font-weight: 500;
	margin: 0px;
	line-height: 1.5;
	color: $body-title;
	font-size: $h6-font-size;
	a {
		color: inherit;
	}
}
button:focus{
	outline: none;
}
.line-height {
    line-height: normal;
}
.rounded-normal,.rounded-small{
	@if $enable-rounded == true {
		@include radius-mixin($border-radius-normal) ;
	}
}
:focus{
	outline: none;
}
.text-break{
	word-break: break-all;
}
.border-none{
	border:none!important;
}
.breadcrumb-item+.breadcrumb-item {
		&::before {
			margin-top: 5px;
		}
}
.user-list-files{
	justify-content: flex-end;
	a {
    padding: 10px 15px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    line-height: normal;
	}	
} 
code{
	color: $danger;
}
.slick-loading {
	.slick-list{
		background: transparent !important;
	}
}
ul.iq-edit-profile{
	li{
		a{
			padding: 1rem 1rem!important;
			text-align: center;
		}
	}
} 
.change-mode{
	margin-right: 9px;
	.custom-switch.custom-switch-icon{
		.custom-control-input {
			&:checked~.custom-control-label {
				&:after {
					transform: translateX(1.6rem);
					
				}
				&:before{
					background-color: $dark-body-bg;
					border-color:$dark-body-bg;
				}
			}
			height: 100%;			
		}
		label.custom-control-label{
			height: 21px;
			&:after{
				top: 3px;
				left: 4px;
				width: 17px;
				height: 17px;
				@if $enable-rounded == true {
					@include radius-mixin($border-radius-circle);
				}
				background-color: $bodytext;
			}
			&:before{
				width: 3.1rem;
				height: 23px;
				top:0;
				left:1px;
				background-color: $white;
				border-color: $bodytext;
				@include radius-mixin(30px);				
			}
			.switch-icon-left{
				top:1px;
				i{
					font-size: 12px;
				}
			}
			.switch-icon-right{
				right:-2px;
				top:2px;
				i{
					font-size: 12px;
				}
			}
		}
	}
}

.custom-control-input {
	&:focus~.custom-control-label {
		&:before {
			box-shadow: none!important;
		}
	}
}
g[aria-describedby="id-22-description"] {
    stroke: none;
}
@media (min-width:1400px) {
	.container {
		max-width: 1300px;
	}
	.container-lg {
		max-width: 1300px;
	}
	.container-md {
		max-width: 1300px;
	}
	.container-sm {
		max-width: 1300px;
	}
	.container-xl {
		max-width: 1300px;
	}
}
@media (max-width: 1300px){
 .flatpickr-rContainer{
            padding-right: 40px;
        }
        .flatpickr-months {
            .flatpickr-next-month {
                padding-right: 40px;
            }
            .flatpickr-prev-month {
                padding-right: 40px;
            }
        }
        .flatpickr-current-month {
	        left: 7.5%;
        }
}
@media (min-width:1300px) and (max-width:1500px){
	h3{
		font-size: 1.5em;
	}
}

@media(max-width: 1199px){
	h2 {
		font-size: 1.8em;
	}
	h3{
		font-size: 1.6em;
	}
}
@media (max-width: 767px){
	.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: block;
    overflow-x: auto;
}
.tree{
	display: inline-table;
}
}
@media (max-width: 575px){
	.user-list-files {
		justify-content: center;
		margin-top:15px;
	}
}


