// menu

.iq-sidebar.sidebar-double-icon {
	.iq-sidebar-menu {
		.iq-menu {
			li {
				a {
					i {
						font-size: 26px;
						margin: 0px;
						width: auto;
					}
					padding: 20px 0px 0px;
					height: 100px;
					width: 100px;
					margin: 0 auto;
					text-align: center;
					overflow: unset;
					display: inline-block;
					margin: 3px;
					background-color: $body-bg;
					@if $enable-rounded == true {
						@include radius-mixin($border-radius);
					}
					@if $enable-transitions == true {
						@include transition-mixin(all 0.3s ease-in-out);
					}
					&:hover {
						background-color: $primary;
						color: $white;
						@if $enable-transitions == true {
							@include transition-mixin(all 0.3s ease-in-out);
						}
					}
					span {
						display: block;
						font-size: 13px;
						margin-top: 15px;
					}
					
				}
				a.active{
						background-color: $primary;
						color: $white;
						@if $enable-transitions == true {
							@include transition-mixin(all 0.3s ease-in-out);
						}
					}
				
					
				
			}
		}
		ul.iq-menu {
			margin: 0 15px;
		}
    }
    #sidebar-scrollbar {
		height: calc(100vh - 120px);
	}
	.double-icon-height {
		margin: 30px 0;
		padding: 30px 0;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
	.iq-menu-bottom {
		margin: 0 15px;
		li {
			>a {
				color: $body-text;
				padding: 10px 0;
				display: block;
				> i.iq-arrow-left{
					font-size: 20px;
					margin-right: 10px;
				}
			}
			
		}
	}
}
.bg-nav-horizontal.device-school-menu {
	width: calc(100% - 260px);
	left: auto;
	border-radius: 0;
	background: $white;
	margin-top: 73px;
	padding-bottom: 15px;
	padding-left: 30px;
	.navbar-nav.h-custom-menu {
		.nav-link {
			color: $primary;
			padding-right: .5rem;
			padding-left: .5rem;
			border-radius: 5px;
		}
	}
	.navbar-light {
		.navbar-nav.h-custom-menu {
			.active {
				>.nav-link {
					background: $primary;
				}
			}
			.nav-link {
				&:hover {
					background: $primary;
				}
			}
		}
	}
}
.iq-menu-horizontal {
	.iq-sidebar-menu {
		.iq-menu {
			li.active {
				>a {
					color:$primary;
				}
			}
		}
	}
}
.menu-icon-right {
    height: 23px;
    width: 23px;
    line-height: 23px;
    text-align: center;
    padding: 0;
}
// content
.iq-result-info {
	flex: 1;
}
.school-text {
	padding-top: 100px;
}
.sidebar-double-icon {	
	.iq-top-navbar {
		.school-navbar {
			position: static;
		}
	}
	.search-content{
		display: block;
	}
	.iq-search-bar{
		.searchbox{
			width:100%;
		}
	} 
}
.user-info {
	.dropdown-toggle {
		&::after {
			display: none;
		}
	}
}
.user-image {
	.icon-text {
		position: absolute;
		height: 25px;
		width: 25px;
		line-height: 25px;
		right: -2px;
		top: 50px;
	}
}
#school-chart-04 {
    min-height: 290px;
}

#school-chart-02 {
    max-height: 170px;
}
.welcome-block {
	h4 {
		line-height: 1.5;
	}
}
#school-chart-04 {
    min-height: 270px !important;
}
.iq-overlay-image-block {
    position: absolute;
    top: -30px;
    left: auto;
    right: -10px;
    font-size: 100px;
    color: rgba(0,0,0,0.05);
}
.sidebar-double-icon {
    .fit-icon-2{
       font-size: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}  
}

@media (max-width: 1500px){
	.sidebar-double-icon {
		.iq-search-bar {
			.searchbox {
				width: 300px;
			}
		}
	}
}
@media (min-width:1300px) {
    .iq-sidebar.sidebar-double-icon {
	width: 200px;
}
.sidebar-double-icon {
	.iq-top-navbar {
		width: calc(100% - 200px);
	}
	.content-page {
		margin-left: 200px;
		padding-top: 105px;
	}
	.iq-menu-bt-sidebar {
		display: none;
	}
	
	.iq-page-menu-horizontal {
		.content-page {
			margin-left: 0px;
			background: $body-bg;
			position: relative;
			padding: 100px 50px 0px;
		}
	}
	.iq-footer {
		margin-left: 200px;
		width: calc(100vw - 205px);
	}
}


}

@media (max-width:1299px) {
    .bg-nav-horizontal.device-school-menu {
	display: none;
}
.sidebar-double-icon {
	.iq-menu-horizontal {
		display: none;
	}
}

}

@media (max-width:991px) {
    .school-text {
	padding-top: 20px;
}
.sidebar-double-icon {	
	.iq-footer {
		margin-left: 0px;
	}
}

}