.a-rotate {
    font-size: 24px;
    @include transform-mixin( rotate(49deg));
}
.a-rotate.a-rotate-down {
    @include transform-mixin( rotate(-149deg));
}
.content-page.social-content {
	padding: 155px 15px 0px;
}
.apexcharts-legend-marker {
	width: 8px !important;
	height: 8px !important;
	@if $enable-rounded == true {
        @include radius-mixin($border-radius-circle);
    }
}
.like-box {
	li {
		display: inline-block;
		margin-right: 10px;
		a {
			i {
				color: $body-text;
			}
			color: $body-text;
			&:hover {
				i {
					color: $primary;
				}
			}
		}
	}
}

#social-chart-01 {
	min-height: 234px !important;
}
#social-chart-02 {
	min-height: 100px !important;
}
#social-chart-03 {
	min-height: 100px !important;
}
#social-chart-04 {
	min-height: 190px !important;
	.apexcharts-canvas {
		height: 200px !important;
		margin-top: -20px;
	}
}
#social-chart-05 {
    min-height: 310px !important;
}
.calendar-s {
	td[data-date="2020-11-13"] {
		background:$danger-light;
	}
	td[data-date="2020-11-02"] {
		background: $warning-light;
	}
	td[data-date="2020-11-12"] {
		background: $success-light;
	}
	td[data-date="2020-12-07"] {
		background: $info-light;
	}
	td[data-date="2020-12-10"] {
		background: $primary-light;
	}
	td[data-date="2020-11-16"] {
		background: $dark-light;
	}
	td[data-date="2020-11-28"] {
		background: $purple-light;
	}
	td[data-date="2020-12-16"] {
		background: $success-light;
	}
	.fc-unthemed {
		td.fc-today {
			background: $primary-light !important;
			color: $white;
		}
	}
}
#calendar-s {
	.fc-day-grid-event {
		background-color: transparent !important;
		border-color: transparent !important;
	}
}
.top-menu {
	.iq-search-bar {
		margin: 15px 0;
		.searchbox{
			width: 260px;
		}
		.search-input {
			background: $primary-dark;
			border-color: $primary-dark;
		}
	}
}
.invoice-info {
	.invoice-text {
		width: 120px !important;
	}
}
.follower-info {
    width: 200px;
}
.follower-info {
	>.d-flex {
		width: 210px;
	}
}
// sidebar

.tab-horizontal {
	.iq-sidebar-menu {
	.iq-menu {
		li.active {
			>a {
				>i.iq-arrow-left {
					color: $white;
				}
			}
		}
	}
}

	.navbar-list {
	li {
		>a {
			color: $white;
		}
	}
}
	.iq-navbar-logo {
			>a {
				display: block;
			}
		}
	.iq-top-navbar {
		width: 100%;
		.top-menu {
			background: $primary;
			padding-left: 30px;
			padding-right: 30px;
		}
		.tab-second-menu {
			background: $white;
			padding-left: 30px;
			padding-right: 30px;
		}
		.iq-bottom-horizontal {
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
			&:before {
				border-left: 2px solid $border-color;
				content: "";
				position: absolute;
				height: 30px;
				width: 1px;
				left: 15px;
				top: 10px;
			}
			&:after {
				border-left: 2px solid $border-color;
				content: "";
				position: absolute;
				height: 30px;
				width: 1px;
				right: 15px;
				top: 10px;
			}
			.iq-sidebar-menu {
				.iq-menu {
					li {
						a {
							font-size: 14px;
						}
					}
					&:hover{
						a{
							color: $primary;
						}
					}
				}
			}
		}
	}
	.content-page {
		margin-left: 0px;
	}
	.iq-navbar-custom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar-list {
		li {
			.iq-search-bar {
				.form-control {
					&::placeholder {
						color: $white !important;
					}
				}
			}
		}
	}
}


@media(min-width:1300px) {
    .tab-horizontal {
	.iq-top-navbar {
		.iq-navbar-logo{
			display: flex !important;
		}
		.iq-menu-bt {
			// display: block !important;
			padding: 0px;
			.wrapper-menu {
				display: none;
			}
		}
		
	}
	.top-menu {
		.iq-sidebar-menu {
			.iq-menu {
				>li {
					&:first-child {
						a {
							padding-left: 20px;
						}
					}
					>a {
						color: $white;
						@if $enable-rounded == true {
                            @include radius-mixin($border-radius);
                        }
						
					}
					&:hover {
						> a{
							background: $primary-dark;
							color: $white;
						}
							
						}
				}
			}
		}
		
	}
}


}

@media (max-width:1299px) {
    .tab-horizontal {
	
	.iq-top-navbar {
		.iq-sidebar-logo{
			.wrapper-menu{
				color: $primary;
			}
		}
		.wrapper-menu{
			color: $white;
		}
		.tab-second-menu {
			display: block;
			width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
		.iq-menu-bt {
			padding: 0;
			.wrapper-menu{
				color: $white;
			}
		}
	}
	
}

}

@media (max-width: 991px){
	.tab-horizontal{
		.iq-top-navbar{
			padding: 0 !important;
		}	
		.top-menu {		
		.wrapper-menu {
			color: $white;
		}
		.navbar-collapse {
			z-index: 99;
			top: 60px;
		}
		
		.iq-navbar-custom {
			nav.navbar {
				position: static;
			}
		}
		.navbar-light {
			.navbar-toggler {
				color: $white;
				background: transparent;
				padding: 10px 0;
			}
		}
	}
	.navbar-list {
		li {
			>a {
				color: $body-text;
			}
		}
	}
	}
	#social-chart-04 {
	.apexcharts-canvas {
		height: auto !important;
		margin-top: 0;
	}
}
.content-page.social-content{
	padding: 125px 15px 0;
}

}
@media (max-width: 767px){
	.tab-horizontal {
		.iq-top-navbar {
			.top-menu {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.content-page.social-content {
			padding: 155px 0 0;
		}
}

}
@media (max-width: 479px){
	.tab-horizontal{
		.top-menu {
			.iq-search-bar {
				.searchbox {
					width: 200px;
				}
			}
		}
		.fc-left{
			display: flex;
		}
		.fc-toolbar h2{
			font-size: 18px !important;
			text-align: center;
		}
		#social-chart-05{
			.apexcharts-legend.center.position-bottom {
				bottom: 0px !important;
			}
		}
		
	}
	
}
@media (max-width: 320px){
	.tab-horizontal{
		.fc-center{ 
			margin: 0px 15px;
		}
	}
}