.dobule-navbar {
	.iq-top-navbar {
		width: 100%;
        padding: 0;
        background:$white;
	}
	.content-page {
        margin-left: 0;
        padding-top: 35px;
	}
	.iq-footer {
        margin-left: 0;
        width: 100%;
    }
    .iq-search-bar {
        .searchbox {
            width: 200px;
            margin-left: 15px;
        }
        .search-input {
            border: none;
            padding-left: 25px;
            padding-right: 15px;
        }
        .search-link {
            left: 6px;
            right: auto;
        }
    }
    .iq-sidebar-top {
        padding: 0;
        border: none;

        .menu-icon {
			& > a {
                color: $body-text;
                height: 35px;
                line-height: 38px;
                width: 50px;
                border-radius: 5px;

                &:hover {
                    background: $primary;
                    color: $white;
                }
			}
		}
    }
    .progress {
		&.progress-round {
			height: 80px;
			width: 80px;
			line-height: 85px;
			.progress-value {
				left: 25px;
			}
		}
    }
}
    
@media(min-width:1300px) {
    .dobule-navbar {
        .white-bg-menu.sticky-menu{
            background: $white;
        }
        .white-bg-menu {
            border-top: 1px solid #f1f1f1;
            background: transparent;
            box-shadow: none;
            .iq-menu-horizontal {
                .iq-sidebar-menu {
                    .iq-menu {
                        & > li {
                            margin-right: 15px;

                            & > a {
                                &:before {
                                    display: none;
                                }
                                &:first-child {
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }  
        .iq-top-navbar {
            .iq-navbar-logo {
                display: flex!important;
            }
        }      
    }
}
@media(max-width:1299px) {
    .dobule-navbar {
        .content-page  {
            padding-top: 120px;
        }
        .iq-sidebar-top {
            display: none;
        }
    }
    .card.adv-card{
        height: 300px;
       
    }
}
@media(max-width:991px) {
    .dobule-navbar {
        .content-page  {
            padding-top: 100px;
        }
    }
}
