
.progress-round.income-progress.salon2-progress-warning {
	&::after {
		border: 10px solid $warning-light;
	}
}
.salon-2.media-support-danger {
	flex: 1;
}
.progress-round.income-progress.salon2-progress-danger {
	&::after {
		border: 10px solid $danger-light;
	}
}
.salon-2.media-support-success {
	flex: 1;
}
.salone-styles {
	.slick-slide {
		padding: 0 7px;
	}
	.NextArrow {
		position: absolute;
		top: -70px;
		z-index: 999;
		background: transparent;
		border: none;
		color: $title-text;
		font-size: 18px;
		right: 0;
	}
	.PreArrow {
		position: absolute;
		top: -70px;
		z-index: 999;
		background: transparent;
		border: none;
		color: $title-text;
		font-size: 18px;
		right: 30px;
		@include opacity-mixin(0.4);
		&:focus {
			@include opacity-mixin(1);
		}
	}
}
.chart-salon {
	max-width: 184px;
}
.h-salon-logo {
	width: 120px;
}
.salon-search {
	.form-control {
		color: $white;
		border: none;
		height: 38px;
		padding-left: 40px;
		padding-right: 20px;
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-bottom: 1px solid $white;
		&::placeholder {
		color: $white !important;
		@include opacity-mixin(1);
		}
		&:-ms-input-placeholder {
			color: $white !important;
		}
		&::-ms-input-placeholder {
			color: $white !important;
		}
	}
	span {
		position: absolute;
		z-index: 10;
		font-size: 16px;
		line-height: 38px;
		left: 13px;
		top: 0;
		color: $white;
	}
}
body.salon-2-saidbar-main {
	background: $nyon-green-shade;
	.l-horizontal {
		.search-content {
			display: none;
		}
	}
}
.salon-2-saidbar-main {
	.iq-top-navbar {
		.iq-user-dropdown {
			z-index: 999;
		}
		.nav-item{
			span.dots{
				animation: shadow-pulse-dots-white 1s infinite;
			}
		}
	}
	.iq-footer{
		margin-left: 15px;		
		width: calc(100vw - 35px);
		margin-top:30px;
		border-radius: 15px 15px 0 0;
	}
	.main-scroll {
		&::-webkit-scrollbar {
			width: 2px;
			height: 3px;
		}
	}
	.slick-aerrow-block{
		button.slick-arrow{
			background:$success 0 0 no-repeat padding-box;			
			&:hover{
				background:$white;	
				&:before{
					color:$success!important;
				}			
			}
		}
	} 
}
.iq-top-navbar.salon2-topbar {
	background: $nyon-green-shade;
	padding: 0px;
	position: relative;
}

.nav-tabs.h-tabs {
	.nav-link.active {
		background: $body-bg;
		color: $nyon-green-shade;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius-top);
		}
		border-bottom: none;
	}
	.nav-link {
		&:hover {
			background: rgba(255,255,255,.2);
			color: $white;
			@if $enable-rounded == true {
				@include radius-mixin($border-radius-top);
			}
		}
		padding: 15px 30px;
		margin-right: 15px;
	}
	.nav-item {
		a {
			color: $white;
			border-bottom: none;
		}
		margin-bottom: 0;
	}
	border-bottom: none;
	margin-bottom: 0;
	.nav-item.show {
		.nav-link {
			border-bottom: none;
		}
	}
}
.salon-2-saidbar-main {
	.iq-navbar-logo {
		>a {
			display: block;
		}
	}
}
.welcome-image {
    width: 65%;
}
#salon2-chart-09 {
    color: $body-text;
}
.salon-2-saidbar-main {
	.bg-nav-horizontal.menu-down {
			position: fixed;
			left: 0;
			right: 0;
			z-index: 9;
			top: 0;
			padding: 15px 30px 0;
			-webkit-animation-name: animationFade;
			-o-animation-name: animationFade;
			animation-name: animationFade;
			-webkit-animation-duration: 0.7s;
			-o-animation-duration: 0.7s;
			animation-duration: 0.7s;
			-webkit-animation-fill-mode: both;
			-o-animation-fill-mode: both;
			animation-fill-mode: both;
		}
	.bg-nav-horizontal {
		background: $nyon-green-shade;
		margin: 0 -15px 30px;
	}
		.content-page.salon2-content {
			padding: 0 15px 0px;
			margin-right: 15px;
			margin-left: 15px;
			background: $body-bg;
			@if $enable-rounded == true {
				@include radius-mixin(0 15px 15px 15px);
			}
		}
		.iq-top-navbar.fixed {
			.bg-nav-horizontal {
				position: fixed;
				left: 0;
				right: 0;
				top: 0;
				background: $nyon-green-shade;
				padding-top: 15px;
				-webkit-animation-name: animationFade;
				-o-animation-name: animationFade;
				animation-name: animationFade;
				-webkit-animation-duration: 0.7s;
				-o-animation-duration: 0.7s;
				animation-duration: 0.7s;
				-webkit-animation-fill-mode: both;
				-o-animation-fill-mode: both;
				animation-fill-mode: both;
			}
		}

	}
#salon2-chart-05{
	min-height: 280px!important;
}
#salon2-chart-06{
	min-height: 275px!important;
}
.salon-2-saidbar-main{
	.iq-menu-horizontal {
		.iq-sidebar-menu{
			.iq-menu {
				li{
					a{
						&:hover{
							color: #37e6b0;
						}
					}
				}
				.iq-submenu{
					li.active{
						>a{
							color: #37e6b0;	
						}
					}
				}				
			}
		}
	}
}
@media(min-width:1300px) {
	.salon-2-saidbar-main {
		
		.bg-nav-horizontal {
			position: relative;
			@if $enable-rounded == true {
				@include radius-mixin(0);
			}
		}
		.iq-top-navbar {
			.iq-navbar-logo{
				display: flex !important;
			}
			.iq-menu-bt {
				display: block !important;
				padding: 0px;
				margin: 0;
				.wrapper-menu {
					display: none;
				}
			}
			.iq-navbar-logo {
				>a {
					display: block;
				}
			}			
		}
		.iq-menu-horizontal {
			.iq-sidebar-menu {
				.iq-menu {
					>li {
						&:first-child {
							a {
								padding-left: 15px;
							}
						}
						>a {
							background: rgba(255, 255, 255, 0.2);
							color: $white;
							@if $enable-rounded == true {
								@include radius-mixin($border-radius);
							}
							padding: 15px;
							margin: 0 5px;
							
						}
						&:hover {
							> a{
								background:  rgba(255, 255, 255, 0.3);
								color: $white;
							}
								
							}
					}
					li.active {
						>a {
							>i.iq-arrow-left {
								color: $white;
							}
						}
					}
				}
			}
		}
		
		.salon2-topbar {
			a {
				color: $white;
			}
			.navbar-light {
				.navbar-nav {
					.nav-link {
						color: $white;
					}
				}
			}
		}
		.header-style-5 {
			.navbar-nav {
				.nav-link {
					padding: .7rem 1rem !important;
				}
			}
			.dropdown-item {
				&:active {
					background: $body-bg !important;
					color: $white !important;
				}
			}
			.dropdown-menu {
				padding: 0;
			}
		}
		.iq-full-saibar {
			display: none;
		}
	

}
}

@media(min-width:1200px) and (max-width:1300px) {
	.salon-2-saidbar-main{
		.progress-round.income-progress{
			height: 58px;
    		width: 58px;
		}
		.res-block{
			.iq-icon-box{
			width: 45px;
			height: 45px;
			min-width: 45px;
			line-height: 45px;
				svg{
					width: 30px;;
				}		
			}
		}
		
	}
}
@media(max-width:1299px) {

.h-salon-logo {
	display: none;
}
form.salon-search {
	width: 330px;
}
.salon-search {
	&::placeholder {
		color: $white !important;
		@include opacity-mixin(1);
	}
	&:-ms-input-placeholder {
		color: $white !important;
	}
	&::-ms-input-placeholder {
		color: $white !important;
	}
}
.salon-2-saidbar-main {
	.iq-top-navbar {
		.tab-second-menu {
			display: block;
			width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
		.iq-menu-bt {
			padding: 0;
		}
	}
	.iq-menu-horizontal {
		.wrapper-menu {
			color: $primary;
		}
		z-index: 99;
		ul.iq-menu {
			display: block !important;
			background: $white;
		}
		.iq-sidebar-menu {
			.iq-menu {
				li {
					a {
						padding: 15px 20px 15px 30px;
						&:hover {
							color: $primary;
						}
					}
					ul {
						position: static;
						box-shadow: none;
					}
				}
			}
		}
	}
	.wrapper-menu {
		color: $white;
	}
	.navbar-collapse {
		z-index: 99;
	}
	.navbar-list {
		li {
			>a {
				color: $white;
			}
		}
	}
	.nav-item {
		span.dots {
			background: $primary !important;
		}
	}
	.iq-navbar-custom {
		nav.navbar {
			position: static;
		}
	}
	.navbar-light {
		.navbar-toggler {
			color: $white;
			border-color: $border-color;
			background: transparent;
		}
	}
}
.salon-2-saidbar-main.sidebar-main {
	.iq-menu-horizontal {
		@include opacity-mixin(1);
		left: 0;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		@if $enable-rounded == true {
			@include radius-mixin(0);
		}
	}
}

}

@media(min-width:992px) and (max-width:1024px){
	.salon-2-saidbar-main{
		.mini-chart{
			.iq-cart-text.country-text{
				padding-left:70px;
				.res-align{
					display: block!important;
				}
			}
		}
		#hospital2-chart-04 {
			min-height: 240px!important;
		}
	}
	
}


@media(max-width:991px) {
	body.salon-2-saidbar-main {
	.l-horizontal {
		.search-content {
			display: block;
		}
	}
}
.salon-2-saidbar-main {
	.navbar-list {
		li {
			>a {
				color: $primary;
			}
		}
	}
	.iq-top-navbar{
		.nav-tabs.h-tabs{
			li{
				line-height: normal!important;
			}
		}
	}
	
}

}

@media (max-width: 767px){
	.salon-2-saidbar-main {
	.nav-tabs.h-tabs {
		overflow-x: auto;
		overflow-y: hidden;
		flex-wrap: nowrap;
		.nav-link {
			white-space: nowrap;
		}
	}
}

}

@media (max-width: 479px){
	body.salon-2-saidbar-main {
	.navbar-list {
		li {
			>a {
				padding: 0 8px;
			}
		}
	}
	.res-avatar{
		height: 80px;
		width: 80px;
		line-height: 80px;
		min-width: 80px;
	}
	.res-colum{
		flex-direction: column;
		align-items: flex-start!important;
	}
}

}