// sidebar design

.iq-progress-bar.progress-bar-vertical {
	width: 2px;
	min-height: 110px;
	display: flex;
	align-items: flex-end;
	float: right;
	@if $enable-rounded == true {
        @include radius-mixin($border-radius);
    }
	>span {
		height: 0;
		width: 100% !important;
		&:after {
			content: "";
			width: 18px;
			height: 18px;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius-circle);
            }
			background: $white;
			border: 3px solid transparent;
			position: absolute;
			top: -3px;
            left: 50%;
            @include transform-mixin( translateX(-50%));
			z-index: 1;
		}
	}
	>span.bg-danger {
		&:after {
			border-color: $danger;
		}
	}
	>span.bg-success {
		&:after {
			border-color: $success;
		}
	}
}
.dot-top {
	position: absolute;
	right: -6px;
	top: -3px;
	width: 18px;
	height: 18px;
	background: $warning;
	@if $enable-rounded == true {
        @include radius-mixin($border-radius-circle);
    }
	border: 5px solid $white;
}
.doc-list {
	.dc-img {
		width: 33.33%;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.flatpickr-day.today {
	background: $primary;
	color: $white;
	&:hover {
		border-color: $primary-dark;
		background: $primary-dark !important;
		color:$white;
	}
	&:focus {
		border-color: $primary-dark;
		background: $primary-dark !important;
		color:$white;
	}
}
.flatpickr-day.inRange {
	background: $primary-light !important;
	border-color: transparent;
}
.flatpickr-day.prevMonthDay.inRange {
	background: $primary-light !important;
	border-color: transparent;
}
.flatpickr-day.nextMonthDay.inRange {
	background: $primary-light !important;
	border-color: transparent;
}
.flatpickr-day.today.inRange {
	background: $primary-light !important;
	border-color: transparent;
}
.flatpickr-day.prevMonthDay.today.inRange {
	background: $primary-light !important;
	border-color: transparent;
}
.flatpickr-day.nextMonthDay.today.inRange {
	background: $primary-light !important;
	border-color: transparent;
}
.flatpickr-day {
	&:hover {
		background: $primary-light !important;
		border-color: transparent;
	}
	&:focus {
		background: $primary-light !important;
		border-color: transparent;
	}
}
.flatpickr-day.prevMonthDay {
	&:hover {
		background: $primary-light !important;
		border-color: transparent;
	}
	&:focus {
		background: $primary-light !important;
		border-color: transparent;
	}
}
.flatpickr-day.nextMonthDay {
	&:hover {
		background: $primary-light !important;
		border-color: transparent;
	}
	&:focus {
		background: $primary-light !important;
		border-color: transparent;
	}
}
.half-circle {
	&:before {
		content: '';
		position: absolute;
		left: 15px;
		top: -14px;
		width: 145px;
		height: 140px;
		background-color: $white;
		@if $enable-rounded == true {
            @include radius-mixin($border-radius-circle);
        }
		border: 3px solid $primary;
        border-top: 3px solid transparent;
        @include transform-mixin(rotate(-45deg));
		z-index: -1;
	}
}
.half-c {
	margin-top: 15px;
}
#hospital2-chart-01 {
	min-height: 251px !important;
}
#hospital2-chart-02 {
	min-height: 350px !important;
}
#hospital2-chart-03 {
	min-height: 290px !important;
}
#hospital2-chart-06 {
    min-height: 265px!important;
}
.box-sidebar {
	.iq-sidebar-menu {
		.iq-menu {
			li {
				a {
					font-size: 16px;
					white-space: nowrap;
					display: block;
					color: $body-text;
					position: relative;
					padding: 15px 20px;
					line-height: 18px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					overflow: hidden;
					@if $enable-rounded == true {
                        @include radius-mixin($border-radius-normal);
                    }
					text-transform: capitalize;
					background: $body-bg;
					@if $enable-transitions == true {
                        @include transition-mixin(all 0.3s ease-in-out);
                    }
				}
				margin: 15px 25px;
				&:first-child {
					margin: 0 25px 15px;
				}
			}
			>li {
				>a {
					&:hover {
						background: $primary;
                        color: $white;
                        @include shadow-mixin(0 0.2rem 1.5rem rgba(71,136,255,.3));
					}
				}
			}
			>li.active {
				>a {
					background: $primary;
                    color: $white;
                    @include shadow-mixin(0 0.2rem 1.5rem rgba(71,136,255,.3));
				}
			}
		}
	}
	.iq-menu {
		li{
			&:hover{
				>a {
					>i.iq-arrow-left {
						color: $white !important;
					}
				}
			}
		}
		.active {
			>a {
				>i.iq-arrow-left {
					color: $white !important;
				}
			}
		}
	}
	.content-page {
		margin-left: 200px;
    }    
	.navbar-list {
		li {
			>a {				
				>img {
					width: 45px;
					height: 45px;
				}
			}
		}
	}
	.logo-box {
		display: flex;
	}
	.iq-sidebar{
		.data-scrollbar {
			height: calc(100vh - 150px);
		}
	}
	.flatpickr-current-month{ 
		padding:10px 0 0;
	}
	.flatpickr-innerContainer{
		padding-top: 15px;
	}
}
.seprator {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin: 25px;
}
.navbar-list {
	li {
		>a.box-square {
			line-height: normal;
			width: 45px;
			height: 45px;
			background: $danger-light;
			@if $enable-rounded == true {
                @include radius-mixin($border-radius);
            }
			margin-right: 12px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.p-pt {
	padding-top: 30px;
}
.tdy-appoin{
	.img-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		i{
			font-size: 40px;
			color:$primary;
		}
	}
	.top-title-text-block{
		padding-top:50px;
		padding-bottom:50px;
		margin-bottom:0;
	}
	.app-percentage{
		background:rgba(255,255,255,0.2);
		padding:6px 14px;
		color:$white;
		font-size:19px;
		font-weight: 700;
		@if $enable-rounded == true {
    		@include radius-mixin($border-radius);
		}
	}
	.pt-50{
		padding-top:50px;
	}
}
.c-medical-bg{
	height:100%;
	.medi-text{
		line-height: 1.2;
		color:$white;
	}
}
.recent-appo{
	.media{padding:11px;}
	.spc-20{margin-top:20px;}
	.read-ic{vertical-align: middle;}
}
.box-sidebar{
	.iq-top-navbar{
		.iq-search-bar.device-search {
			margin-right:12px;
			.searchbox {
				width:350px;
			}
			.search-input{
				height:42px;
			}
			.search-link{
				background-color:$danger-light;
				color:$danger;
				top: 0;
				bottom: 0;
				right: 0;
				width: 40px;
				text-align: center;
				line-height: 39px;
				@if $enable-rounded == true {
    				@include radius-mixin($border-radius-right);
				}
			}
		}
	}
	.profile-img{
		-ms-box-shadow: 0 16px 40px 0 rgba(0,0,0,0.12);
    	-o-box-shadow: 0 16px 40px 0 rgba(0,0,0,0.12);
    	box-shadow: 0 16px 40px 0 rgba(0,0,0,0.12);
	}
} 
@media(min-width:992px){
	.box-sidebar{
		.navbar-list{
			li{
				&:last-child{
					>a{
						padding:0;
					}
				}
			}
		}
	} 
} 
// @media(max-width:1200px) and (min-width:992px){
// 	.box-sidebar {
// 		.content-page{
// 			padding: 130px 15px 0;
// 		}
// 	}
// }

@media(max-width:1024px) and (min-width:992px){
	#hospital2-chart-04{
		min-height: 280px!important;
	}
}
@media(min-width:1440px){
	.medi-text{
		width:70%;
	}
}
@media (min-width: 1300px){
    .box-sidebar {
        .iq-sidebar-menu {
            .iq-menu {
                >li {
                    >a {
                        flex-direction: column;
                        padding: 30px;
                        &:before {
                            content: '';
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            background: rgba(255,255,255,0);
                            @if $enable-transitions == true {
                                @include transition-mixin(all 0.3s ease-in-out);
                            }
                            width: 116px;
                            height: 60px;
                            clip-path: circle(35.4% at 97% 100%);
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            bottom: 0px;
                            background: rgba(255,255,255,0);
                            @if $enable-transitions == true {
                                @include transition-mixin(all 0.3s ease-in-out);
                            }
                            width: 146px;
                            height: 60px;
                            clip-path: circle(35.4% at 97% 100%);
                        }
                        &:hover {
                            &:before {
                                background: rgba(255,255,255,0.2);
                            }
                            &:after {
                                background: rgba(255,255,255,0.1);
                            }
                        }
                    }
                }
                li {
                    a {
                        i.iq-arrow-left {
                            background: transparent;
                            color: $body-text;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;
                            @if $enable-rounded == true {
                                @include radius-mixin($border-radius-normal);
                            }
                            font-size: 40px;
                            margin: 0px;
                        }
                    }
                    >a {
                        >i.iq-arrow-left {
                            background: transparent;
                            color: $body-text;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;
                            @if $enable-rounded == true {
                                @include radius-mixin($border-radius-normal);
                            }
                            font-size: 40px;
                            margin: 0px;
                        }
                    }
                }
                >li.active {
                    >a {
                        &:before {
                            background: rgba(255,255,255,0.2);
                        }
                        &:after {
                            background: rgba(255,255,255,0.1);
                        }
                    }
                }
            }
		}
		.iq-navbar-logo{
			display: flex !important;
			>a{
				display: block;
			}
		}
		.iq-footer {
		margin-left: 200px;
		width: calc(100vw - 210px);
    	}
        .iq-sidebar {
            .wrapper-menu {
                display: none;
            }
            width: 200px;
        }
        .iq-top-navbar {
            width: calc(100% - 200px);
        }
    }
    
}


@media (max-width: 1299px){
    
    // .p-pt {
    //     padding-top: 0;
    // }
    .box-sidebar {
        // .navbar-nav.navbar-list {
        //     padding: 15px 0;
        // }
        .content-page {
            margin-left: 0;
        }
        .iq-footer {
            margin-left: 0;
        }
        
    }
    
}

@media (max-width: 991px){
	.c-medical-bg{
		height:440px;
		.medi-text{font-size: 28px;}
	}
	.box-sidebar{
		.navbar-list {
			display: flex;
			flex-direction: row;
			>li{
				&:last-child{
					>a{
						padding-left:0;
					}
				}				
			}
		}
	}
	
}
@media (max-width: 650px){
	.rat-no{
		bottom:10px;
	}
}

@media (max-width: 479px){
	.box-sidebar{
		.navbar-list{
			li{
				&:last-child{
					>a{
						
						padding-left: 0;
						
					}
				}				
			}
		}
	} 
	.current-time {
		display: none;
	}
}

@media (max-width: 320px){
	.box-sidebar { 
		.flatpickr-innerContainer{
			padding-right: 55px;
		}
		 .flatpickr-current-month {
			left: 6.5%;
		}
		.flatpickr-calendar{
			background: transparent;
		}
		.flatpickr-months {
			.flatpickr-next-month.flatpickr-next-month {
				padding-right: 60px;
			}
			.flatpickr-prev-month.flatpickr-next-month {
				padding-right: 60px;	
			}
		}

	}


	}
