// content
.iq-progress-bar {
	.progress-text-one {
		position: absolute;
		right: -20px;
		top: -30px;
		font-size: 13px;
		font-weight: 500;
		background: $danger;
		color: $white;
		padding: 0px 5px;
		@if $enable-rounded == true {
			@include radius-mixin($border-radius);
		}
	}
	>span.bg-primary {
		.progress-text-one {
			&:after {
				border-color: $primary transparent transparent transparent;
			}
		}
	}
	>span.bg-success {
		.progress-text-one {
			&:after {
				border-color: $success transparent transparent transparent;
			}
		}
	}
	>span.bg-warning {
		.progress-text-one {
			&:after {
				border-color: $warning transparent transparent transparent;
			}
		}
	}
	>span.bg-danger {
		.progress-text-one {
			&:after {
				border-color: $danger transparent transparent transparent;
			}
		}
	}
	>span.bg-dark {
		.progress-text-one {
			&:after {
				border-color: $dark transparent transparent transparent;
			}
		}
	}
	>span.bg-info {
		.progress-text-one {
			&:after {
				border-color: $info transparent transparent transparent;
			}
		}
	}
}
.progress-text-one {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
	}
}
.overly-style {
	position: absolute;
	left:0;
	right: 0;
	bottom: 110px;
	top: auto;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.style-img {
	position: relative;
}
.iq-upcoming {
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
}
.progress-round.goal-progress {
	width: 150px;
	height: 150px;
	&::after {
		border-width: 10px;
	}
	.progress-bar {
		border-width: 10px;
	}
}

.iq-salon1-saidbar  {
	.navbar-list {
		li {
			>a.toggle-icon-effect {
				height: 40px;
				width: 40px;
				line-height: 40px;
				padding: 0 12px;
				margin: 15px 10px;
			}
			
		}
	}
}

.iq-salon1-saidbar {
	#salon-scrollbar {
		overflow: unset !important;
	}
	.sidebar-bottom{
		background:$sidebar-navi-shade;
		padding: 26px 0px;
	}
	.salon-samall-saidbar {
		position: fixed;
		width: 260px;
		z-index: 999;
		left:-300px;
		top:0;
		height: 100vh;
		background: $sidebar-navi-shade;
		@if $enable-transitions == true {
			@include transition-mixin(all 0.3s ease-in-out);
		}
		@if $enable-shadows == true {
    		@include shadow-mixin($box-shadow);
		}
		.iq-menu-bt-sidebar{display: none;}
	}	
}
body.iq-salon1-saidbar.sidebar-main{
	.salon-samall-saidbar {
		left:0;
		.iq-sidebar-menu{
			.iq-submenu {
				li{
					a{color:$white;}
				}
			}
		}
		.iq-menu-bt-sidebar{
			display: block;
			.iq-menu-bt{
				margin: 0 0 0 15px;
			}
		}
	}	
}

.salon-samall-saidbar {
	.iq-sidebar-menu {
		height:71vh;
		.iq-menu {
			> li {
				>a {
					color: $white;
					padding: 10px 13px;
					margin: 0 15px 15px;
					background: rgba(255, 255, 255,0.1);
					@if $enable-rounded == true {
						@include radius-mixin($border-radius);
					}					
				}
				&:hover{
					>a {
						background-color: $primary;
						>i.iq-arrow-left {
							color: $white;
						}
					}
				}
			}
			> li.active {
				>a {
					background-color: $primary;
					>i.iq-arrow-left {
						color: $white;
					}
				}
			}
		}
    }
    .iq-sidebar-logo {
		padding: 15px;
		margin-bottom: 15px;
    }
}
.salon-saidbar-open {
	.iq-sidebar-menu {
		position: relative;
	}
}

body.iq-salon1-saidbar {
	.search-content {
		display: block;
	}
	.iq-menu-horizontal {
	.iq-sidebar-h-menu {
		.iq-menu {
			margin:0;
			padding:0;
			list-style: none;
			
			li {
				a {
					background: $body-bg;
					margin: 0 15px 0 0;
					padding: 10px 15px;
					@if $enable-rounded == true {
						@include radius-mixin($border-radius);
					}
				}
				&:hover{
					a{
						background: $primary;
						color: $white;
					}
				}
			}
			li.active{
				a{
					background: $primary;
					color: $white;
				}
			}
			
		}
	}
}
	.iq-search-bar {
		margin: 15px 10px;		
		.search-input{
			padding: 5px 15px 5px 45px;
		}
		.searchbox {
			.search-link{
				top: 13px;
				left: 15px;
				right: auto;
			}
		}
	}				
}

.iq-saidbar-ecoo {
	padding: 10px;
}
.wrapper-menu-click {
	font-size: 24px;
	text-align: center;
	line-height: 15px;
	color: $primary;
}

#salon-chart-02 {
    min-height: 200px !important;
}
#fit-progress-chart-02 {
    min-height: 280px !important;
}
#fit-progress-chart-01 {
    min-height: 250px !important;
}
#salon-chart-02 {
    min-height: 230px !important;
}
.salon1-big-font{
	position:absolute;	
	right: -29px;
	top: 0;
	bottom:0;
	font-size:195px;
	font-weight: 700;
	line-height:153px;
	color:$body-bg;
	z-index:-1;
}
.salon1-count{
	.card{
		z-index:9;
	}
}
.salon1-wecm{	
	.wid-90{width:90%;}
}
.apoin-btn{line-height: normal!important;padding: 6px 15px!important;margin:0 15px;}
.up-com{
	.iq-icon-box {
		margin-right: 15px;
	}
}
.iq-salon1-saidbar {
	.iq-search-bar .searchbox{
		width: 100%;

	}
}

@media (min-width: 992px) and (max-width:1024px){
	.iq-salon1-saidbar{
		.iq-navbar-logo{
			img{
				height:40px;
			}
		}
		.change-mode{
			margin-right:0;
		}
	}
}

@media (min-width: 992px) and (max-width:1300px){
	.salon1-wecm{
		.card-body{
		padding:25px;
		}
		h1{font-size: 2.8em;}
	}
	
}
@media (min-width: 992px) and (max-width:1199px){
	.salon1-wecm{
		.wid-90{width:60%;}
	}
	.iq-salon1-saidbar{
		.apoin-btn
		{	
			margin:0;
		}
	}	
}
@media (min-width: 1300px){

    body.iq-salon1-saidbar.sidebar-main {
		.iq-sidebar-logo {
			a {
				display: block;
			}
		}	
	}

	.iq-salon1-saidbar {
		.salon-samall-saidbar {
			z-index: 1030;
			width: 80px;			
			top: 0px;
			left: 0px;
			padding: 15px 0;
			display: flex;
			flex-direction: column;
			text-align: center;
			.iq-sidebar-menu {
				.iq-menu {
					li {
						ul {
							background: $white;
							position: absolute;
							display: block;
							top: 0;
							left: 100%;
							padding: 0;
							min-width: 200px;					
							@include opacity-mixin(0);
							visibility: hidden;
							@if $enable-rounded == true {
    							@include radius-mixin($border-radius-right);
							}
							@if $enable-transitions == true {
								@include transition-mixin(all 0.3s ease-in-out);
							}
							@if $enable-shadows == true {
    							@include shadow-mixin($box-shadow);
							}

						}
						&:hover{
							ul{
								@include opacity-mixin(1);
								visibility: visible;
								@if $enable-transitions == true {
									@include transition-mixin(all 0.3s ease-in-out);
								}								
							}
						}
						ul#layouts {
							max-height: 300px;
							overflow: auto;
						}
						ul#ui {
							max-height: 300px;
							overflow: auto;
						}
					}
				}
			}
			.sub-scrll{
				height:315px;
				overflow-y: scroll;
			}
			.iq-sidebar-logo {
				padding: 0 15px 15px;
			}
		}	
		.iq-footer{
			margin-left: 80px;
			width: calc(100vw - 85px);
		}	
		.iq-top-navbar {
			width: calc(100% - 80px);
		}
		.content-page {
			margin-left: 80px;
		}
		.salon-samall-saidbar {
			.iq-sidebar-menu {
				.iq-menu {
					> li {
						> a {
							> span{
								font-size: 0;
							}
							> i {
								font-size: 25px;
								margin: 0;
								color: $white;
							}
						}
					}
				}
			}
			.p-3{display:none;}	
		}
		.iq-navbar-logo{
			display: none!important;
		}
	}

    body.iq-salon1-saidbar.sidebar-main {
		.iq-sidebar-logo {
			a {
				display: block;
			}
		}
		
	}
body.iq-salon1-saidbar.sidebar-active {
	.iq-sidebar.salon-saidbar-open {
		width: 260px;
	}
	.iq-top-navbar {
		width: calc(100% - 320px);
	}
	.content-page {
		margin-left: 320px;
	}
}
	
	body.iq-salon1-saidbar.sidebar-active {
		.iq-sidebar.salon-saidbar-open {
			width: 260px;
		}
		.iq-top-navbar {
			width: calc(100% - 320px);
		}
		.content-page {
			margin-left: 320px;
		}
		.iq-footer {
			margin-left: 320px;
			width: calc(100% - 320px);
		}
	}			
}

@media (max-width:1200px) {
    body.iq-salon1-saidbar {	
		.iq-menu-horizontal {
			.iq-sidebar-h-menu {
				display: none !important;
			}
			.iq-navbar-logo{
				a{
					display: flex;
				}
			}
			
		}
	}
}
@media (max-width:1299px) {
	body.iq-salon1-saidbar.sidebar-main {
		.salon-samall-saidbar {
			.small-profl{
				display: none;
			}
			.set-text{
				display: none;
			}
		}		
	}
	body.iq-salon1-saidbar{
		.iq-footer{
			padding: 15px;
		}
	}
.iq-menu-horizontal {
	.iq-sidebar-h-menu {
		.iq-menu {
			li {
				a {
					&:first-child {
						padding-left: 20px;
					}
				}
			}
		}
	}
}
body.iq-salon1-saidbar.sidebar-active{
	.iq-sidebar.salon-saidbar-open{
		width: 0;
	}
}
body.iq-salon1-saidbar.sidebar-main{
	.salon-samall-saidbar {		
		.wrapper-menu{
			i{color:$white;}
		}
	}
}
.set-text{
	display: flex;
	align-items: center;
}
.small-profl{
	display: flex;
	align-items: center;
}

}

@media (max-width:1024px) {
	body.iq-salon1-saidbar {	
		.iq-menu-horizontal {
			.iq-navbar-logo{
				img{
					height:45px;
				}
			} 
		}
	}
}
@media (max-width:1024px) and (min-width:992px) {
	.progress-round.goal-progress {
		width: 100px;
		height: 100px;
	}
}

@media (max-width:991px) {
    .iq-salon1-saidbar {
		.navbar {
			position: static;
		}		
	}
	body.iq-salon1-saidbar {	
		.iq-navbar-custom {
			.navbar-nav.navbar-list {
				display: flex;
				flex-direction: row;
			}
		}
		.search-content{
			.iq-search-bar {
				margin: 0;
			}
		}
	}
	
}
@media (max-width:500px) {
	.salon1-wecm{background-image:none;}
}

@media (max-width:479px) {
    body.iq-salon1-saidbar {
		.iq-top-navbar {
			width: 100%;
		}
	}
	.apoin-btn{display: none!important;}
	.iq-sidebar.salon-saidbar-open.main-menu-open {
		width: 225px;
	}
	.iq-sidebar.salon-saidbar-open {
		&:hover {
			width: 225px;
		}
	}
}
