@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
    -ms-animation:     $name $duration $delay $ease;
    -o-animation:     $name $duration $delay $ease;
}