.profile-icon.iq-icon-box {
	height: 58px;
	width: 58px;
	line-height: 58px;
	text-align: center;
	margin-right: 10px;
	font-size: 26px;
	text-decoration: none;
}
.profile-overly {
	position: absolute;
	left: auto;
	bottom: 0;
	right: 0;
	background: $white;
	padding: 10px 30px;
	text-align: center;
	border-radius: 10px 10px 0 0;
}
ul.iq-contact-rest {
	li {
		a {
			p {
				word-break: break-all;
			}
		}
	}
}

@media(max-width:479px) {
    .profile-overly {
        h3{
            font-size: 14px;
        }
    }
}